<ams-title-bar
  pretext="Analytics & Reporting"
  title="Provider Participation"
  [subtitle]="totalProviders$ | async"
  information="Providers include both individual and institutional providers">
</ams-title-bar>

<div class="main-content mb-4">

  <div class="container-fluid">

    <!-- Filters and tools -->
    <div class="d-flex flex-row align-items-center m-0">
      <ams-analytics-filter-form class="d-flex flex-column flex-grow-1"></ams-analytics-filter-form>

      <div class="d-flex flex-row flex-grow-0 align-items-center justify-content-end mb-2 ml-5">
        <!-- <i
          class="fas fa-print fa-lg text-primary cursor-pointer mb-2 ml-4"
          tooltip="Print"
          placement="left"
          container="body"
          containerClass="mb-2">
        </i> -->

        <i
          class="fas fa-download fa-lg text-primary cursor-pointer ml-4"
          tooltip="Export to .CSV"
          (click)="downloadCsv()"
          placement="left"
          container="body"
          containerClass="mr-1 mb-2">
        </i>
      </div>
    </div>
    <!-- End filters and tools -->

    <!-- Overview of model statistics -->
    <div class="row ams-fade-in" *ngIf="!errors">
      <div class="col">

        <hr class="first-line" />

        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Overview of Model Statistics</h5>

            <span
              class="date-info date-preset ml-auto text-secondary"
              *ngIf="(datePreset$ | async)?.value !== 'custom'">
              {{(datePreset$ | async)?.label}}
            </span>

            <span
              [ngClass]="{ 'ml-auto': (datePreset$ | async)?.value === 'custom' }"
              class="date-info date-range ml-1 text-secondary">
              ({{currentDateRange$ | async}})
            </span>

          </div>
          <div class="card-body d-flex flex-row align-items-center">

            <ams-overview-model-statistics
              class="d-flex flex-column flex-grow-1"
              [dataHeaders]="overviewHeaders"
              [data]="modelStatisticsCharts$ | async"
              [loading]="modelStatisticsChartsLoading$ | async"
              [showViewProvidersLink]="false">
            </ams-overview-model-statistics>

          </div>
        </div>

      </div>
    </div>
    <!-- End overview of model statistics -->

    <!-- Model participant overview -->
    <div class="row ams-fade-in" *ngIf="!errors">
      <div class="col">

        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Model Participant Overview</h5>

            <span
              class="date-info ml-auto text-secondary"
              *ngIf="(datePreset$ | async)?.value !== 'custom'">
              {{(datePreset$ | async)?.label}}
            </span>

            <span
              [ngClass]="{ 'ml-auto': (datePreset$ | async)?.value === 'custom' }"
              class="date-info ml-1 text-secondary">
              ({{currentDateRange$ | async}})
            </span>

          </div>
          <div class="card-body">

            <ams-model-participant-overview
              class="d-flex flex-column flex-grow-1"
              [data]="modelParticipationCharts$ | async"
              [loading]="modelParticipationChartsLoading$ | async">
            </ams-model-participant-overview>

          </div>
        </div>

      </div>
    </div>
    <!-- End model participant overview -->

    <!-- Errors -->
    <div role="alert" class="row ams-fade-in" *ngIf="errors && errors.length">
      <div class="col">

        <hr class="mt-4" />

        <div class="card mt-4">
          <div class="card-body">

            <ams-error-messages class="d-flex flex-column text-center" [errors]="errors"></ams-error-messages>

          </div>
        </div>

      </div>
    </div>
    <!-- End errors -->

  </div>

</div>
