.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 10px 0;
  background: #f4f4f4;
}

.first-line {
  margin-top: 16px;
}

h5 {
  color: #1f425e;
}

.card-header {
  background-color: #ffffff;
  color: #1f425e;
}

.date-info {
  font-size: 14px;
}

.error-title {
  margin-bottom: 22px;
  color: #949494;
}
.error-icon {
  color: #949494;
  font-size: 64px;
}
.error-list {
  color: #949494;
}
