@import '../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

label {
  font-size: 14px;
}

.form-control {
  font-size: 14px;
}

.form-group.form-check {
  margin: 25px 1rem 0 0;
}

.cancel-btn {
  position: relative;
  margin-top: 23px;
  padding: 0 2px;
  border-bottom-left-radius: 2;
  border-top-left-radius: 2;
  line-height: 1.15;
  &:before {
    position: absolute;
    top: 0;
    right: 100%;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    border-right: 10px solid $danger;
    border-bottom: 14px solid transparent;
    content: '';
  }
  &.disabled, &[disabled] {
    cursor: not-allowed;
  }
  &:hover:before {
    border-right-color: #c82333;
  }

  i {
    font-size: 24px;
    transform: translateY(3px);
  }
}
