<form
  [formGroup]="form"
  class="d-flex flex-row flex-grow-1 align-items-center"
  (keydown.enter)="$event.preventDefault()"
  role="Provider Filter Form">

  <div class="d-flex flex-row flex-grow-1 flex-wrap align-items-center mr-5">
    <div class="form-group flex-grow-1 mr-3 mb-0">
      <label for="npis">NPI</label>
      <input type="text" id="npis" class="form-control" formControlName="npis" placeholder="e.g. 1245319599" />
    </div>

    <div class="form-group flex-grow-1 mr-3 mb-0">
      <label for="providerNames">Provider Name</label>
      <input
        type="text"
        id="providerNames"
        class="form-control"
        formControlName="providerNames"
        placeholder="e.g. John Smith" />
    </div>

    <div class="form-group flex-grow-1 mr-3 mb-0">
      <label for="entityNames">Entity Name</label>
      <input
        type="text"
        id="entityNames"
        class="form-control"
        formControlName="entityNames"
        placeholder="e.g. Single Specialty Group" />
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        id="joinedDuringSelectedDateRange"
        class="form-check-input joined-checkbox"
        formControlName="joinedDuringSelectedDateRange" />
      <label for="joinedDuringSelectedDateRange" class="form-check-label">Joined During Selected Date Range</label>
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        id="withdrawnDuringSelectedDateRange"
        class="form-check-input withdrawn-checkbox"
        formControlName="withdrawnDuringSelectedDateRange" />
      <label for="withdrawnDuringSelectedDateRange" class="form-check-label">
        Withdrawn During Selected Date Range
      </label>
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        id="providersInMultipleModels"
        class="form-check-input multiple-checkbox"
        formControlName="providersInMultipleModels" />
      <label for="providersInMultipleModels" class="form-check-label">Providers in Multiple Models</label>
    </div>
  </div>

  <button
    class="btn btn-danger cancel-btn"
    (click)="cancel()"
    [disabled]="form.pristine && form.untouched"
    aria-label="Cancel Form">
    <i class="mdi mdi-close"></i>
  </button>

</form>
