@import '../../../assets/sass/variables';

.content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
}

.section-divider {
  height: 12px;
  background-color: #e8eef1;
}

.modal-header {
  padding: 20px 0 10px 35px;
  align-items: center;

  .modal-title {
    flex-grow: 1;

    .modal-subheader {
      padding:0 0 10px 0;
      color: #757575;
      font-size: 13px;
    }
  }
}

.file-name > .value {
  word-wrap: break-word;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}

.file-detail-header {
  padding: 10px 10px 10px 35px;
  border: none;
  border-bottom: 1px solid #dce4e8;
  font-weight: bold;
  display: flex;
  align-items:center;

  .file-detail-title {
    flex-grow: 1;
    font-size: 1.1rem;
  }

  .file-detail-buttons {
    .mdi {
      padding:0 15px;
      color: #86a4b3;
      transition: $defaultTransition;

      &:hover {
        color: #009bdf;
      }
    }
    .mdi-download {
      border-right: 1px solid #dce4e8;
    }
    .mdi-delete {
      &:hover {
        color: #d73d32;
      }
    }
  }
}

.mdi-close {
  cursor: pointer;
  margin: 0 25px 0 0;
  padding: 0;
  color: #86a4b3;
  font-size: 32px;
  opacity: 0.6;
  transition: $defaultTransition;

  &:hover {
    opacity: 1;
  }
}

.remove-btn, .download-btn {
  cursor: pointer;
}

.file-details {
  margin: 0 35px;
  padding: 20px 0;

  .value {
    margin-top: 5px;
  }

  th, td {
    padding-right: 0;
    padding-left: 0;
  }

  button {
    width: 160px;
    background: #d92f2f;
  }
}

button {
  margin: 0 0 0 20px;
  padding: 0;
  width: 170px;
  outline: none;
  border: none;
  border-radius: 20px;
  background: #0094d9;
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 40px;
  transition: background linear 0.05s, color linear 0.05s;

  span {
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
  }

  &:disabled {
    opacity: 0.4;
  }
}

#green-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #008934;
}

#yellow-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(241, 184, 0);
}

#red-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f22210;
}

.toggle-all {
  color: #1a90d4;
  text-transform: uppercase;
  cursor: pointer;
  transition: $defaultTransition;
  &:hover {
    color: #27609c;
  }
}

.validation-results {

  .row {
    margin: 0 !important;
  }

  tr {
    border-bottom: 1px solid #dce4e8;
    margin: 0 35px;
    padding: 20px 0;
  }

  th:first-child {
    padding-left: 35px;
  }

  td:first-child {
    padding-left: 35px;
  }

  .header-records {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85rem;
    line-height: 1;
    padding: 15px 0 15px 20px;
    align-items: center;
    color: #748999;
  }

  > div {
    border-bottom: 1px solid #dbe4e8;
    min-height: 50px;
    align-items: center;
    padding-left: 20px;
  }

  .record-details-container {
    padding:0 0 0 50px;

    .child-row {
      > div {
        min-height: 50px;
        display: flex;
        align-items: center;
      }
    }
    .col-2 {
      padding-left: 0;

      &.special-padding {
        padding-left: 5px;
      }
    }
  }


}

.warning-record-details {
  .child-row-alternate {
    background: #fff8e3;
  }
}

.error-record-details {
  .child-row-alternate {
    background: #fff0f0;
  }
}


.expander {
  .mdi {
    transition: $defaultTransition;

    &:hover {
      background: red;
    }
  }
}
