<div class="content">
  <div class="modal-header">
    <div class="modal-title">
      <h3>File Upload Summary</h3>
    </div>
    <div aria-label="Close file upload summary dialog button" class="mdi mdi-close mb-1" (click)="onCloseModal()" tabindex="0" (keyup.enter)="onCloseModal()"></div>
  </div>
  <div *ngIf="file?.error" class="alert alert-danger">
    {{file.error}}
  </div>

  <div class="modal-body">
    <div class="section-divider"></div>
    <div class="file-detail-header">
      <div class="file-detail-title">File Details</div>
      <div class="file-detail-buttons">
        <i *ngIf="isSourceFile"
          tooltip="Download file"
          placement="bottom"
          aria-label="Download file button"
          (click)="onDownloadFile()"
          class="download-btn mdi mdi-download mdi-32px"
          tabindex="0"
          (keyup.enter)="onDownloadFile()"></i>
        <i tooltip="Delete file"
          placement="bottom"
          aria-label="Delete file button"
          (click)="onRemoveFile()"
          class="remove-btn mdi mdi-delete mdi-32px"
          tabindex="0"
          (keyup.enter)="onRemoveFile()"></i>
      </div>
    </div>
    <div class="file-details" id="validatedFile" *ngIf="!!file">
      <div class="row mb-3">
        <div class="col-md-6 file-name">
          <div class="label-sm">File Name:</div>
          <div class="value">{{file.file_name}}</div>
        </div>
        <div class="col-md-3">
          <div class="label-sm">Total Records:</div>
          <div class="value">{{file?.validations?.totalRecords}}</div>
        </div>
        <div class="col-md-3">
          <div class="label-sm">Date Uploaded:</div>
          <div class="value">{{file.createdAt.format('DD-MMM-YYYY')}}</div>
        </div>
      </div>
      <div class="row">
        <div [ngClass]="{
          'col-md-3': !isSourceFile,
          'col-md-6': isSourceFile
        }">
          <div class="label-sm">Model Name:</div>
          <div class="value">{{ isSourceFile? (model$ | async)?.name || 'N/A' : 'PAC File'}}</div>
        </div>
        <div class="col-md-3">
          <div class="label-sm">File Type:</div>
          <div class="value">{{file.import_file_type}}</div>
        </div>
        <div class="col-md-3" *ngIf="!isSourceFile">
          <div class="label-sm">Performance Year:</div>
          <div class="value">{{file.performance_year}}</div>
        </div>
        <div class="col-md-3">
          <div class="label-sm">Uploaded By:</div>
          <div class="value">{{file.uploadedBy}}</div>
        </div>
      </div>
    </div>

    <div class="section-divider"></div>

    <div class="table validation-results" *ngIf="isSourceFile && file.status !== 'error'">
      <div class="header-records row">
        <div class="col-6">Validation Results</div>
        <div class="col-2">Percentage of Results</div>
        <div class="col-2"># of Records</div>
        <div class="col-2 text-center" *ngIf="showToggleColumn"><span class="toggle-all" (click)="onToggleAll()" tabindex="0" (keyup.enter)="onToggleAll()" attr.aria-label="{{toggleAllText}} Button">{{toggleAllText}}</span></div>
      </div>
      <div class="row valid-records">
        <div class="col-6 d-flex align-items-center text-success-dark">
          <i class="text-success mdi mdi-checkbox-marked-circle mdi-24px mr-1"></i>Valid Records
        </div>
        <div class="col-2">{{(file?.validations?.validRecordCount / file?.validations?.totalRecords) | roundedPercent}}</div>
        <div class="col-2">{{file?.validations?.validRecordCount || 0}}</div>
        <div class="col-2" *ngIf="showToggleColumn"></div>
      </div>
      <div class="row warning-records">
        <div class="col-6 d-flex align-items-center text-warning-dark">
          <i class="text-warning mdi mdi-alert-circle mdi-24px mr-1"></i>Warning Records
        </div>
        <div class="col-2">{{(file?.validations?.warningRecordCount / file?.validations?.totalRecords) | roundedPercent}}</div>
        <div class="col-2">{{file?.validations?.warningRecordCount || 0}}</div>
        <div class="col-2 expander text-center d-flex justify-content-center align-items-center" *ngIf="showToggleColumn">
          <ams-chevron-expander class="d-flex" *ngIf="file?.validations?.warningRecordCount" [isExpanded]="isWarningExpanded" (expandToggleEvent)="onWarningExpandToggle($event)"></ams-chevron-expander>
        </div>
      </div>

      <ng-container *ngIf="isWarningExpanded">
        <div class="record-details-container warning-record-details">
          <div class="row child-row" *ngFor="let warnings of validationWarnings; let even = even;" [class.child-row-alternate]="even">
            <div class="col-6">{{warnings.errorCode}}</div>
            <div class="col-2">{{(warnings.rowsAffected / file?.validations?.totalRecords) | roundedPercent}}</div>
            <div class="col-2 special-padding">{{warnings.rowsAffected}}</div>
            <div class="col-2"></div>
          </div>
        </div>
      </ng-container>

      <div class="row error-records">
        <div class="col-6 d-flex align-items-center text-error-dark">
          <i class="text-danger mdi mdi-alert mdi-24px mr-1"></i>Error Records
        </div>
        <div class="col-2">{{(file?.validations?.errorRecordCount / file?.validations?.totalRecords) | roundedPercent}}</div>
        <div class="col-2">{{file?.validations?.errorRecordCount || 0}}</div>
        <div class="col-2 expander text-center d-flex justify-content-center align-items-center" *ngIf="showToggleColumn">
          <ams-chevron-expander class="d-flex" *ngIf="file?.validations?.errorRecordCount" [isExpanded]="isErrorExpanded" (expandToggleEvent)="onErrorExpandToggle($event)"></ams-chevron-expander>
        </div>
      </div>

      <ng-container *ngIf="isErrorExpanded">
        <div class="record-details-container error-record-details">
          <div class="row child-row" *ngFor="let error of validationErrors; let even = even;" [class.child-row-alternate]="even">
              <div class="col-6">{{error.errorCode}}</div>
              <div class="col-2">{{(error.rowsAffected / file?.validations?.totalRecords) | roundedPercent}}</div>
              <div class="col-2 special-padding">{{error.rowsAffected}}</div>
              <div class="col-2"></div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
