div {
  display: flex;
  align-items: flex-end;
}

label {
  color: #767676;
}

div > ams-dropdown {
  flex-basis: 250px;
}

ams-dropdown ::ng-deep .sb-dropdown .bubble-select select {
  border-right-width: 0;
  border-radius: 18px 0 0 18px;
}

input {
  position: relative;
  z-index: 0;
  padding: 0 18px;
  width: 100%;
  height: 36px;
  outline: none;
  border: 2px solid #c0ced7;
  border-radius: 0 18px 18px 0;
  background-color: #ffffff;
  color: #00395e;
  font-weight: bold;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
}
