<div>
  <ams-dropdown [items]="items"
                (selectedValueChange)="changeFilterType($event)"
                [selectedValue]="selectedValue?.value"><ng-content></ng-content></ams-dropdown>
  <input type="text"
         placeholder="Search"
         aria-label="Search input"
         [ngModel]="searchValue"
         (ngModelChange)="changeSearch($event)"/>
</div>
