$uploading: #0094d9;
$pending: #8ca6b6;
$processing: #f7931e;
$finished: #7cb342;
$error: #d92f2f;

.wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 20px;
  border-bottom: 1px solid #c2cad1;
  color: #000000;

  .filename-column {
    flex: 4;
    text-align: left;
  }

  .total-records-column {
    flex: 1.5;
  }

  .upload-status-column {
    flex: 1.5;
  }

  .validation-status-column {
    flex: 1.5;
  }

  .actions-column {
    flex: 1;

    button {
      border: none;
      background: transparent;

      font-size: 22px;

      cursor: pointer;
    }
  }
}

.information {
  flex-grow: 1;
  overflow: hidden;

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.parent {
  position: relative;
}

.file-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  .file-progress {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    background-color: #e5f7fd;

    &.default-background {
      z-index: 0;
      width: 100%;
      background-color: #f8f9fa;
    }
  }

  &.uploading {
    .file-progress {
      background-color: lighten($uploading, 53%);
    }

    .file-progress.default-background {
      background: #ffffff;
    }
  }

  &.pending {
    .file-progress {
      background-color: lighten($pending, 33%);
    }
  }

  &.processing {
    .file-progress {
      background-color: lighten($processing, 42%);
    }
  }

  &.finished {
    .file-progress {
      background-color: lighten($finished, 47%);
    }
  }

  &.error {
    .file-progress {
      background-color: lighten($error, 45%);
    }
  }
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: inherit;
  margin: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  background-color: #e5f7fd;
  box-shadow: none;
}

.default-background {
  z-index: 0;
  width: 100%;
  background-color: #f8f9fa;
}

.buttons {
  display: inline-flex;

  span {
    position: relative;
    display: inline;
    width: 22px;
    height: 22px;
    font-size: 22px;

    label {
      position: absolute;
      top: 5px;
      left: 30px;
      display: inline-block;
      max-width: inherit;
      width: 100px;
      font-weight: normal;
      font-size: 12px;
    }
  }

  .uploading {
    color: $uploading;
  }

  .pending {
    color: $pending;
  }

  .processing {
    color: $processing;

    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(360deg);
      }
      to {
        -moz-transform: rotate(0deg);
      }
    }
    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(360deg);
      }
      to {
        -webkit-transform: rotate(0deg);
      }
    }
    @keyframes spin {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }

    .mdi-cached:before {
      animation: spin 1s infinite linear;
    }
  }

  .finished {
    color: $finished;
  }

  .error {
    color: $error;
  }

  .actions {
    color: #90a4ae;
  }
}
