<div class="parent">
  <div class="wrapper">
    <div class="information filename-column">
      <span *ngIf="file" [title]="fileName">{{ fileName }}</span>
    </div>
    <div class="information total-records-column" *ngIf="!disableSourceFiles">
      <span *ngIf="showValidations">{{validationTotalRecords}}</span>
    </div>
    <div class="buttons upload-status-column">
      <div>
        <span *ngIf="!file['status']"
              class="uploading"
              tooltip="Uploading file."
              container="body"
              placement="left">
          <i class="mdi mdi-cloud-upload" aria-label="Uploading file"></i>
          <label>Uploading</label>
        </span>

        <span *ngIf="file['status'] === 'pending'"
              class="pending"
              tooltip="Waiting for file data to be processed."
              container="body"
              placement="left">
          <i class="mdi mdi-timelapse" aria-label="Waiting for file data to be processed"></i>
          <label>Pending</label>
        </span>

        <span *ngIf="file['status'] === 'processing' || file['status'] === 'validating'"
              class="processing"
              tooltip="Processing file data."
              container="body"
              placement="left">
          <i class="mdi mdi-cached" aria-label="Processing file data"></i>
          <label>Processing</label>
        </span>

        <span *ngIf="file['status'] === 'finished'"
              class="finished"
              tooltip="Finished processing file data."
              container="body"
              placement="left">
          <i class="mdi mdi-check-circle" aria-label="Finished processing file data"></i>
          <label>Completed</label>
        </span>

        <span *ngIf="file['status'] === 'error'"
              class="error"
              [tooltip]="file.error || 'There was an error processing this file.'"
              container="body"
              placement="left">
          <i class="mdi mdi-close-circle" [attr.aria-label]="file.error || 'There was an error processing this file'"></i>
          <label>Error</label>
        </span>
      </div>
    </div>
    <div class="buttons validation validation-status-column" *ngIf="!disableSourceFiles">
      <div>
        <span *ngIf="showValidations && validationErrorCount === 0 && file['status'] !== 'error'"
              class="finished"
              tooltip="File data validated."
              container="body"
              placement="left">
          <i class="mdi mdi-verified" aria-label="File data validated"></i>
          <label>Validated</label>
        </span>

        <span *ngIf="showValidations && validationErrorCount > 0"
              class="error"
              [tooltip]="file.error || 'There was an error processing this file.'"
              container="body"
              placement="left">
          <i class="mdi mdi-alert-circle" [attr.aria-label]="file.error || 'There was an error processing this file.'"></i>
          <label>{{validationErrorCount}} Errors</label>
        </span>
      </div>
    </div>
    <div class="buttons actions actions-column">
      <div>
        <button class="actions" (click)="removeFile()"
              tooltip="Remove this file"
              container="body"
              placement="left">
          <i class="mdi mdi-delete" aria-label="Remove this file"></i>
        </button>

        <button class="actions" *ngIf="showValidations && file['status'] !== 'error'" (click)="displayDetails()"
              tooltip="More"
              container="body"
              placement="left">
          <i class="mdi mdi-dots-horizontal" aria-label="More"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="file-progress-bar"
       [ngClass]="{
       uploading: (!file['status']),
       pending: (file['status'] === 'pending'),
       processing: (file['status'] === 'processing') || (file['status'] === 'validating'),
       finished: (file['status'] === 'finished'),
       error: (file['status'] === 'error') }">
    <div class="file-progress" [style.width]="progressWidth"></div>
    <div class="file-progress default-background"></div>
  </div>
</div>
