<div class="main">
  <span aria-label="Close publish file dialog button" class="modal-close mdi mdi-close" (click)="onCloseModal()" tabindex="0" (keyup.enter)="onCloseModal()"></span>
  <div class="publish-modal-body">
    <i class="mdi mdi-cloud-upload mdi-64px text-info"></i>
    <h3>Are you sure you want to publish?</h3>
    <p>Click publish to update AMS with your files.</p>
  </div>
  <div class="publish-modal-drawer d-flex justify-content-end">
    <button (click)="onCloseModal()" class="btn btn-link mr-2">Cancel</button>
    <button (click)="publishFileImportGroup()" class="btn btn-primary">Publish</button>
  </div>
</div>
