@import '../../../assets/sass/variables';

.main {
  position: relative;
  border-radius: 8px;
  background: #ffffff;
  text-align: center;

  h3 {
    color: #1e415d;
    font-weight: 700;
    font-size: 22px;
  }
}

.publish-modal-body {
  padding-top: 40px;
  padding-bottom: 20px;

  .fas, .far {
    color: #99a5b1;
    font-size: 62px;
  }
}

.publish-modal-drawer {
  padding: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.25);
  text-align: right;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 10px 0 0;
  padding: 0;
  color: #1f425e;
  font-size: 35px;
  opacity: 0.3;
  cursor: pointer;
  transition: $defaultTransition;

  &:hover {
    opacity: .5;
  }
}

// TODO: move these to a global class and consolidate across app
.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.modal-primary-action-button {
  background-color: #007eb2;
  color: #ffffff;
}

.modal-cancel-button {
  background-color: transparent;
  color: #1e415d;
}
