<header class="ams-navbar" role="banner">
  <div class="logo" role="button">
    <a *ngIf="showLinkToModelPage" [routerLink]="['/manage-models']">
      <i class="fas fa-long-arrow-alt-left"></i> Back to all Models
    </a>
    <img *ngIf="!showLinkToModelPage" src="/assets/images/navigation/ams_logo.svg" alt="Alternative Payment Model Management System" />
  </div>

  <div class="user-info" *ngIf="isAuthenticated$ | async">
    Welcome, {{(user$ | async)?.name}} | <a name="sign out" [routerLink]="['/logout']" routerLinkActive="active">Sign Out</a>
  </div>
</header>
