.ams-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background-color: #ffffff;
  position: relative;

  &:after {
    content: '';
    width: 100%;
    height: 12px;
    top: 100%;
    left: 0;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 100%);
  }

  .logo {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;

    img {
      height: 50px;
    }
  }

  .user-info {
    padding-right: 35px;
  }
}
