<form role="search">
  <h3>Search one or more NPI numbers</h3>
  <div>
    <p>Enter 10-digit Nation Provider Identifier (NPI) number. Use commas to separate each NPI number.</p>
    <div class="input-group">
      <input class="form-control" type="text" placeholder="NPI number/s" (change)="update($event)" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Check NPI</button>
      </div>
    </div>
  </div>
</form>
