<div class="wrapper">
  <div class="main">

    <form>
      <div class="header">
        <div class="header-title">
          <h3>Enter Quarterly Model Data</h3>
          <div>
            <i class="mdi mdi-close close-button" [routerLink]="['/manage-models']"
               (click)="close.emit()" aria-label="Cancel model create/edit dialog">
            </i>
          </div>
        </div>
        <div *ngIf="currentStep > 0" class="model-entry-row">
          <div data-testid="model_name" class="main-label">Model Name: <span>{{modelReport?.modelName}}</span>
          </div>
          <div class="main-label">
            Model ID: <span data-testid="model_id">{{modelReport?.modelID}}</span>
            <span class="header-quarter">Quarter: Quarter {{modelReport.modelQuarter || quarter}} - {{reportYear}}</span>
          </div>
        </div>
      </div>
      <div class="model-form">
        <div *ngIf="currentStep == 0">
          <div class="model-serv">
            <br>
            <ul>
              <li *ngIf="!quarterClosed" class="field-break model-list">
                <label class="main-label required">Model Name</label>
                <select class="form-control" [(ngModel)]="selectedModel" name="selectedModel"
                        (ngModelChange)="resetDateErrorMessage(); onSelectModel($event)"
                        [disabled]="modelReportEdit">
                  <option [ngValue]="undefined" selected disabled>Select One</option>
                  <option *ngFor="let model of availableModels" [ngValue]="model">{{model.name}}</option>
                </select>
                <div *ngIf="modelValid" class="validation">{{modelValid}}</div>
              </li>
              <li *ngIf="!quarterClosed" class="field-break model-list quarter-year">
                <label class="main-label">Quarter</label>
                <br>
                <div>Quarter {{quarter}} - {{reportYear}}</div>
              </li>
              <li class="model-list add-model">
                <span class="add-model-link" (click)="close.emit()"></span>
              </li>
            </ul>
          </div>
          <hr>
          <div *ngIf="selectedModel" class="model-entry-row">
            <div class="serv">
              <div class="model-header">
                <h6 class="main-label">Model Summary</h6>
                Model information is pre-populated. If any information is missing or incorrect,
                <span class="update-model"
                      [routerLink]="['/manage-models', modelReport.modelID]"
                      (click)="close.emit()">go to Model Management to make updates.</span>
              </div>
              <ul>
                <li class="field-break top">
                  <label class="model-label">MODEL NAME</label>
                  <div class="model-field">{{modelReport.modelName}}</div>
                </li>
                <li class="field-break top">
                  <label class="model-label">NICKNAME</label>
                  <div class="model-field">{{modelReport.modelNickname}}</div>
                </li>
                <li class="field-break top">
                  <label class="model-label">MODEL ID</label>
                  <div class="model-field">{{modelReport?.modelID}}</div>
                </li>
                <li class="field-break top">
                  <label class="model-label">MODEL TEAM LEAD</label>
                  <div class="model-field">{{modelReport?.teamLeadName}}</div>
                </li>
                <li class="field-break  top">
                  <label class="model-label">STATUTORY AUTHORITY</label>
                  <div class="model-field">{{modelReport?.statutoryAuthority}}</div>
                </li>
                <li class="field-break top"></li>
                <li class="field-break top">
                  <label class="model-label">WAIVERS</label>
                  <div *ngFor="let waiver of modelReport?.waivers" class="model-field">
                    {{waiver?.value}} {{waiver?.text}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">GROUP</label>
                  <div *ngFor="let group of modelReport?.group" class="model-field">
                    {{group !== 'Center for Medicare and Medicaid Innovation (CMMI)' ? group
                    : ''}}
                  </div>
                  <div *ngFor="let group of modelReport?.group">
                    {{group == 'Center for Medicare and Medicaid Innovation (CMMI)' ? group
                    : ''}}
                  </div>
                  <div>
                    {{modelReport?.subGroup}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="currentStep == 1">
          <div class="model-serv model-entry-row">
            <div class="provider-header key-date">
              <h6 class="main-label">Key Dates</h6>
              <span class="key-date">Data is pre-populated from a previous Quarter.</span>
            </div>
            <ul>
              <li class="field-break model-list">
                <label class="main-label">Announcement Date</label>
                <div class="calendar-input" [ngClass]="{ 'edited-focus': hasFieldChanged('announcementDate')}">
                  <mat-datepicker-toggle class="calendar-icon" matPrefix
                                         [for]="pickerAnnouncementDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerAnnouncementDate disabled="false"></mat-datepicker>
                  <input class="cal-input"
                         [matDatepicker]="pickerAnnouncementDate"
                         [matDatepickerFilter]="announcementDateFilter.bind(this)"
                         name="announcementDate"
                         [(ngModel)]="announcementDate" placeholder="MM/DD/YYYY"
                         aria-label="Open calendar for announcement date"
                         (ngModelChange)="resetDateErrorMessage(); copyDatesToReport();">
                </div>
                <div *ngIf="announcementDateValid" class="date-valid validation">{{announcementDateValid}}</div>
              </li>
              <li class="field-break model-list">
                <label class="main-label">Award Date</label>
                <div class="calendar-input" [ngClass]="{ 'edited-focus': hasFieldChanged('awardDate') }">
                  <mat-datepicker-toggle class="calendar-icon" matPrefix
                                         [for]="pickerAwardDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerAwardDate disabled="false"></mat-datepicker>
                  <input class="cal-input"
                         [matDatepicker]="pickerAwardDate"
                         [matDatepickerFilter]="awardDateFilter.bind(this)"
                         name="awardDate"
                         [(ngModel)]="awardDate" placeholder="MM/DD/YYYY"
                         aria-label="Open calendar for award date"
                         (ngModelChange)="resetDateErrorMessage(); copyDatesToReport();">
                </div>
                <div *ngIf="awardDateValid" class="date-valid validation">{{awardDateValid}}</div>
              </li>
            </ul>
            <ul>
              <li class="field-break model-list">
                <label class="model-label">PERFORMANCE START DATE</label>
                <div class="model-field">{{startDate | date : 'MM/dd/yyyy' }}</div>
              </li>
              <li class="field-break model-list">
                <label class="model-label">PERFORMANCE END DATE</label>
                <div class="model-field">{{endDate | date : 'MM/dd/yyyy' }}</div>
              </li>
            </ul>
          </div>
          <div class="quarter">
            <label for="additionalComments" class="main-label">Notes</label>
            <textarea readonly id="additionalComments" name="additionalComments"
                      [(ngModel)]="modelReport.additionalInformation"
                      class="form-control"></textarea>
          </div>
        </div>

        <div *ngIf="currentStep == 2">
          <div class="model-serv">
            <div class="provider-header key-date">
              <h6 class="main-label">Beneficiary Information</h6>
              <span class="key-date">Data is pre-populated from a previous Quarter.</span>
            </div>
            <br>
            <ul>
              <li class="field-break model-list">
                <label for="ffs" class="main-label">Number of Medicare FFS Beneficiaries</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="ffs" placeholder="0"
                       [(ngModel)]="modelReport.numFFSBeneficiaries"
                       name="ffs" (blur)="addBeneficiaries('numFFSBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numFFSBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Medicare Advantage Beneficiaries</label>
              </li>
              <li for="Advantage" class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="Advantage" placeholder="0"
                       [(ngModel)]="modelReport.numAdvantageBeneficiaries"
                       name="Advantage" (blur)="addBeneficiaries('numAdvantageBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numAdvantageBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Medicare Beneficiaries</label>
              </li>
              <li for="numMedicareBeneficiaries" class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numMedicareBeneficiaries"
                       placeholder="0" [(ngModel)]="modelReport.numMedicareBeneficiaries"
                       name="numMedicareBeneficiaries"
                       (blur)="addBeneficiaries('numMedicareBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numMedicareBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Medicaid Beneficiaries</label>
              </li>
              <li for="numMedicaidBeneficiaries" class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numMedicaidBeneficiaries"
                       placeholder="0" [(ngModel)]="modelReport.numMedicaidBeneficiaries"
                       name="numMedicaidBeneficiaries"
                       (blur)="addBeneficiaries('numMedicaidBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numMedicaidBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of CHIP Beneficiaries</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numChipBeneficiaries" placeholder="0"
                       [(ngModel)]="modelReport.numChipBeneficiaries"
                       name="numChipBeneficiaries"
                       (blur)="addBeneficiaries('numChipBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numChipBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Medicare & Medicaid Dually Eligible
                  Beneficiaries
                </label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numDuallyEligibleBeneficiaries"
                       placeholder="0" [(ngModel)]="modelReport.numDuallyEligibleBeneficiaries"
                       name="numDuallyEligibleBeneficiaries"
                       (blur)="addBeneficiaries('numDuallyEligibleBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numDuallyEligibleBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Private Insurance Beneficiaries</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numPrivateInsuranceBeneficiaries"
                       placeholder="0" [(ngModel)]="modelReport.numPrivateInsuranceBeneficiaries"
                       name="numPrivateInsuranceBeneficiaries"
                       (blur)="addBeneficiaries('numPrivateInsuranceBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numPrivateInsuranceBeneficiaries') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of other Beneficiaries</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numOtherBeneficiaries"
                       placeholder="0" [(ngModel)]="modelReport.numOtherBeneficiaries"
                       name="numOtherBeneficiaries"
                       (blur)="addBeneficiaries('numOtherBeneficiaries')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numOtherBeneficiaries') }">
              </li>
            </ul>
            <hr>
            <ul>
              <li class="field-break model-list">
                <label class="main-label"><strong>Total Number</strong> of Beneficiaries
                  Associated with the Model</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input readonly type="number" min="0" class="form-control num" id="totalBeneficiaries" placeholder="0"
                       [(ngModel)]="modelReport.totalBeneficiaries"
                       name="totalBeneficiaries"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('totalBeneficiaries') }">
              </li>
            </ul>
          </div>
          <div class="quarter">
            <label for="notesForBeneficiaryCounts" class="main-label">
              Notes for Beneficiary Counts
            </label>
            <textarea id="notesForBeneficiaryCounts" name="notesForBeneficiaryCounts"
                      class="form-control"
                      [(ngModel)]="modelReport.notesForBeneficiaryCounts"
                      [ngClass]="{ 'edited-focus': hasFieldChanged('notesForBeneficiaryCounts') }">
            </textarea>
            <div *ngIf="beneficiaryNotesValid" class="validation">{{beneficiaryNotesValid}}</div>
          </div>
        </div>
        <div *ngIf="currentStep == 3">
          <div class="model-serv">
            <div class="provider-header key-date">
              <h6 class="main-label">Provider Information</h6>
              <span class="key-date">Data is pre-populated from a previous Quarter.</span>
            </div>
            <br>
            <ul>
              <li class="field-break model-list">
                <label class="main-label">Number of Physicians</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numPhysicians" placeholder="0"
                       [(ngModel)]="modelReport.numPhysicians"
                       name="numPhysicians" (blur)="addProvider('numPhysicians')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numPhysicians') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Hospitals</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numHospitals" placeholder="0"
                       [(ngModel)]="modelReport.numHospitals"
                       name="numHospitals" (blur)="addProvider('numHospitals')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numHospitals') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Other Healthcare Providers who
                  are individual human beings</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numOtherIndividualHumanProviders" placeholder="0"
                       [(ngModel)]="modelReport.numOtherIndividualHumanProviders"
                       name="numOtherIndividualHumanProviders"
                       (blur)="addProvider('numOtherIndividualHumanProviders')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numOtherIndividualHumanProviders') }">
              </li>
              <li class="field-break model-list">
                <label class="main-label">Number of Other Providers</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input type="number" min="0" oninput="validity.valid||(value='');"
                       class="form-control num" id="numOtherProviders" placeholder="0"
                       [(ngModel)]="modelReport.numOtherProviders"
                       name="numOtherProviders"
                       (blur)="addProvider('numOtherProviders')"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('numOtherProviders') }">
              </li>
            </ul>
            <hr>
            <ul>
              <li class="field-break model-list">
                <label class="main-label"><strong>Total Number</strong> of Healthcare
                  Providers Participating in the Model</label>
              </li>
              <li class="field-break model-list quarter-year">
                <input readonly type="number" min="0" class="form-control num" id="totalProviders"
                       placeholder="0"
                       [(ngModel)]="modelReport.totalProviders"
                       name="totalProviders"
                       [ngClass]="{ 'edited-focus': hasFieldChanged('totalProviders') }">
              </li>
            </ul>
          </div>
          <div class="quarter">
            <label for="notesForProviderCount" class="main-label">
              Notes for Provider Counts
            </label>
            <textarea id="notesForProviderCount" name="notesForProviderCount" class="form-control"
                      [(ngModel)]="modelReport.notesForProviderCount"
                      [ngClass]="{ 'edited-focus': hasFieldChanged('notesForProviderCount') }" required>
            </textarea>
            <div *ngIf="providerNotesValid" class="validation">{{providerNotesValid}}</div>
          </div>
        </div>
        <div *ngIf="currentStep == 4">
          <div class="model-entry-row">
            <div class="serv">
              <h6 class="main-label model-header">Model Summary
                <span *ngIf="modelReport.modelQuarter == quarter && !modelReportEdit"
                      class="edit-model" (click)="nextStep(-4)">
              <span class="fas fa fa-pencil-alt"></span>
              Edit
            </span>
              </h6>
              <ul>
                <li class="field-break top">
                  <label class="model-label">MODEL NAME</label>
                  <div class="model-field">{{modelReport?.modelName}}</div>
                </li>
                <li class="field-break top">
                  <label class="model-label">NICKNAME</label>
                  <div class="model-field">{{selectedModel?.shortName}}</div>
                </li>
                <li class="field-break top">
                  <label class="model-label">MODEL ID</label>
                  <div class="model-field">{{modelReport?.modelID}}</div>
                </li>
                <li class="field-break top">
                  <label class="model-label">MODEL TEAM LEAD</label>
                  <div class="model-field">{{modelReport?.teamLeadName}}</div>
                </li>
                <li class="field-break  top">
                  <label class="model-label">STATUTORY AUTHORITY</label>
                  <div class="model-field">{{modelReport?.statutoryAuthority}}</div>
                </li>
                <li class="field-break top"></li>
                <li class="field-break top">
                  <label class="model-label">WAIVERS</label>
                  <div *ngFor="let waiver of modelReport?.waivers" class="model-field">
                    {{waiver?.value}} {{waiver?.text}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">GROUP</label>
                  <div *ngFor="let group of modelReport?.group" class="model-field">
                    {{group !== 'Center for Medicare and Medicaid Innovation (CMMI)' ? group
                    : ''}}
                  </div>
                  <div *ngFor="let group of modelReport?.group">
                    {{group == 'Center for Medicare and Medicaid Innovation (CMMI)' ? group
                    : ''}}
                  </div>
                  <div>
                    {{modelReport?.subGroup}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="model-entry-row">
            <div class="serv">
              <h6 class="main-label model-header">Key Dates
                <span *ngIf="modelReport.modelQuarter == quarter" class="edit-model" (click)="nextStep(-3)">
              <span class="fas fa fa-pencil-alt"></span>
              Edit
            </span>
              </h6>
              <ul>
                <li class="field-break top">
                  <label class="model-label">ANNOUNCEMENT DATE</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('announcementDate') }">
                    {{announcementDate | date: 'MM/dd/yyyy'}}
                  </div>
                </li>
                <li class="field-break  top">
                  <label class="model-label">AWARD DATE</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('awardDate') }">
                    {{awardDate | date : 'MM/dd/yyyy'}}
                  </div>
                </li>
                <li class="field-break top"></li>
                <li class="field-break top">
                  <label class="model-label">PERFORMANCE START DATE</label>
                  <div class="model-field">{{startDate | date : 'MM/dd/yyyy' }}</div>
                </li>
                <li class="field-break list">
                  <label class="model-label">PERFORMANCE END DATE</label>
                  <div class="model-field">{{endDate | date : 'MM/dd/yyyy' }}</div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NOTES</label>
                  <div class="model-field">{{modelReport.additionalInformation}}</div>
                </li>
              </ul>
            </div>
          </div>
          <div class="model-entry-row">
            <div class="serv">
              <h6 class="main-label model-header">Beneficiary Information
                <span *ngIf="modelReport.modelQuarter == quarter" class="edit-model" (click)="nextStep(-2)">
              <span class="fas fa fa-pencil-alt"></span>
              Edit
            </span>
              </h6>
              <ul>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF MEDICARE FFS BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numFFSBeneficiaries') }">
                    {{modelReport.numFFSBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break  list">
                  <label class="model-label">NUMBER OF MEDICARE ADVANTAGE BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numAdvantageBeneficiaries') }">
                    {{modelReport.numAdvantageBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list"></li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF MEDICARE BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numMedicareBeneficiaries') }">
                    {{modelReport.numMedicareBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF MEDICAID BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numMedicaidBeneficiaries') }">
                    {{modelReport.numMedicaidBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF CHIP BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numChipBeneficiaries') }">
                    {{modelReport.numChipBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF MEDICARE AND MEDICAID DUALLY
                    ELIGIBLE BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numDuallyEligibleBeneficiaries') }">
                    {{modelReport.numDuallyEligibleBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF PRIVATE INSURANCE BENEFICIARIES
                    AS OF A GIVEN QUARTER</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numPrivateInsuranceBeneficiaries') }">
                    {{modelReport.numPrivateInsuranceBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF OTHER BENEFICIARIES</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numOtherBeneficiaries') }">
                    {{modelReport.numOtherBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">TOTAL NUMBER OF BENEFICIARIES ASSOCIATED
                    WITH THE MODEL</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('totalBeneficiaries') }">
                    {{modelReport.totalBeneficiaries | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NOTES FOR BENEFICIARY COUNTS</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('notesForBeneficiaryCounts') }">
                    {{modelReport.notesForBeneficiaryCounts}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="model-entry-row">
            <div class="serv">
              <h6 class="main-label model-header">Provider Information
                <span *ngIf="modelReport.modelQuarter == quarter" class="edit-model" (click)="nextStep(-1)">
              <span class="fas fa fa-pencil-alt"></span>
              Edit
            </span>
              </h6>
              <ul>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF PHYSICIANS</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numPhysicians') }">
                    {{modelReport.numPhysicians | number:0}}
                  </div>
                </li>
                <li class="field-break  list">
                  <label class="model-label">NUMBER OF HOSPITALS</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numHospitals') }">
                    {{modelReport.numHospitals | number:0}}
                  </div>
                </li>
                <li class="field-break list"></li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF OTHER HEALTHCARE PROVIDERS
                    WHO ARE INDIVIDUAL HUMAN BEINGS</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numOtherIndividualHumanProviders') }">
                    {{modelReport.numOtherIndividualHumanProviders | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NUMBER OF OTHER PROVIDERS</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('numOtherProviders') }">
                    {{modelReport.numOtherProviders | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">TOTAL NUMBER OF PROVIDERS PARTICIPATING IN THE MODEL</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('totalProviders') }">
                    {{modelReport.totalProviders | number:0}}
                  </div>
                </li>
                <li class="field-break list">
                  <label class="model-label">NOTES FOR PROVIDER COUNTS</label>
                  <div class="model-field" [ngClass]="{ 'edited-field': hasFieldChanged('notesForProviderCount') }">
                    {{modelReport.notesForProviderCount}}
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="edited-flag" *ngIf="!isEmptyObject(editedFields) && currentStep == 4">
          <span class="edited-indicator"></span>
          Prepopulated field has been edited
        </div>
        <div class="edited-flag"
             *ngIf="currentStep == 1
              && isApplicableDates()">
          <span class="edited-indicator"></span>
          Prepopulated field has been edited
        </div>
        <div class="edited-flag"
             *ngIf="currentStep == 2
              && isApplicableBeneficiaries()">
          <span class="edited-indicator"></span>
          Prepopulated field has been edited
        </div>
        <div class="edited-flag"
             *ngIf="currentStep == 3
              && isApplicableProviders()">
          <span class="edited-indicator"></span>
          Prepopulated field has been edited
        </div>
      </div>
      <div *ngIf="modelReport.modelQuarter == quarter || !modelReport.modelQuarter" class="steps">
        <div *ngIf="!modelReportEdit">
          <div class="form-error error-spacing" *ngIf="reportDialogErrors['errorMsg']">
            <div class="error-text">{{reportDialogErrors['errorMsg']}}</div>
          </div>
        </div>
        <span tooltip="Model Information" [ngClass]="{active: currentStep == 0 , finished: currentStep > 0}"
              class="progress-circle"></span>
        <span tooltip="Key Dates" [ngClass]="{active: currentStep == 1 , finished: currentStep > 1}"
              class="progress-circle"></span>
        <span tooltip="Beneficiary Information" [ngClass]="{active: currentStep == 2 , finished: currentStep > 2}"
              class="progress-circle"></span>
        <span tooltip="Provider Information" [ngClass]="{active: currentStep == 3 , finished: currentStep > 3}"
              class="progress-circle"></span>
        <span tooltip="Summary" [ngClass]="{active: currentStep == 4 , finished: currentStep > 4}"
              class="progress-circle"></span>
      </div>
      <div class="footer">
        <div class="loader-wrapper" *ngIf="loading">
                    <span class="processing" tooltip="Saving Model." container="body" placement="center">
            <i class="mdi mdi-cached" aria-label="Saving Model"></i>
            <label>Saving</label>
          </span>
        </div>
        <div *ngIf="modelReport.modelQuarter == quarter || !modelReport.modelQuarter" class="button-row">
          <button *ngIf="currentStep > 0" class="previous-button" (click)="nextStep(-1)">Previous</button>
          <button [routerLink]="['/manage-models']" class="cancel-button" (click)="close.emit()">Cancel</button>
          <button *ngIf="currentStep < 4" class="save-button"
                  (click)="nextStep(1)">
            Continue
          </button>
          <button *ngIf="currentStep == 4" class="save-button"
                  (click)="submitForm()" type="submit">Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
