$processing: #f7931e;
.wrapper {
  display: flex;
  width: 600px;
  max-width: 100vw;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  font-size: 14px;
}
.header {
  h3 {
    color: #1c4160;
    font-weight: bold;
    font-size: 20px;
    margin-top: 25px;
  }
  div {
    font-size: 14px;
    color: black;
  }
  .header-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #ccc;
    height: 90px;
    padding-left: 41px;
  }
  .model-entry-row {
    border-bottom: 1px solid #ccc;
    padding-left: 45px;
    background: #1C3A53;
    .main-label {
      color: white;
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
  .mdi-close {
    font-size: 25px;
    color: #677987;
    top: 7px;
    cursor: pointer;
    padding-left: 50px;
  }
}
.header-title, .model-form {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
}
.header-quarter {
  margin-left: 10px;
  border-left: 2px solid white;
  padding-left: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #C4C4C4;

  .model-form {
    flex: 1;
    overflow-y: auto;
    max-height: 500px;
  }

  form {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-height: 100%;
  }
}
.sidebar {
  background-color: #F7F7F7;
  box-shadow: 3px 0 10px #eaeaea inset
}
.footer {
  display: block;
}
.progress-circle {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: white;
  border: 2px solid #bbbbbb;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
.edited-indicator {
  height: 15px;
  width: 15px;
  margin: 0 10px;
  background-color: #F9A017;
  display: inline-block;
}
.edited-focus {
  outline: solid;
  border-color: #F9A017;
  box-shadow: 0 0 10px #F9A017;
}
.active {
  background-color: #404040;
}
.finished {
  background: #bbbbbb;
}
.button-row {
  border-top: 1.3px solid;
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
button {
  color: #007db8;
  margin: 3px 5px;
  text-transform: uppercase;
  font-weight: 700;
  width: 30%;
  height: 45px;
  background-color: unset;
  border-radius: 25px;
  cursor: pointer;
}
button:hover {
  color: #979797;
  background-color: #DDDDDD;
}
.save-button {
  color: #FFFFFF;
  background-color: #007db8;
}
.previous-button {
  color: #007db8;
  background-color: white;
  border: 1px solid #007db8;
}
.cancel-button {
  border: none;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.tips {
  margin: 50px 25px;
  border-top: 1px solid #e8e8e8;
  padding: 20px 0 10px 0;
  border-bottom: 1px solid #e8e8e8;
  color: #BDBDBD
}
.quarter {
  padding: 0 25px;
  color: #000000;
}
.model-entry-row {
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
  input, textarea {
    flex-basis: 70%;
  }
  .num {
    height: 45px;
    text-align: center;
  }
  label, .main-label {
    text-align: left;
    flex-basis: 30%;
  }
  .main-label {
    color: #1C3A53;
  }
  .model-label {
    color: #677987;
    font-weight: bold;
  }
}
.steps {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.calendar-label {
  color: #000000;
  width: 73%;
  display: flex;
  justify-content: space-between;
}
.required::after {
  content: ' *';
  color: red;
}
.require {
  color: black;
  font-weight: bold;
}
.validation {
  color: black;
  background: rgba(255, 0, 0, 0.15);
  border: 1px solid red;
  border-radius: 5px;
  padding: 5px 8px;
  margin-top: 10px;
}
.date-valid {
  width: 225px;
}
.reporting-window {
  text-align: center;
  font-size: 16px;
  color: red;
  margin-bottom: 35px;
}
.edited-field {
  color: #F9A017;
  font-weight: bold;
}
.edited-flag {
  margin-top: 20px;
  margin-left: 10px;
  color: black;
}
.serv ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  color: #000000;
  font-size: 13px;
}
.serv ul .top {
  list-style: none;
  flex: 0 0 33.3333%;
  padding-left: 10px;
}
.serv ul .list {
  list-style: none;
  flex: 0 0 51%;
  padding-left: 10px;
}
.model-serv ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 25px;
  color: #000000;
  position: relative;
}
.model-serv ul .model-list {
  list-style: none;
  flex: 0 0 50%;
}
.model-edit {
  position: absolute;
  font-size: 16px;
  padding: 8px;
  width: 200px;
  height: 37px;
  overflow: hidden;
}
.key-date {
  margin-bottom: 20px;
  color: gray;
}
.add-model {
  font-size: 13px;
  color: #677987;
}
.add-model-link {
  cursor: pointer;
  color: #007db8;
  font-weight: bold;
  font-size: 10px;
}
.quarter-year {
  padding-left: 35px;
}
.model-header {
  margin: 0 35px;
  margin-bottom: 25px;
  color: gray;
}
.provider-header {
  margin-left: 24px;
  margin-top: 25px;
  color: #000000;
}
.edit-model {
  margin-left: 15px;
  font-size: 14px;
  color: #007db8;
  cursor: pointer;
}
.update-model {
  color: #007db8;
  cursor: pointer;
}
.model-field {
  word-break: break-word;
}
.field-break {
  margin-bottom: 20px;
}
.error-spacing {
  margin-bottom: 20px;
}
.error-text {
  width: 500px;
  margin: 0 auto;
}
.calendar-row {
  flex-basis: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.calendar-input {
  flex-basis: 40%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  text-align: center;
  width: 225px;
  .cal-input {
    width: 80%;
    border: transparent;
    margin: -4px 0;
    color: rgb(85, 85, 85);
    height: 49px;
  }
  .calendar-icon {
    color: #007db8;
  }
}
.calendar-row-text {
  color: #000000;
  font-weight: normal;
}
button:disabled {
  background-color: #eee !important;
  color: #aaa !important;
  cursor: auto;
}
.loader-wrapper {
  width: 100%;
  text-align: center;
  .processing {
    display: inline-flex;
    color: $processing;
    width: 15%;
    text-align: center;
    margin: 0 auto;
    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(360deg);
      }
      to {
        -moz-transform: rotate(0deg);
      }
    }
    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(360deg);
      }
      to {
        -webkit-transform: rotate(0deg);
      }
    }
    @keyframes spin {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
    .mdi-cached:before {
      animation: spin 1s infinite linear;
    }
  }
}
