.manage-models-table {
  display: flex;
  flex-wrap: wrap;
}

.model-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 15px;

  .icon-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .icon-container {
    padding-right: 5px;
  }
}

.model-container-headers {
  @extend .model-container;
  padding-top: 21px;
  border-bottom: 1px solid #dddddd;
}

.row-item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 5px 0;
  text-align: left;
  font-size: 14px;
}

.row-item:nth-child(2) {
  margin-left: 20px;
}

.data-table-header {
  color: #757575;
  text-transform: uppercase;
  font-weight: bold;
}

.detail-data-table-header {
  flex-grow: 1;
}

.detail-data-table-header-name {
  margin-bottom: 5px;
  color: #0647a5;
  font-weight: bold;
  font-size: 20px;
}

.detail-data-table-header-id {
  color: #677987;
  font-size: 14px;
}

.model-button-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}

.blue-name {
  color: #69a2e9;
}

.model-data-row {
  border: 1px transparent;
  border-style: solid none;
}

.model-data-row:nth-of-type(even) {
  border: 1px rgb(247, 247, 247);
  border-style: solid none;
  background-color: rgb(247, 247, 247);
}

.model-data-row .edit-row-icons,
.model-data-row.selected:hover .edit-row-icons {
  visibility: hidden;
}

.model-data-row:hover {
  border: 1px #abdff6;
  border-style: solid none;
  background-color: #e5f6fd;
  cursor: pointer;
}

.model-data-row:hover .edit-row-icons {
  visibility: visible;
  padding-left: 7px;
  color: #829eb2;
  font-size: 16px;
}

.model-data-list, .model-data-details {
  flex-grow: 1;
}

.model-data-list.detail-view {
  flex-basis: 40%;
}

.model-data-details.detail-view {
  flex-basis: 60%;
}

.model-data-details {
  padding: 25px 40px;
  border: 1px solid #dddddd;
  border-top: none;
  border-left: none;

  div:nth-child(4),
  div:nth-child(5) {
    .row-item:nth-child(4) {
      flex-grow: 2;
    }
  }
}

.model-data-details .data-table-header {
  color: #677987;
  font-weight: bold;
  font-size: 12px;
}

.model-data-details .model-container-headers,
.model-data-details .model-container {
  padding-left: 0;
  border: none;
}

.model-data-details .fa-times {
  top: 7px;
  color: #677987;
  font-size: 25px;
  cursor: pointer;
}

.detail-header-section {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}

.hide {
  display: none !important;
}

.model-data-row.selected {
  border: 1px #abdff6;
  border-style: solid none;
  border-right: 5px solid #6ac9f1;
  background-color: #e5f6fd;
}

.button {
  padding: 7px 21px;
  outline: 0;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: bold;
}

.no-models {
  padding: 81px;
  width: 100%;
  color: #757575;
  text-align: center;
  font-size: 4.5rem;
}

.edit-icons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  .button-blue {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    border-color: #007db8;
    background-color: #007db8;
    color: #ffffff;

    .fas, .far {
      top: 2px;
      margin-right: 10px;
    }
  }

  .button-red {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
    border-color: #ff0000;
    background-color: #ffffff;
    color: #ff0000;

    .fas, .far {
      margin-top: 2px;
      margin-right: 3px;
      font-size: 16px;
    }
  }

  .close-button {
    top: 2px;
    margin-left: 10px;
    text-decoration: none;
  }
}

.content-container {
  width: 30%;
}

.content-container .card-list-container {
  width: 100%;
  background-color: #f4f7fa;
}

.close-edit-view-text {
  display: none;
}

.link {
  text-decoration: none;
}

.cancel-dialog {
  overflow: hidden;
  max-width: 100vw;
  border-radius: 5px;
  background-color: #ffffff;
  color: #4d677c;

  .header {
    padding: 10px 20px;
    font-weight: bold;

    div {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .header-title {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .model {
    margin-bottom: 10px;
    background: #1c3a53;
    color: #ffffff;
  }

  .model-name {
    padding: 8px 20px;
  }

  .model-id {
    padding-bottom: 8px;
    padding-left: 20px;
  }

  .body {
    input {
      padding: 5px;
      width: 83vh;
      border: 1px solid #cccccc;
      border-radius: 10px;
    }
  }

  .footer {
    display: flex;
    float: right;
    padding: 15px 20px;

    button {
      margin: 3px 5px;
      padding: 0 15px;
      height: 35px;
      border: none;
      border-radius: 15px;
      background-color: unset;
      color: #1c4160;
      font-weight: 700;
    }

    .confirm-btn {
      background-color: #d43f3a;
      color: #ffffff;
    }

    .cancel-btn {
      border: none;
      background-color: #0096dc;
      color: #ffffff;
      text-align: center;
    }
  }
}

.cancel-question {
  padding: 5px 20px;
}

.spacer {
  padding-right: 25px;
  color: #677987;
}

.reason {
  margin-top: 10px;
  padding: 5px 20px;
}

textarea {
  width: 100%;
}

.fa-ban {
  font-size: 17px;
}
