<div class="model-data-details" *ngIf="(model | async)">
  <div class="detail-header-section">
    <div class="detail-data-table-header">
      <h1 class="detail-data-table-header-name">{{(model | async)?.name}}</h1>
      <!--<div class="detail-data-table-header-id"><b>Model ID: </b>{{(model | async)?.id}}</div>-->
      <span class="spacer"><strong>Nickname: </strong>{{(model | async)?.shortName}} </span>
      <span class="spacer"><strong>Model ID: </strong>{{(model | async)?.id}}  </span>
      <span class="spacer"><strong>Status: </strong>{{(model | async)?.status}}</span>
    </div>
    <div class="edit-icons-group">
      <button
        *ngIf="(model | async)?.status === 'Active'"
        class="button button-blue"
        aria-label="Edit model"
        (click)="openEditModal()">
        <i class="fas fa-pencil-alt edit-row-icons"></i>
        Edit
      </button>
      <button
        *ngIf="(model | async)?.status === 'Active'"
        class="button button-red"
        aria-label="Cancel model"
        (click)="openCancelModal()">
        <div class="fas fa-ban edit-row-icons"></div>
        Cancel
      </button>
      <!--<a class="link" [routerLink]="['/manage-models']"></a>-->
    </div>
  </div>
  <div class="model-container-headers">

    <div class="row-item data-table-header">TEAM LEAD</div>
    <div class="row-item data-table-header">START DATE</div>
    <div class="row-item data-table-header">END DATE</div>
    <div class="row-item data-table-header">UPDATED BY</div>
    <div class="row-item data-table-header">UPDATED DATE</div>

  </div>
  <div class="model-container">

    <div class="row-item">{{(model | async)?.teamLeadName}}</div>
    <div class="row-item">{{(model | async)?.startDate | moment:'DD MMM YYYY':false | uppercase}}</div>
    <div class="row-item">{{(model | async)?.endDate | moment:'DD MMM YYYY':false | uppercase}}</div>
    <div class="row-item">{{(model | async)?.updatedBy| moment:'DD MMM YYYY':false }}</div>
    <div class="row-item">{{(model | async)?.updatedDate | moment:'DD MMM YYYY':false }}</div>
  </div>
  <div class="model-container-headers">

    <div class="row-item data-table-header">IS MODEL AN APM FOR QPP?</div>
    <div *ngIf="(model | async)?.apmForQPP === 'Yes'" class="row-item data-table-header">ADVANCED APM</div>
    <div *ngIf="(model | async)?.apmForQPP === 'Yes'" class="row-item data-table-header">MIPS APM</div>
    <!--<div class="row-item data-table-header">Quality Reporting Category Code</div>-->
    <div class="row-item data-table-header">NOTES</div>
  </div>
  <div class="model-container">
    <div class="row-item">{{(model | async)?.apmForQPP }}</div>
    <div *ngIf="(model | async)?.apmForQPP === 'Yes'" class="row-item">{{(model | async)?.advancedApmFlag |
      yesNoPartial}}
    </div>
    <div *ngIf="(model | async)?.apmForQPP === 'Yes'" class="row-item">{{(model | async)?.mipsApmFlag | yesNoPartial}}
    </div>
    <!--<div class="row-item">{{(model | async)?.qualityReportingCategoryCode}}</div>-->
    <div class="row-item">{{(model | async)?.additionalInformation}}</div>
  </div>

</div>

<ams-simple-modal *ngIf="showCancelDialog">
  <ams-model-cancel
    [model]="model | async"
    (cancel)="cancelModel($event)"
    (close)="closeCancelModal()">
  </ams-model-cancel>
</ams-simple-modal>

<div class="subdivision-container">
  <ams-manage-models-subdivisions
    *ngIf="(model | async)?.apmForQPP == 'Yes'"
    [model]="model"
    (openModal)="openSubdivisionModal($event)"
    (delete)="deleteSubdivision($event)"
    [subdivisions]="subdivisions | async">
  </ams-manage-models-subdivisions>
</div>

<div class="participantqualifications-container">
  <ams-manage-models-participant-qualifications
    [model]="model | async"
    (openModal)="openParticipantQualificationsModal()">
  </ams-manage-models-participant-qualifications>
</div>

<div class="legalframework-container">
  <ams-manage-models-legal-framework
    [model]="model | async"
    (openModal)="openLegalFrameworkModal()">
  </ams-manage-models-legal-framework>
</div>




<div *ngIf="!(model | async)">
  Not Found
</div>
