<div class="wrapper">
  <div class="table-rounded-corners">
    <table class="styled-table">
      <thead>
      <tr>
        <th width="27%">File Name</th>
        <th width="10%">File Type</th>
        <th width="8%">PY <i
          aria-label="Performance Year"
          placement="top"
          tooltip="Performance Year"
          class="mdi mdi-information text-muted mdi-20px"
          aria-hidden="true">
        </i>
        </th>
        <th width="15%">Upload Status</th>
        <th width="8%">Total Records</th>
        <th width="27%">Records Status <i
          placement="top"
          [tooltip]="recordStatusTooltip"
          container="body"
          containerClass="record-status-tooltip-container"
          class="mdi mdi-information mdi-20px text-muted"
          aria-hidden="true">
        </i>
          <ng-template #recordStatusTooltip>
            <div class="record-status-tooltip">
              <div class="tooltip-banner">
                Records Status
              </div>
              <div class="tooltip-row-item">
                <i class="mdi mdi-alert-circle mdi-24px text-warning"></i> AMS will accept a file with <span class="warnings">warnings</span> but will exclude fields with warnings.
              </div>
              <div class="tooltip-row-item">
                <i class="mdi mdi-alert mdi-24px text-danger"></i> AMS will accept a file with <span class="errors">errors</span>, but will reject the entire record that contains the error
              </div>
            </div>
          </ng-template>
        </th>
        <th width="5%">
          <div class="position-relative">
          <i
            aria-label="Delete All Files"
            placement="top"
            tooltip="Delete All Files"
            class="mdi mdi-delete mdi-32px"
            (click)="removeAllFiles.emit()" tabindex="0" (keyup.enter)="removeAllFiles.emit()">
          </i>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let file of allFiles; trackBy: trackByFiles">
        <td>
          <div class="file-name" [title]="file?.file_name || file?.file?.name">
            <span [tooltip]="file?.file_name">{{(file?.file_name || file?.file?.name) | middleEllipsis:15:18}}</span>
          </div>
        </td>
        <td>
          <div class="file-type-wrapper" [title]="file?.import_file_type">
            <div>{{file?.import_file_type}}</div>
          </div>
        </td>
        <td>{{file?.performance_year || 'N/A'}}</td>
        <td>
          <div class="d-flex align-items-center">
            <ams-spinner *ngIf="showSpinner(file)" type="fadingCircle"></ams-spinner>
            <div *ngIf="file?.status !== 'error'">{{mapStatusToUserFriendlyValue(file)}}</div>
            <div *ngIf="file?.status === 'error'"><a class="failed-upload-link" (click)="showDetails.emit(file)">Failed</a></div>
          </div>
        </td>
        <td>{{(file?.validations?.totalRecords | number) || 0}}</td>
        <td *ngIf="!showValidations">Pending Validation</td>
        <td *ngIf="showValidations" class="validations">
          <ams-record-status [file]="file" (details)="showDetails.emit($event)" (save)="downloadFile.emit($event)"></ams-record-status>
        </td>
        <td>
          <div class="position-relative">
            <i
          aria-label="Delete File"
          placement="top"
          tooltip="Delete File"
          class="mdi mdi-delete mdi-32px"
          (click)="removeClicked(file)"
          tabindex="0"
          (keyup.enter)="removeClicked(file)"></i>
          <div class="remove-popup" *ngIf="showRemovedFor === file?.id">
            <div class="banner">Delete File?</div>
            <div class="remove-popup-drawer"><button (click)="removeFileConfirmed(file)">Yes</button><button (click)="showRemovedFor = null">No</button></div>
          </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="no-selected-files" *ngIf="allFiles?.length === 0">
  <div class="empty">
    <i class="mdi mdi-file-hidden mdi-48px"></i>
  No Files Selected
  </div>
</div>
