@import '../../../assets/sass/variables';

$warning: #946a00;
$complete: #009e45;
$failure: #d91111;
$header-border: #ced5dc;

a.failed-upload-link {
  color: #00a0e0;
  font-weight: 500;
}

.file-name > div,
.file-type-wrapper > div {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.remove-popup {
  position: absolute;
  bottom: 100%;
  right: -1px;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  border: 1px solid #ccc;
  width: 140px;
  overflow: hidden;
}

.banner {
  padding: 5px 15px;
  background: #efefef;
  text-align: left;
  font-weight: 500;
}

.remove-popup-drawer {
  padding: 5px;
  text-align: center;

  button {
    margin: 0 5px;
    padding: 3px 15px;
    border: none;
    border-radius: 25px;
    background-color: transparent;
    color: #1e415d;
  }

  button:hover {
    background-color: #e92221;
    color: #ffffff;
  }
}

.record-status-column {
  position: relative;
  overflow: visible;
}

.record-status-tooltip {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 267px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0,0,0, 0.1);
  text-align: left;
  font-size: 13px;
  border: 1px solid #ddd;
  padding-bottom: 10px;
}

.tooltip-row-item {
  padding: 10px 15px 10px 40px;
  text-transform: none;
  position: relative;

  i {
    position: absolute;
    left: 10px;
    top: 5px;
  }
}

.tooltip-banner {
  padding: 10px 15px;
  background: #f7f7f7;
  text-transform: none;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
}

.actions {
  position: relative;
}

.actions > span:hover {
  color: rgba(2, 161, 224, 0.75);
}
.actions > .fa-trash-alt:hover {
  color: #e82222;
}

.no-selected-files {
  display: flex;
  justify-content: center;
  min-height: 150px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 0 0 6px 6px;
  text-align: center;
  font-size: 14px;
  color: rgba(31, 66, 94, 0.65);
  margin-top: -3px;
  background: #efefef;

  .empty {
    margin-bottom: 20px;
    i {
      display: block;
      opacity: 0.5;
    }
  }

}

.download-link {
  color: #2c75b5;
}

.fa-exclamation-triangle {
  top: 0;
  left: 6px;
  color: #748999;
}

.errors {
  color: $failure;
}

.warnings {
  color: $warning;
}

ams-spinner ::ng-deep .sk-fading-circle {
  margin: 0 8px 0 0;
  height: 24px;
  width: 24px;

  .sk-circle {
    margin: 0;
    &:before {
      width: 4px;
      height: 4px;
    }
  }
}

.upload-status {
  display: flex;
  padding-top: 12px;
}

.upload-status > div {
  position: relative;
  top: 14px;
}

