@import '../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 25px 10px 0;
  background: #f4f4f4;
}

h5 {
  color: #1f425e;
}

.card-header {
  background-color: #ffffff;
  color: #1f425e;
}

.date-info {
  font-size: 14px;
}

.filter-btn {
  display: flex;
  align-items: center;
  flex-flow: row;
  padding-top: 2px;
  padding-bottom: 0;
  border-radius: 26px;
  color: #666666;
  text-decoration: none;
  font-size: 14px;
  &:hover, &.active {
    background-color: #efefef;
  }
  &.active .mdi-chevron-down {
    transform: rotate(180deg);
  }

  .mdi-filter-variant {
    margin-right: 8px;
    font-size: 28px;
  }
  .mdi-chevron-down {
    margin-left: 3px;
    font-size: 24px;
    transition: transform 0.5s ease-out;
  }
}

@media (min-width: map-get($grid-breakpoints, 'lg')) {
  .provider-pagination {
    margin-left: 50px;
  }
}

.provider-type {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: $secondary;
  font-size: 14px;

  i {
    font-size: 24px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-flow: row wrap;
  font-size: 14px;
}

.collapse:not(.show) {
  display: none !important;
}

.error-title {
  margin-bottom: 22px;
  color: #949494;
}
.error-icon {
  color: #949494;
  font-size: 64px;
}
.error-list {
  color: #949494;
}
