<ams-title-bar
  backButtonLink="analytics"
  backButtonName="Provider Participation"
  pretext="Individual Model"
  [title]="modelName"
  [subtitle]="(totalProviders$ | async) + ' total providers'"
  information="Providers include both individual and institutional providers">
</ams-title-bar>

<div class="main-content mb-4">

  <div class="container-fluid">

    <!-- Filters and tools -->
    <div class="d-flex flex-row align-items-center m-0">
      <ams-analytics-filter-form
        showModelSelect="false"
        class="d-flex flex-column flex-grow-1">
      </ams-analytics-filter-form>

      <div class="d-flex flex-row flex-grow-0 align-items-center justify-content-end mb-2 ml-5">
        <!-- <i
          class="fas fa-print fa-lg text-primary cursor-pointer ml-4"
          tooltip="Print"
          placement="left"
          container="body"
          containerClass="mb-2">
        </i> -->

        <i
          class="fas fa-download fa-lg text-primary cursor-pointer ml-4"
          tooltip="Export to .CSV"
          (click)="downloadCsv()"
          placement="left"
          container="body"
          containerClass="mr-1 mb-2">
        </i>
      </div>
    </div>
    <!-- End filters and tools -->

    <!-- Overview of model statistics -->
    <div class="row ams-fade-in" *ngIf="!errors">
      <div class="col">

        <hr class="mt-4" />

        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Overview</h5>

            <span
              class="date-info date-preset ml-auto text-secondary"
              *ngIf="(datePreset$ | async)?.value !== 'custom'">
              {{(datePreset$ | async)?.label}}
            </span>

            <span
              [ngClass]="{ 'ml-auto': (datePreset$ | async)?.value === 'custom' }"
              class="date-info date-range ml-1 text-secondary">
              ({{currentDateRange$ | async}})
            </span>

          </div>
          <div class="card-body d-flex flex-row align-items-center">

            <ams-overview-model-statistics
              class="d-flex flex-column flex-grow-1"
              [dataHeaders]="overviewHeaders"
              [data]="modelStatisticsCharts$ | async"
              [loading]="modelStatisticsChartsLoading$ | async"
              (viewProviders)="viewProviders($event)">
            </ams-overview-model-statistics>

          </div>
        </div>

      </div>
    </div>
    <!-- End overview of model statistics -->

    <!-- Provider list -->
    <div class="row ams-fade-in" *ngIf="!errors">
      <div class="col">

        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Providers</h5>

            <span
              class="date-info ml-auto text-secondary"
              *ngIf="(datePreset$ | async)?.value !== 'custom'">
              {{(datePreset$ | async)?.label}}
            </span>

            <span
              [ngClass]="{ 'ml-auto': (datePreset$ | async)?.value === 'custom' }"
              class="date-info ml-1 text-secondary">
              ({{currentDateRange$ | async}})
            </span>

          </div>
          <div class="card-body d-flex flex-row flex-wrap align-items-center border-bottom ams-fade-in">

            <h5 class="mr-5 mb-0 text-dark">
              <span *ngIf="modelParticipationDetailLoading$ | async">--&nbsp;</span>
              <span *ngIf="!(modelParticipationDetailLoading$ | async)">
                {{modelParticipationDetailTotalCount$ | async}}
              </span>
              <span class="font-weight-normal">providers</span>
            </h5>

            <button
              class="btn btn-link filter-btn"
              [ngClass]="{ 'active': !filtersCollapsed }"
              role="button"
              [attr.aria-expanded]="!filtersCollapsed"
              aria-controls="providerFilters"
              (click)="filtersCollapsed = !filtersCollapsed">
              <i class="mdi mdi-filter-variant"></i>
              FILTERS
              <i class="mdi mdi-chevron-down"></i>
            </button>

            <div class="d-flex flex-row align-items-center ml-auto">
              <div class="provider-type mr-4">
                <i class="mdi mdi-stethoscope mr-1"></i>
                <span>= Individual</span>
              </div>

              <div class="provider-type final">
                <i class="mdi mdi-hospital-building mr-1"></i>
                <span>= Institution</span>
              </div>
            </div>

            <ams-pagination
              class="pagination provider-pagination"
              type="slim"
              [totalItems]="modelParticipationDetailTotalCount$ | async"
              [limit]="modelParticipationDetailPageLimit$ | async"
              [page]="modelParticipationDetailCurrentPage$ | async"
              (pageChange)="pageChange($event)"
              *ngIf="!(modelParticipationDetailLoading$ | async)">
            </ams-pagination>

          </div>
          <div
            id="providerFilters"
            [collapse]="filtersCollapsed"
            class="card-body d-flex flex-row align-items-center border-bottom">

            <ams-provider-filter-form class="d-flex flex-column flex-grow-1"></ams-provider-filter-form>

          </div>
          <div class="card-body p-0">

            <ams-model-participation-detail-table
              [data]="modelParticipationDetail$ | async"
              [loading]="modelParticipationDetailLoading$ | async"
              [modelName]="modelName"
              [totalItems]="modelParticipationDetailTotalCount$ | async"
              [limit]="modelParticipationDetailPageLimit$ | async"
              [page]="modelParticipationDetailCurrentPage$ | async"
              [sortField]="modelParticipationDetailSortField$ | async"
              [sortOrder]="modelParticipationDetailSortOrder$ | async"
              (sort)="sortChange($event)">
            </ams-model-participation-detail-table>

          </div>
        </div>

      </div>
    </div>
    <!-- End provider list -->

    <!-- Errors -->
    <div class="row ams-fade-in" *ngIf="errors && errors.length">
      <div class="col">

        <hr class="mt-4" />

        <div class="card mt-4">
          <div class="card-body text-center">

            <ams-error-messages class="d-flex flex-column text-center" [errors]="errors"></ams-error-messages>

          </div>
        </div>

      </div>
    </div>
    <!-- End errors -->

  </div>

</div>
