<div class="tab">
  <input id="tab-two" type="checkbox" name="tabs">
  <label for="tab-two">
    <p class="subd">
      <span class="fas fa-chevron-down"></span>
      Participant Qualifications
      <button class="subd-button" *ngIf="!model?.modelCategory.value  && model?.status == 'Active' "
              aria-label="Add participant qualifications" (click)="editParticipantQualifications(model)">
        <div class="fas fa-plus"></div>
        Add New
      </button>
      <button class="subd-button" *ngIf="model?.modelCategory.value && model?.status == 'Active' "
              aria-label="Edit participant qualifications" (click)="editParticipantQualifications(model)">
        <div class="fas fa-pencil-alt"></div>
        Edit
      </button>
    </p>
  </label>

  <div class="tab-content">
    <div class="subdivision-data-row">
      <div class="data">
        <div class="data-column">
          <div class="column-one">
            <div>
              <div class="data-label">MODEL CATEGORY</div>
              <div class="data-placeholder" *ngIf="!model?.modelCategory.value">Not yet defined</div>
              <div class="data-content">
                {{model?.modelCategory.value !== 'Other'? model?.modelCategory.value : ''}}
                <span class="details" tooltip="{{model?.modelCategory.text}}">
                {{model?.modelCategory.value == 'Other'? model?.modelCategory.value : ''}}
              </span>
              </div>
            </div>
          </div>
          <div class="column-two">
            <div class="data-label">TARGET PROVIDER POPULATION</div>
            <div class="data-placeholder" *ngIf="model?.targetProvider.length === 0">Not yet defined</div>
            <div class="data-content" *ngFor="let m of model?.targetProvider">
              {{m?.value !== 'Other'? m?.value : ''}}
              <span class="details" tooltip="{{m?.text}}">
              {{m?.value == 'Other'? m?.value : ''}}
              </span>
            </div>
          </div>
        </div>
        <div class="data-column">
          <div class="column-one">
            <div class="data-label">TARGET BENEFICIARY POPULATION</div>
            <div class="data-placeholder" *ngIf="model?.targetBeneficiary.length === 0">Not yet defined</div>
            <div class="data-content" *ngFor="let m of model?.targetBeneficiary">
              {{m?.value !== 'Other' && m?.value !== 'Disease Specific' ? m?.value : ''}}
              <span class="details" tooltip="{{m?.text}}">
                {{m?.value == 'Other' ? m?.value : ''}}
                {{m?.value == 'Disease Specific' ? m?.value : ''}}
              </span>
            </div>
          </div>
          <div class="column-two">
            <div class="data-label">TARGET PARTICIPANT (ENTITY) POPULATION</div>
            <div class="data-placeholder" *ngIf="model?.targetParticipant.length === 0">Not yet defined</div>
            <div class="data-content" *ngFor="let m of model?.targetParticipant">
              {{m?.value == 'Accountable Care Organization (ACO/ESCO)' ? m?.value : ''}}
              {{m?.value == 'Community Based Organization (CBO)' ? m?.value : '' }}
              {{ m?.value == 'Unknown' ? m?.value : ''}}
              <span class="details" tooltip="{{m?.text}}">
                {{m?.value == 'Medicare Enrolled Provider/Supplier' ? m?.value : ''}}
                {{m?.value == 'Disease Specific' ? m?.value : ''}}
                {{m?.value == 'Convener' ? m?.value : ''}}
                {{m?.value == 'Legal Entity' ? m?.value : ''}}
                {{m?.value == 'Other' ? m?.value : ''}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
