.header {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px;

  h2 {
    flex: 1;
    margin: 0;
    color: #ffffff; //#1c4160;
    font-weight: bold;
    font-size: 18px;

    span {
      font-weight: normal;
    }
  }

  button {
    padding: 7px 21px;
    outline: 0;
    border: 1px solid #007db8;
    border-radius: 30px;
    background: #ffffff;
    color: #007db8;
    font-weight: bold;
  }
}

.subdivision-data-row {
  display: flex;
  margin: 10px 0;
  padding: 15px 40px;
  border: 1px solid #dddddd;
  border-radius: 7px;

  .data-header {
    flex: 1;

    .subdivision-name {
      color: #1c4160;
      font-weight: bold;
      font-size: 14px;

      > span {
        font-weight: normal;
      }
    }

    .subdivision-id {
      padding-top: 15px;
      height: 55px;
      border-right: 1px solid #cccccc;
      color: #677987;
      font-weight: bold;
      font-size: 12px;

      > span {
        font-weight: normal;
      }
    }
  }

  .data {
    display: flex;
    flex: 1;

    .data-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0 10px;

      .column-one {
        justify-content: space-between;
      }

      .column-two {
        justify-content: space-between;
      }
    }

    .data-label {
      margin-top: 15px;
      color: #677987;
      font-weight: bold;
      font-size: 12px;
    }

    .data-placeholder {
      margin-top: 10px;
      font-size: 12px;
    }

    .data-content {
      font-size: 12px;
    }

    .details {
      color: #0000ff;
    }
  }
}

.data-options {
  display: flex;
  align-items: center;
  padding: 0 10px 0 20px;
  cursor: pointer;

  .dot {
    display: inline-block;
    margin: 0 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #cccccc;
  }
}

.data-options:hover .dot {
  background-color: #1c4160;
}

.tooltip-box {
  position: relative;
  display: inline-block;

  .tooltiptext {
    position: absolute;
    top: 100%;
    left: 100%;
    z-index: 1;
    visibility: hidden;
    margin-left: -120px;
    padding: 5px 0;
    width: 120px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;

    .fas, .far {
      color: #cccccc;
    }
  }

  .tooltiprow {
    padding: 5px 20px;
    text-align: left;
  }

  .tooltiprow:hover {
    background-color: #e5f6fd;
  }
}

.tooltiptext:before {
  position: absolute;
  bottom: 100%;
  left: 75%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #cccccc;
  content: '';
}

.tooltiptext:after {
  position: absolute;
  bottom: 100%;
  left: 75%;
  margin-left: -5px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-color: #ffffff;
  content: '';
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-box:hover .tooltiptext {
  visibility: visible;
}

.identify {
  margin-right: 10px;
  color: #ffffff;
}

.edit-sub {
  margin-left: 30px;
  padding: 1px 20px;
  border-color: #007db8;
  border-radius: 15px;
  background: transparent;
  color: #007db8;
}

.fa-pencil-alt {
  margin-right: 2px;
}

.edit {
  padding-left: 3px;
  font-size: 14px;
}

.tab {
  position: relative;
  overflow: hidden;
  margin-bottom: 1px;
  width: 100%;
  color: #ffffff;
}

.tab {
  position: relative;
  overflow: hidden;
  margin-bottom: 1px;
  width: 100%;
  background: #f6f7f8;
  color: #1c4160;
}

label {
  position: relative;
  display: block;
  padding: 0 0 0 1em;
  background: #f6f7f8;
  font-weight: bold;
  line-height: 3;
  cursor: pointer;
}

.tab-content {
  overflow: hidden;
  max-height: 100em;
  background: #ffffff;
  transition: max-height 0.35s;
}

.tab-content p {
  margin: 1em;
}

/* :checked */
input:checked ~ .tab-content {
  max-height: 0;
}

/* Icon */
label:after {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3;
  transition: all 0.35s;
}

input[type=checkbox] + label:before {
  display: none;
  content: '+';
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label:before {
  transform: rotate(315deg);
}

.subd {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 16px;
}

.glyphicon-chevron-down {
  color: #1c4160;
}

.subd-button {
  float: right;
  margin-top: 5px;
  margin-right: 50px;
  padding: 0 10px;
  width: 96px;
  height: 40px;
  border: 1px solid #0072af;
  border-radius: 20px;
  background: #ffffff;
  color: #0072af;
  font-size: 14px;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  color: #000ffe;
}

/* Tooltip text */
.tooltip .tooltiptext {
  position: absolute;
  bottom: 125%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  margin-left: -60px;
  padding: 5px 0;
  width: 120px;
  border-radius: 6px;
  background-color: #555555;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555555 transparent transparent;
  content: "";
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


