$processing: #f7931e;

.wrapper {
  display: flex;
  overflow: hidden;
  max-width: 100vw;
  width: 600px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 15px;
}

.header {
  h3 {
    margin-top: 30px;
    color: #1c4160;
    font-weight: bold;
    font-size: 20px;
  }
  div {
    color: #ffffff;
    font-size: 1.3rem;
  }

  .header-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid #cccccc;
  }
  .model-entry-row {
    position: relative;
    padding-left: 20px;
    border-bottom: 1px solid #cccccc;
    background: #1c3a53;

    .main-label {
      color: #ffffff; //#677987;
      font-size: 14px;
    }
  }

  .glyphicon-remove {
    top: 7px;
    padding-left: 50px;
    color: #677987;
    font-size: 25px;
    cursor: pointer;
  }
}

/* Tooltip container */
.selected {
  position: relative;
  display: inline-block;
  margin-top: 6px;
  margin-right: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  background: #1c3a53;
  color: #ffffff;
  white-space: nowrap;
  font-size: 13px;
}

/* Tooltip text */
.selected .tooltiptext {
  position: absolute;
  bottom: 125%;
  left: 50%;
  z-index: 1;
  visibility: hidden;
  margin-left: -60px;
  padding: 5px 0;
  width: 120px;
  border-radius: 6px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.selected .tooltiptext:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent;
  content: '';
}

/* Show the tooltip text when you mouse over the tooltip container */
.selected:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.field {
  color: #000000;
}

.list {
  margin-top: 5px;
}

.nolist {
  display: none;
}

.text-mc {
  display: inline-block;
  overflow: hidden;
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.waivers {
  position: relative;
  margin-top: 15px;
}

.waiver {
  z-index: 99;
  padding-top: 8px;
  padding-left: 10px;
  width: 545px;
  height: 34px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background: #ffffff;
  color: #1c3a53;
}

.checkbox {
  position: absolute;
  z-index: 100;
  margin-top: 0;
  padding: 10px;
  width: 545px;
  border: 1px solid #d3d3d3;
  background: #ffffff;
  color: #000000;
}

.groupcenter {
  margin-top: 28px;
}

.reason {
  margin-bottom: 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d3d3d3;
}

.mdi-chevron-down {
  float: right;
  color: #000000;
  font-size: 16px;
}

.mdi-close {
  margin-right: 10px;
  margin-left: 20px;
  color: #677987;
  font-weight: bold;
  font-size: 25px;
}

.header-title, .model-form {
  padding: 20px;
  padding-top: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 30px);
  color: #c4c4c4;

  .model-form {
    flex: 1;
    overflow-y: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.sidebar {
  background-color: #f7f7f7;
  box-shadow: 3px 0 10px #eaeaea inset;
}

.footer {
  display: block;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  padding: 15px 20px;
  border-top: 1.3px solid;

  button {
    margin: 3px 5px;
    width: 30%;
    height: 45px;
    border: none;
    border-radius: 25px;
    background-color: unset;
    color: #1c4160;
    text-transform: uppercase;
    font-weight: 700;
  }

  button:hover {
    background-color: #dddddd;
    color: #979797;
  }

  .save-button {
    background-color: #007db8;
    color: #ffffff;
  }
  .save-add-another-button {
    width: 80%;
    border: 1px solid #007db8;
    background-color: #ffffff;
    color: #007db8;
    text-align: center;
  }
  .save-add-another-button:disabled {
    border: none;
  }
}

.tips {
  margin: 50px 25px;
  padding: 20px 0 10px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  color: #bdbdbd;
}

input[type=text] {
  width: 300px;
  color: #999999;
}

.model-entry-row {
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;

  .input-buttons, input, textarea {
    flex-basis: 70%;
  }
  input {
    height: 45px;
  }

  input[type=radio] {
    display: none;
  }
  input[type=radio] + label:before {
    display: inline-block;
    margin: -0.5em 0.5em;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: '';
  }
  input[type=radio]:checked + label:before {
    background-color: #007db8;
  }
  .input-button input + label:before {
    width: 1.75em;
    height: 1.75em;
  }

  label, .main-label {
    flex-basis: 30%;
    text-align: left;
  }

  .main-label {
    color: #000000;
  }

  .input-buttons {
    display: flex;

    .input-button {
      flex-basis: 25%;
    }

    label {
      color: #000000;
      font-weight: normal;
    }
  }

  .autoassigncontent {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-basis: 70%;

    label {
      margin: 0 15px;
      padding: 0;
      color: #111111;
      font-weight: normal;
    }

    .input-buttons, input, textarea {
      flex-basis: auto;
    }

    input:nth-of-type(2) {
      flex: 1;
    }
  }
}

.required:after {
  color: #ff0000;
  content: ' *';
}

.require {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
}

.validation {
  margin-top: 10px;
  padding: 5px 8px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.15);
  color: #000000;
}

.iconspacing {
  margin-left: 10px;
}

.calendar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 70%;
}

.calendar-input {
  flex-basis: 40%;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 4px;

  input {
    margin: -4px 0;
    width: 70%;
    border: transparent;
    border-right: 1px solid #cccccc;
    color: #555555;
  }

  .calendar-icon {
    color: #007db8;
  }
}
.calendar-row-text {
  color: #000000;
  font-weight: normal;
}

button:disabled {
  background-color: #eeeeee !important;
  color: #aaaaaa !important;
  cursor: auto;
}

.loader-wrapper {
  width: 100%;
  text-align: center;

  .processing {
    display: inline-flex;
    margin: 0 auto;
    width: 15%;
    color: $processing;
    text-align: center;

    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(360deg);
      }
      to {
        -moz-transform: rotate(0deg);
      }
    }
    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(360deg);
      }
      to {
        -webkit-transform: rotate(0deg);
      }
    }
    @keyframes spin {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }

    .mdi-cached:before {
      animation: spin 1s infinite linear;
    }
  }
}
