<div class="wrapper">
  <div class="main">
    <div class="header">
      <div class="header-title">
        <h3>Participant Qualifications</h3>
        <div>
          <span class="required"></span><span data-testid="field_required" aria-label="required" class="require">Required</span>
          <span data-testid="close_modal" class="mdi mdi-close" (click)="close.emit()"
                aria-label="Close model create/edit dialog"></span>
        </div>

      </div>
      <div class="model-entry-row">
        <div data-testid="model_name" class="main-label">Model Name: <span>{{model.name}}</span></div>
        <div data-testid="model_id" class="main-label">Model ID: <span>{{model.id}}</span></div>

      </div>
    </div>

    <form (keydown.enter)="$event.preventDefault()">
      <div class="model-form">

        <div class="waivers">
          <label class="required field">{{modelCategoryOptions?.display}}</label>

          <div class="waiver" (click)="openSelectMC($event)">
            <span class="text-mc">
              {{selectedModelCategoryDisplay ? selectedModelCategoryDisplay : 'Select one'}}
            </span>
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="checkbox" *ngIf="openDropdown == 'Model Category'">
            <div *ngFor="let option of modelCategoryOptions.options">
              <label>
                <input type="checkbox" value="{{option.display}}"
                       (click)="openSelectMC($event)"
                       [checked]="!!selectedModelCategory[option.display] && !!selectedModelCategory[option.display].checked"
                       (change)="selectMCOnChange(option,$event)"
                       aria-required="true" required> {{option.display}}
                <input *ngIf="option.freeTextInput != false" maxlength="250" class="reason" type="text"
                       placeholder="Enter details here (required)" name="text"
                       (click)="openSelectMC($event)"
                       [ngModel]="selectedModelCategory[option.display]?.text"
                       (ngModelChange)="selectMCTextOnChange(option,$event)">
              </label>
            </div>
          </div>
          <div *ngIf="validMC.length > 0" class="validation">
            <div *ngFor="let validationError of validMC">{{validationError}}</div>
          </div>
        </div>

        <div class="waivers">
          <label class="required field">{{targetBeneficiaryOptions.display}}</label>
          <div class="waiver" (click)="openSelectTB($event)" >
            {{objectKeys(selectedTB).length > 0 ? objectKeys(selectedTB).length : 'Select all that apply'}}
            {{objectKeys(selectedTB).length > 0 ? 'Selected' : ''}}
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="checkbox" *ngIf="openDropdown == TARGET_BENEFICIARY">
            <div *ngFor="let option of targetBeneficiaryOptions.options">
              <label>
                <input type="checkbox" value="{{option.display}}" name="tbcheck"
                       [disabled]="isTBDisabled(option)"
                       [checked]="!!selectedTB[option.display] && !!selectedTB[option.display].checked"
                       (click)="openSelectTB($event)"
                       (change)="selectTBOnChange(option,$event)"
                       aria-required="true" required> {{option.display}}
                <input *ngIf="option.freeTextInput != false" maxlength="250" class="reason" type="text"
                       [name]="option.display"
                       placeholder="Enter details here (required)"
                       [required]="option.freeTextInput != false"
                       (click)="openSelectTB($event)"
                       [ngModel]="selectedTB[option.display]?.text"
                       (ngModelChange)="selectTBTextOnChange(option,$event)">
              </label>
            </div>
          </div>
          <div class="list">
            <div class="list">
              <span class="selected" *ngFor="let select of objectKeys(selectedTB)" tooltip="{{selectedTB[select].text}}">{{select}}
                <span *ngIf="selectedTB[select].text" maxlength="250" class="fas fa-info-circle"></span>
                <span class="iconspacing" (click)="removeTB(select)">x</span>
              </span>
            </div>

          </div>
          <div *ngIf="validTB.length > 0" class="validation">
            <div *ngFor="let validationError of validTB">{{validationError}}</div>
          </div>
        </div>

        <div class="waivers">
          <label class="required field">{{targetProviderOptions.display}}</label>
          <div class="waiver" (click)="openSelectTP($event)">
            {{objectKeys(selectedTP).length > 0 ? objectKeys(selectedTP).length : 'Select all that apply'}}
            {{objectKeys(selectedTP).length > 0 ? 'Selected' : ''}}
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="checkbox" *ngIf="openDropdown == TARGET_PARTICIPANT">
            <div *ngFor="let option of targetProviderOptions.options">
              <label>
                <input type="checkbox" value="{{option.display}}" name="tpcheck" [disabled]="isTPDisabled(option)"
                       (click)="openSelectTP($event)"
                       [checked]="!!selectedTP[option.display] && !!selectedTP[option.display].checked"
                       (change)="selectTPOnChange(option,$event)"
                       aria-required="true" required> {{option.display}}
                <input *ngIf="option.freeTextInput != false" maxlength="250" class="reason" type="text"
                       [name]="option.display"
                       placeholder="Enter details here (required)"
                       (click)="openSelectTP($event)"
                       [ngModel]="selectedTP[option.display]?.text"
                       (ngModelChange)="selectTPTextOnChange(option,$event)">
              </label>
            </div>
          </div>
          <div class="list">
            <div class="list">
              <span class="selected" *ngFor="let select of objectKeys(selectedTP)" tooltip="{{selectedTP[select].text}}">{{select}}
                <span *ngIf="selectedTP[select].text" maxlength="250" class="fas fa-info-circle"></span>
                <span class="iconspacing" (click)="removeTP(select)">x</span>
              </span>
            </div>

          </div>
          <div *ngIf="validTP.length > 0">
            <div *ngFor="let validationError of validTP" class="validation">{{validationError}}</div>
          </div>
        </div>


        <div class="waivers">
          <label class="required field">{{targetParticipantOptions.display}}</label>
          <div class="waiver" (click)="openSelectParticipant($event)">
            {{objectKeys(selectedParticipant).length > 0 ? objectKeys(selectedParticipant).length : 'Select all that
            apply'}}
            {{objectKeys(selectedParticipant).length > 0 ? 'Selected' : ''}}
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="checkbox" *ngIf="openDropdown == SELECTED_PARTICIPANT">
            <div *ngFor="let option of targetParticipantOptions.options">
              <label>
                <input type="checkbox" value="{{option.display}}" name="tpcheck"
                       (click)="openSelectParticipant($event)"
                       [disabled]="isParticipantDisabled(option)"
                       [checked]="!!selectedParticipant[option.display] && !!selectedParticipant[option.display].checked"
                       (change)="selectParticipantOnChange(option,$event)"
                       aria-required="true" required> {{option.display}}
                <input *ngIf="option.freeTextInput != false" maxlength="250" class="reason" type="text"
                       placeholder="Enter details here (required)" [name]="option.display"
                       (click)="openSelectParticipant($event)"
                       [ngModel]="selectedParticipant[option.display]?.text"
                       (ngModelChange)="selectParticipantTextOnChange(option,$event)">
              </label>
            </div>
          </div>
          <div class="list">
            <div class="list">
              <span class="selected" *ngFor="let select of objectKeys(selectedParticipant)" tooltip="{{selectedParticipant[select].text}}">{{select}}
                <span *ngIf="selectedParticipant[select].text" maxlength="250" class="fas fa-info-circle"></span>
                <span class="iconspacing" (click)="removeParticipant(select)">x</span>
              </span>
            </div>

          </div>
          <div *ngIf="validParticipant.length > 0">
            <div *ngFor="let validationError of validParticipant" class="validation">{{validationError}}</div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="loader-wrapper" *ngIf="loading">
          <span class="processing" tooltip="Saving Model." container="body" placement="center">
            <i class="mdi mdi-cached" aria-label="Saving Model"></i>
            <label>Saving</label>
          </span>
        </div>
        <div class="button-row">

          <button (click)="close.emit()">Cancel</button>

          <button class="save-button" (click)="submitParticipantForm()" type="submit">Save</button>


        </div>
      </div>
    </form>

  </div>

</div>


