<div class="title-container blue-background" tabindex="-1" #titleBar>

  <div class="back-button-container" *ngIf="backButtonLink">
    <button class="back-button" (click)="goBack()">
      <i class="mdi mdi-arrow-left"></i>
    </button>
  </div>

  <div>
    <div class="pretext" *ngIf="pretext">
      <span *ngIf="backButtonLink">
        <a (click)="goBack()">{{backButtonName}}</a>
        <i class="mdi mdi-chevron-right ml-1"></i>
      </span>
      {{pretext}}
    </div>
    <div class="title-text">{{title}}</div>
    <div class="subtitle-text" *ngIf="subtitle">{{subtitle}}</div>
  </div>

  <div class="message" *ngIf="message">{{message}}</div>

  <div class="information" *ngIf="information">
    <i class="mdi" [ngClass]="informationIcon"></i>
    <div>{{information}}</div>
  </div>

  <div class="button-container" *ngIf="buttonText">
    <button class="btn btn-warning btn-icon-left" (click)="buttonClick.emit()"><i class="mdi mdi-plus mdi-24px"></i>{{buttonText}}</button>
  </div>

</div>
