@import '../../../assets/sass/variables';

.title-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-flow: row wrap;
  padding-right: 25px;
  padding-left: 25px;
  height: 135px;
  color: #ffffff;
  font-family: $default-font;
}

.back-button-container {
  display: flex;
  flex-flow: column;
  margin-right: 20px;
  max-width: 44px;
  .back-button {
    padding: 3px 10px;
    border: 2px solid #ffffff !important;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 24px;
  }
}

.pretext {
  font-size: 14px;
  a {
    color: #ffffff;
    text-decoration: underline;
  }
}

.title-text {
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 34px;
}

.subtitle-text {
  font-size: 14px;
}

.message {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  max-width: 300px;
  color: #f5f5f5;
  font-size: 14px;
}

.message {
  position: relative;
  top: -10px;
  margin-left: auto;
  color: #f5f5f5;
  font-size: 14px;
}

.information {
  display: flex;
  flex-flow: row;
  margin-left: auto;
  max-width: 250px;

  i {
    margin-right: 5px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    transform: translateY(-10px);
  }
  div {
    font-size: 12px;
  }
}

.button-container {
  margin-left: auto;
}

.btn {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);

  &:hover {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }

  &.btn-warning {
    &:hover {
      background: white;
      border-color: white;
    }
  }
}
