<div>
  <div class="tag" *ngFor="let tag of tags">
    <span class="category">{{tag.category}}</span>:
    <span class="value">{{tag.value}}</span>
    <i class="cancel-tag fas fa-times" aria-hidden="true" (click)="cancelTag(tag)"></i>
  </div>
</div>
