.tag {
  display: inline-block;
  margin-right: 8px;
  padding: 8px 15px;
  border-radius: 50px;
  background-color: #d4e8f7;
  color: #053c5f;
  font-size: 14px;

  .category {
    text-transform: uppercase;
    font-weight: 700;
  }

  .cancel-tag {
    position: relative;
    top: 2px;
    margin-left: 8px;
    cursor: pointer;
  }
}
