<form
  [formGroup]="form"
  class="d-flex flex-row flex-wrap flex-grow-1 align-items-center"
  (keydown.enter)="$event.preventDefault()"
  role="Filter Form">

  <div class="d-flex flex-row flex-grow-1 align-items-center mb-2" *ngIf="showModelSelect">
    <label for="models" class="form-label">Models</label>

    <ng-select
      id="models"
      [ngClass]="'select-models flex-grow-1'"
      formControlName="models"
      [items]="models$ | async"
      [multiple]="true"
      groupBy="group"
      [selectableGroup]="true"
      placeholder="All Models">
      <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index" let-search="searchTerm">
        <div class="custom-control ams-checkbox">
          <input [id]="'item-' + index" type="checkbox" class="custom-control-input" [checked]="item$.selected" />
          <label [for]="'item-' + index" class="custom-control-label" [ngOptionHighlight]="search">
            {{item.group || 'Unnamed group'}}
          </label>
        </div>
      </ng-template>
      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index" let-search="searchTerm">
        <div class="custom-control ams-checkbox">
          <input [id]="'item-' + index" type="checkbox" class="custom-control-input" [checked]="item$.selected" />
          <label [for]="'item-' + index" class="custom-control-label" [ngOptionHighlight]="search">
            {{item.label}}
          </label>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="d-flex flex-row flex-grow-1 align-items-center mb-2">
    <label for="dateRange" class="form-label">Date Range</label>

    <ng-select
      id="datePreset"
      [ngClass]="'select-date-preset flex-grow-1'"
      formControlName="datePreset"
      [items]="datePresets"
      [clearable]="false"
      placeholder="Date Presets">
    </ng-select>

    <div class="input-group date-range-input flex-grow-1">
      <div class="input-group-prepend">
        <button
          type="button"
          class="btn calendar-icon"
          (click)="dateRangePicker.open()">
          <i class="fas fa-calendar-alt"></i>
        </button>
      </div>
      <input
        id="dateRange"
        type="text"
        class="form-control"
        formControlName="dateRange"
        placeholder="Start date - End date"
        [satDatepicker]="dateRangePicker"
        aria-label="Report date range picker" />
      <sat-datepicker #dateRangePicker [rangeMode]="true"></sat-datepicker>
    </div>
  </div>

</form>
