@import '../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.form-label {
  margin-top: 2px;
  margin-right: 16px;
  margin-bottom: 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
}
.form-control {
  padding-left: 0.25rem;
  font-size: 14px;
}

.select-models {
  min-width: 350px;
  @media (min-width: map-get($grid-breakpoints, 'xl')) {
    margin-right: 80px;
  }
}

.select-date-preset {
  margin-right: 16px;
  min-width: 200px;
}

.date-range-input {
  min-width: 350px;
}
.calendar-icon {
  border-top: solid 1px #ced4da;
  border-bottom: solid 1px #ced4da;
  border-left: solid 1px #ced4da;
  box-shadow: none;
  color: $primary;
}

#dateRange {
  height: 41px;
}
