<ngx-datatable
  class="bootstrap"
  [columnMode]="'force'"
  [rows]="initialData"
  [rowHeight]="'auto'"
  *ngIf="loading">

  <ngx-datatable-column
    name="NPI"
    prop="npi"
    headerClass="first-column"
    cellClass="first-column"
    [width]="175"
    [maxWidth]="175"
    [frozenLeft]="true">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 150px;">
        <content-loader width="150" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Provider Info"
    prop="provider_name"
    [width]="250"
    [maxWidth]="250"
    [frozenLeft]="true">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 225px;">
        <content-loader width="225" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="225" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Start Date" prop="start_date" [width]="150" [maxWidth]="150">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 125px;">
        <content-loader width="125" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="125" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="End Date" prop="end_date" [width]="150" [maxWidth]="150">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 125px;">
        <content-loader width="125" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="125" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Model Info" [sortable]="false">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 150px;">
        <content-loader width="150" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 150px;">
        <content-loader width="150" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div style="width: 150px;">
        <content-loader width="150" height="14">
          <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="14" />
        </content-loader>
      </div>
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>

<ngx-datatable
  #providerTable
  class="bootstrap expandable"
  [columnMode]="'force'"
  [rows]="data"
  [rowHeight]="'auto'"
  [scrollbarH]="true"
  [cssClasses]="cssClasses"
  [externalPaging]="true"
  [count]="totalItems"
  [limit]="limit"
  [offset]="page"
  [externalSorting]="true"
  [sortType]="'single'"
  [sorts]="sorts"
  (sort)="sortChange($event)"
  *ngIf="!loading">

  <ngx-datatable-column
    name="NPI"
    prop="npi"
    headerClass="first-column"
    cellClass="first-column"
    [width]="175"
    [maxWidth]="175"
    [frozenLeft]="true">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <span class="npi">{{provider.npi}}</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Provider Info"
    prop="provider_name"
    [width]="250"
    [maxWidth]="250"
    [frozenLeft]="true">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <div class="d-flex flex-row flex-grow-1 align-items-start">
        <div
          class="provider-type-icon-container"
          *ngIf="provider.provider_type === 'UI' || provider.provider_type === 'BP'">
          <i
            class="mdi provider-type-icon text-secondary"
            [ngClass]="{ 'mdi-stethoscope': provider.provider_type === 'UI', 'mdi-hospital-building': provider.provider_type === 'BP' }">
          </i>
        </div>
        <div
          class="align-items-start"
          [ngClass]="{ 'ml-2': provider.provider_type === 'UI' || provider.provider_type === 'BP' }">
          <strong>{{provider.provider_name || 'Unknown'}}</strong><br />
          <small *ngIf="provider.specialties?.length">
            {{provider.specialties[0].indexOf('Error') === -1 ? provider.specialties[0] : '--'}}
            <span class="ml-2" *ngIf="provider.specialties?.length > 1">
              <ng-template #popTemplate>
                <ul class="list-unstyled">
                  <li *ngFor="let specialty of provider.specialties | slice:1:provider.specialties?.length">
                    {{specialty}}
                  </li>
                </ul>
              </ng-template>
              <span class="important" [popover]="popTemplate" popoverTitle="Additional Specialties" container="body">
                +{{provider.specialties?.length - 1}}
              </span>
            </span>
          </small>
        </div>
      </div>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Start Date" prop="start_date" [width]="150" [maxWidth]="150">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      {{provider.models[0]?.start_date?.toString() | moment:'MM/DD/YYYY':true:'YYYYMMDD'}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="End Date" prop="end_date" [width]="150" [maxWidth]="150">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <span *ngIf="provider.models[0]?.end_date < 99000000">
        {{provider.models[0]?.end_date?.toString() | moment:'MM/DD/YYYY':true:'YYYYMMDD'}}
      </span>
      <span *ngIf="provider.models[0]?.end_date > 99000000">--</span>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Model Info" [sortable]="false">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <small>Entity Name</small><br />
      <strong>{{provider.models[0]?.entity_name}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <small>TIN</small><br />
      <strong>{{provider.models[0]?.tin}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column [sortable]="false">
    <ng-template let-provider="row" ngx-datatable-cell-template>
      <small>Provider Group</small><br />
      <strong>{{provider.models[0]?.provider_group}}</strong>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column
    name="Additional Models"
    headerClass="last-column"
    cellClass="last-column"
    [width]="175"
    [maxWidth]="175"
    [sortable]="false">
    <ng-template let-provider="row" let-expanded="expanded" ngx-datatable-cell-template>
      <div *ngIf="provider.models.length <= 1">--</div>
      <button
        class="btn addt-info-btn"
        [ngClass]="{ 'active': expanded }"
        (click)="toggleModels(provider)"
        *ngIf="provider.models.length > 1">
        {{provider.models.length - 1}}
        <i class="mdi mdi-chevron-down"></i>
      </button>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-row-detail #modelDetailsRow [rowHeight]="'auto'">
    <ng-template let-provider="row" let-expanded="expanded" ngx-datatable-row-detail-template>
      <div class="d-flex flex-row align-items-center row-detail-header">
        <div>Currently viewing <strong>{{modelName}}</strong> model</div>
      </div>
      <div class="d-flex">
        <table class="table table-borderless mb-0">
          <tbody *ngFor="let model of provider.models | slice:1:provider.models?.length">
            <tr>
              <td class="pb-0" style="max-width: 175px; width: 175px;"></td>
              <td class="pb-0" style="max-width: 250px; width: 250px;"></td>
              <td class="pb-0" style="max-width: 150px; width: 150px;">
                {{model.start_date?.toString() | moment:'MM/DD/YYYY':true:'YYYYMMDD'}}
              </td>
              <td class="pb-0" style="max-width: 150px; width: 150px;">
                <span *ngIf="model.end_date < 99000000">
                  {{model.end_date?.toString() | moment:'MM/DD/YYYY':true:'YYYYMMDD'}}
                </span>
                <span *ngIf="model.end_date > 99000000">--</span>
              </td>
              <td class="pb-0 border-top" colspan="3"><span class="npi">{{model.model_name}}</span></td>
              <td class="pb-0" style="max-width: 175px; width: 175px;"></td>
            </tr>
            <tr>
              <td style="max-width: 175px; width: 175px;"></td>
              <td style="max-width: 250px; width: 250px;"></td>
              <td style="max-width: 150px; width: 150px;"></td>
              <td style="max-width: 150px; width: 150px;"></td>
              <td style="max-width: 21%; width: 21%;">
                <small>Entity Name</small><br />
                <strong>{{model.entity_name}}</strong>
              </td>
              <td style="max-width: 21%; width: 21%;">
                <small>TIN</small><br />
                <strong>{{model.tin}}</strong>
              </td>
              <td>
                <small>Provider Group</small><br />
                <strong>{{model.provider_group}}</strong>
              </td>
              <td style="max-width: 175px; width: 175px;"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>

</ngx-datatable>
