@import '../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

a:not(.disabled):not([disabled]) {
  color: #00a0e0;
}
.important {
  color: #00a0e0;
  cursor: help;
}
.npi {
  color: #00a0e0;
}

.provider-type-icon-container {
  transform: translateY(-10px);
}
.provider-type-icon {
  font-size: 24px;
}
