@import '../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.border-light {
  border-color: #b8bbbe;
}
.border-bottom {
  border-width: 2px !important;
}

.loader-title-dots {
  width: 150px;
  height: 16px;
}
.loader-circle {
  width: 200px;
  height: 200px;
}

.dot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.btn {
  display: flex;
  align-items: center;
  flex-flow: row;
  color: #5f7c92;
  .expand-icon {
    color: #00a0e0;
    font-size: 24px;
    transition: transform 0.5s ease-out;
    &.active {
      transform: rotate(180deg);
    }
  }
}
