<!-- Loading -->
<div class="d-flex flex-column flex-grow-1" *ngIf="loading">

  <!-- Title -->
  <div class="d-flex flex-row flex-grow-1 align-items-center mb-3">
    <content-loader class="loader-title-dots" width="150" height="16">
      <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="16" />
    </content-loader>

    <div class="d-flex flex-row align-items-center ml-auto">
      <div
        *ngFor="let dot of expectedDotsLength"
        class="d-flex flex-row align-items-center mr-3">

        <content-loader class="loader-title-dots" width="150" height="16">
          <svg:circle r="8" cx="8" cy="8" />
          <svg:rect x="22" y="0" rx="3" ry="3" width="128" height="16" />
        </content-loader>

      </div>
    </div>
  </div>
  <!-- End title -->

  <!-- Charts -->
  <div class="d-flex flex-row flex-wrap align-items-start mt-4 mb-4">
    <div
      *ngFor="let chart of expectedDataLength; let i = index"
      class="col-12 col-md-6 col-xl-3 mb-4 p-0 d-flex flex-column align-items-center">

      <content-loader class="loader-circle mb-3" width="200" height="200">
        <svg:circle r="100" cx="100" cy="100" />
      </content-loader>

      <content-loader class="loader-title-dots" width="150" height="16">
        <svg:rect x="0" y="0" rx="3" ry="3" width="150" height="16" />
      </content-loader>

    </div>
  </div>
  <!-- End charts -->

</div>
<!-- End loading -->

<!-- Data -->
<div
  class="d-flex flex-column flex-grow-1 ams-fade-in"
  *ngIf="!loading && data?.length">
  <div
    *ngFor="let group of data; let i = index"
    class="d-flex flex-column flex-grow-1 border-light mb-4 pb-2"
    [ngClass]="{ 'border-bottom': i !== data?.length - 1 }">

    <!-- Title -->
    <div class="d-flex flex-row flex-grow-1 align-items-center mb-3">
      <p [id]="group.title | camelCase" class="m-0">
        <strong>{{group.title}}</strong>
        <span class="ml-1 text-secondary">({{group.charts.length}})</span>
      </p>

      <div class="d-flex flex-row align-items-center ml-auto">
        <div
          *ngFor="let dot of group.dots"
          class="d-flex flex-row align-items-center mr-3">
          <div class="dot mr-2" [ngStyle]="{ 'background-color': dot.color }"></div>
          <p class="m-0"><small>{{dot.label}}</small></p>
        </div>
      </div>
    </div>
    <!-- End title -->

    <!-- Charts -->
    <div class="d-flex flex-row flex-wrap align-items-start mt-4 mb-4">
      <div
        *ngFor="let chart of group.charts | slice:0:isExpanded[i] ? group.charts.length : 4"
        class="col-12 col-md-6 col-xl-3 mb-4 p-0 d-flex flex-column">

        <ams-triple-snail-chart
          [data]="chart.data"
          [header]="chart.header"
          [total]="chart.total"
          [headerLink]="['/analytics', chart.header | kebabCase]"
          [headerQueryParams]="{ modelName: chart.header }">
        </ams-triple-snail-chart>

      </div>
    </div>
    <!-- End charts -->

    <!-- Show/hide -->
    <div class="d-flex flex-column align-items-center mb-4" *ngIf="group.charts?.length > 4">

      <button
        class="btn bg-white p-0 box-shadow-none"
        (click)="scrollTo(group.title, isExpanded[i]); isExpanded[i] = !isExpanded[i]">
        <span *ngIf="!isExpanded[i]">SHOW ALL</span>
        <span *ngIf="isExpanded[i]">SHOW LESS</span>
        <i class="mdi mdi-chevron-down ml-1 expand-icon" [ngClass]="{ 'active': isExpanded[i] }"></i>
      </button>

    </div>
    <!-- End show/hide -->

  </div>
</div>
<!-- End data -->

<!-- No data -->
<div class="d-flex flex-column flex-grow-1" *ngIf="!loading && !data?.length">
  <p class="m-0 text-secondary text-center">Adjust your filtering to acquire data.</p>
</div>
<!-- End no data -->
