<th (click)="handleClick()">
    <ng-content></ng-content>
    <i class="fas fa-caret-up"
      [ngClass]="{ 'fa-caret-down': direction === directions.Down || !active, 'fa-caret-up': direction === directions.Up && active, 'active': active }"
      aria-hidden="true"></i>
</th>
