:host {
  display: table-cell;
  vertical-align: middle;
}

th {
  cursor: pointer;
  user-select: none;
}

th span {
  vertical-align: text-bottom;
  font-size: 18px;
}

.fas.active {
  border: 1px solid #1aa1dc;
  background: #1aa1dc;
  color: #ffffff;
}

.fas {
  margin-left: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid #ced6dc;
  border-radius: 100%;
  background: #ffffff;
  color: #748998;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}
