@import '../../../assets/sass/variables';

$blue_button: #1aa1dc;

.controls {
  position: relative;
  padding-top: 20px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.results {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 35px;
  background-color: #f6f7f8;

  .tags {
    width: 100%;
  }

  .result-count {
    margin-top: 20px;
  }

  span {
    font-weight: 700;
    font-size: 24px;
  }

  button {
    padding: 8px 28px;
    border: 2px solid $blue_button;
    border-radius: 2em;
    background-color: #ffffff;
    color: $blue_button;
    font-weight: 700;
    font-size: 18px;
  }

  button:hover {
    background-color: $blue_button;
    color: #ffffff;
  }
}

.result-set {
  width: 100%;
  overflow-x: auto;
}

.server-error {
  padding: 10px;
  background-color: #f9dbdd;
  color: #e72731;
  text-align: center;
  font-style: oblique;
}
