<ams-title-bar
title="Search"></ams-title-bar>

<div *ngIf="searchError | async" class="server-error">
  {{searchError | async }}
</div>

<div class="controls">
  <ams-search-page-controls
    [searchParams]="searchStrings"
    (searchParamsChange)="updateSearchParameters($event)"
    (onSearch)="search()"
    (onClear)="clear()">
  </ams-search-page-controls>
</div>

<div class="results">
  <ams-tags class="tags" [tags]="searchTags" (onCancel)="removeTerm($event)"></ams-tags>

  <div class="result-count" *ngIf="(results | async)?.length > 0">
    <span>{{ (results | async)?.length }} Results</span>
  </div>
  <div class="result-count" *ngIf="(results | async)?.length === 0">
    <span>No Results</span>
  </div>

  <div *ngIf="(results | async)?.length > 0">
    <button type="button" (click)="download()">
      <i class="fas fa-file-download" aria-hidden="true"></i> Download CSV
    </button>
  </div>

</div>

<div class="result-set">
  <ams-sortable-table *ngIf="(results | async)?.length > 0" [headers]="tableHeaders" [items]="results | async"></ams-sortable-table>
</div>
