@import '../../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

:host {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}

.chart-header {
  font-size: 14px;
}

a {
  color: #00a0e0;
}

.text-label {
  font-size: 14px;
}

.total-label {
  color: #8397a6;
  font-size: 12px;
}
