<p class="chart-header chart-header-top mt-2 mb-0 pr-5 pl-5 text-center" *ngIf="headerPlacement === 'top'">
  <a
    [id]="'triple-snail-chart-label-' + id"
    [routerLink]="headerLink"
    [queryParams]="headerQueryParams"
    *ngIf="headerLink">
    {{header}}
  </a>
  <span [id]="'triple-snail-chart-label-' + id" *ngIf="!headerLink">{{header}}</span>
</p>

<div
  #chart
  [attr.aria-labelledby]="'triple-snail-chart-label-' + id"
  [attr.aria-describedby]="'triple-snail-chart-description-' + id">
</div>

<p class="chart-header chart-header-bottom mt-2 mb-0 pr-5 pl-5 text-center" *ngIf="headerPlacement === 'bottom'">
  <a
    [id]="'triple-snail-chart-label-' + id"
    [routerLink]="headerLink"
    [queryParams]="headerQueryParams"
    *ngIf="headerLink">
    {{header}}
  </a>
  <span [id]="'triple-snail-chart-label-' + id" *ngIf="!headerLink">{{header}}</span>
</p>

<div [id]="'triple-snail-chart-description-' + id" class="chart-description d-none">{{description}}</div>
