@import '../../../assets/sass/variables';

.ams-sidebar {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  height: 100%;
  background: $sidebar_primary_color;
}

.burgerfix {
  width: 250px;
}

.nav-lists {
  display: flex;
  flex-direction: column;
}

.nav-lists > ul.main-nav {
  flex: 1;
}

.text {
  color: $active_secondary_color;
}

#bypass .text {
  font-size: 0;
}
#bypass:focus .text {
  font-size: 1em;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    a, .item {
      display: flex;
      flex-direction: row;
      text-decoration: none;
      cursor: pointer;

      .icon {
        width: 75px;
        text-align: center;
        font-size: 24px;
        line-height: 75px;

        img {
          width: 27px;
        }
      }

      .text {
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-right: 15px;
        font-weight: $light-font-weight;
        font-size: 16px;
        font-family: $default-font;

        img {
          height: 40px;
        }
      }

      &.active img {
        box-sizing: initial;
        padding: 8px;
        width: 27px;
        border-radius: 10px;
        background-color: $active_primary_color;
      }
    }
  }
}

.nav-lists > ul:last-of-type {
  li {
    min-height: 50px;
    border: none;

    a, .item {
      .icon {
        font-size: 20px;
        line-height: 50px;
      }

      .text {
        font-size: 14px;
      }
    }
  }
}

.nav-lists-collapsed {
  ul {
    li {
      a, .item {
        .text {
          display: none;
        }
      }
    }
  }
}
