<nav class="ams-sidebar" [ngClass]="{'nav-lists-collapsed': !expanded }">
  <div class="nav-lists">
    <ul class="main-nav">

      <li role="button">
        <div class="item">
          <div class="icon" (click)="expand()" role="button" tabindex="0">
            <img src="/assets/images/navigation/menu_hamburger.svg" alt="Menu" />
          </div>
          <a class="text" [routerLink]="['/home']" role="button">
            <div class="burgerfix">
              <img src="/assets/images/navigation/ams_logo_white.svg" alt="Alternative Payment Model Management System" />
            </div>
          </a>
        </div>
      </li>

      <li role="button">
        <a href="{{path$ | async}}#main" id="bypass" class="item">
          <div class="text">Skip Navigation</div>
        </a>
      </li>

      <li role="button">
        <a [routerLink]="['/reports']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/reporting.svg" alt="Reporting"/>
          </div>
          <div class="text">Reporting</div>
        </a>
      </li>

      <li role="button">
        <a [routerLink]="['/upload']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/data_submission.svg" alt="Data Submission"/>
          </div>
          <div class="text">Data Submission</div>
        </a>
      </li>

      <li role="button">
        <a [routerLink]="['/manage-models']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/model_management.svg" alt="Model Management"/>
          </div>
          <div class="text">Model Management</div>
        </a>
      </li>

      <li role="button">
        <a [routerLink]="['/manage-participants']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/participant_management.svg" alt="Participant Management"/>
          </div>
          <div class="text">Participant Management</div>
        </a>
      </li>

      <li role="button">
        <a [routerLink]="['/search']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/search.svg" alt="Search"/>
          </div>
          <div class="text">Search</div>
        </a>
      </li>

      <li>
        <a [routerLink]="['/analytics']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/dashboard.svg" alt="Dashboards" />
          </div>
          <div class="text">Dashboards</div>
        </a>
      </li>

    </ul>
    <ul>

      <li role="button">
        <a [routerLink]="['/settings']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/settings.svg" alt="Settings"/>
          </div>
          <div class="text">SETTINGS</div>
        </a>
      </li>

      <li role="button">
        <a [routerLink]="['/support']" class="item" routerLinkActive="active">
          <div class="icon">
            <img src="/assets/images/navigation/help.svg" alt="Help and Support"/>
          </div>
          <div class="text">HELP &amp; SUPPORT</div>
        </a>
      </li>

    </ul>
  </div>
</nav>
