@import '../../../assets/sass/variables';

.top-container {
  margin-left: 38px;
  padding-bottom: 20px;
  width: 100%;
}

.ams-name-container {
  display: inline-block;
  width: 29%;
}

.ams-name {
  padding-top: 15px;
  color: #174472;
  text-align: left;
  font-weight: $light-font-weight;
  font-size: 25px;
  font-family: $default-font;
}

.slogan {
  color: #4a90e2;
  text-align: left;
  font-weight: $light-font-weight;
  font-size: 14px;
  font-family: $default-font;
}

.welcome-name-container {
  display: inline-block;
  width: 20%;
}

.spacer-top-container {
  display: inline-block;
  width: 50%;
}

.welcome-name {
  display: inline-block;
}

.middle-container {
  min-height: 450px;
  width: 100%;
}

.last-login {
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  color: #f5f5f5;
  font-weight: $light-font-weight;
  font-family: $default-font;
}

.welcome-ams {
  padding-top: 20px;
  padding-left: 40px;
  width: 100%;
  color: #f5f5f5;
  text-align: left;
  font-weight: $light-font-weight;
  font-size: 30px;
  font-family: $default-font;
}

.progress-container {
  display: inline-block;
  margin-top: 50px;
  min-width: 945px;
  width: 945px;
  height: 30%;
  border: 0;
  background: transparent;
}

.progress-boxes {
  position: relative;
}

.fa-check-circle {
  margin-left: 66px;
  color: #ffffff;
  font-size: 30px;
}

.fa-times-circle {
  margin-left: 66px;
  color: #5c82a2;
  font-size: 30px;
}

hr {
  height: 3px;
  border: none;
  background-color: #5c82a2;
  color: #5c82a2;
}

.progress-boxes hr {
  position: absolute;
  top: 0;
  width: 158px;
}

.progress-boxes hr.active {
  background: #ffffff;
}

.progress-boxes hr.available {
  left: 109px;
}

.progress-boxes hr.report-requested {
  left: 295px;
}

.progress-boxes hr.in-progress {
  left: 478px;
}

.progress-boxes hr.report-review {
  left: 662px;
}

.progress {
  position: absolute;
  top: 5px;
  display: inline-block;
  margin-left: 15px;
  width: 155px;
  height: 130px;
  border: 0;
  background: transparent;
  box-shadow: none;
  color: #f5f5f5;
  font-weight: $light-font-weight;
  font-size: 14px;
  font-family: $default-font;
}

.progress > .progress-text, .progress > .progress-date {
  padding-left: 10px;
}

.progress.report-requested {
  left: 184px;
}

.progress.in-progress {
  left: 368px;
}

.progress.report-review {
  left: 552px;
}

.progress.report-due {
  left: 736px;
}

.progress-text {
  margin-top: 5px;
  text-align: center;
}

.progress-date {
  margin-top: 10px;
  text-align: center;
}

.card-container {
  position: relative;
  top: -130px;
}

.row-1 {
  float: left;
  margin-top: 50px;
  width: 100%;
}

.row-2 {
  float: left;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 100%;
}

.card {
  position: relative;
  z-index: 1;
  display: inline-block;
  float: left;
  margin-left: 50px;
  width: 250px;
  height: 250px;
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  background-color: #ffffff;
}

.card-title {
  display: inline-block;
  margin-left: 5px;
  vertical-align: text-bottom;
  font-weight: $light-font-weight;
  font-size: 15px;
  font-family: $default-font;
  opacity: 0.5;
}
.card-text {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 18px;
}

.fa-star {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-size: 20px;
}

.continue-text {
  position: absolute;
  bottom: 20px;
  margin-left: 20px;
  color: #255ead;
  text-align: left;
  font-size: 12px;
}

.reporting-card {
  color: #008000;
}

.tasks-card {
  color: #ff0000;
}

.announcements-card {
  color: #0000ff;
}

.favorites-card {
  color: #800080;
}

.models-card {
  color: #ffa500;
}

.feedback-card {
  color: #ffff00;
}
