<div class="home-page-container">
  <div class="middle-container blue-background">

    <header role="banner">
      <div class="last-login">
        Last Login: 18 minutes ago | View Details
      </div>

      <div class="welcome-ams">
        <h1>Welcome to the AMS!</h1>
        <p>Your data is ready.</p>
      </div>
    </header>

    <div class="progress-container">
        <div class="progress-boxes">
          <div class="progress available">
            <i class="far fa-check-circle"></i>
            <div class="progress-text">
              Model Data
              <br>
              Available
            </div>

            <div class="progress-date">
            March 2, 2017
            </div>
          </div>

          <hr class="available active">

          <div class="progress report-requested">
            <i class="far fa-check-circle"></i>
            <div class="progress-text">
              Existing Model
              <br>
              Report Requested
            </div>

            <div class="progress-date">
            April 2, 2017
            </div>
          </div>

          <hr class="report-requested">

          <div class="progress in-progress">
            <i class="far fa-times-circle"></i>
            <div class="progress-text">
              Existing Model Report
              <br>
              In Progress
            </div>
          </div>

          <hr class="in-progress">

          <div class="progress report-review">
            <i class="far fa-times-circle"></i>
            <div class="progress-text">
              Existing Model
              <br>
              Report Review
            </div>
          </div>

          <hr class="report-review">

          <div class="progress report-due">
            <i class="far fa-times-circle"></i>
            <div class="progress-text">
              Existing Model
              <br>
              Report Due
            </div>

            <div class="progress-date">
            September 2, 2017
            </div>
          </div>
        </div>
      </div>

      </div>


  <div class="card-container">
    <div class="row-1">
      <div class="card">
        <div class="card-title">
          <i class="fas fa-star reporting-card"></i>
          Reporting
        </div>

        <div class="card-text">
          We saved your reports. Go back to where you left off.
        </div>
          <div class="continue-text">
            CONTINUE
          </div>
      </div>

      <div class="card">
        <div class="card-title">
          <i class="fas fa-star tasks-card"></i>
          Tasks
        </div>
        <div class="card-text">
          View tasks. Get to work.
        </div>
          <div class="continue-text">
            CONTINUE
          </div>
      </div>

        <div class="card">
          <div class="card-title">
            <i class="fas fa-star announcements-card"></i>
            Announcements
          </div>

          <div class="card-text">
            This card & additional cards could show custom content, alerts, reminders, new roperts depending on role.
          </div>
          <div class="continue-text">
            CONTINUE
          </div>
      </div>
    </div>

    <div class="row-2">
      <div class="card">
        <div class="card-title">
          <i class="fas fa-star favorites-card"></i>
          Favorites
        </div>

        <div class="card-text">
          Other interesting content can go here too.
        </div>
        <div class="continue-text">
          CONTINUE
        </div>
      </div>

      <div class="card">
        <div class="card-title">
          <i class="fas fa-star models-card"></i>
          New Models
        </div>

        <div class="card-text">
          Other interesting content can go here too.
        </div>
          <div class="continue-text">
            CONTINUE
          </div>
      </div>

        <div class="card">
          <div class="card-title">
            <i class="fas fa-star feedback-card"></i>
            Submit Feedback on AMS
          </div>

          <div class="card-text">
            Other interesting content can go here too.
          </div>
          <div class="continue-text">
            CONTINUE
          </div>
      </div>
    </div>
  </div>
</div>
