<div class="tab">
  <input id="tab-one" type="checkbox" name="tabs">
  <label for="tab-one">
    <p class="subd">

      <span class="fas fa-chevron-down"></span>
    Subdivisions
    <span>({{subdivisions?.length}})</span>
      <button class="subd-button" *ngIf="(model | async)?.status == 'Active'" aria-label="Add new subdivision" (click)="createSubdivision()">
        <div class="fas fa-plus"></div> Add New
      </button>
  </p>
  </label>

  <div class="tab-content">
    <div *ngFor="let subdivision of subdivisions" class="subdivision-data-row">
      <div class="data-header">
        <div class="subdivision-name">
          {{subdivision.name}}
          <span *ngIf="!!subdivision.shortName">({{subdivision.shortName}})</span>

          <button
            *ngIf="(model | async)?.status == 'Active'"
            class="edit-sub"
            (click)="editSubdivision(subdivision)">
            <i class="fas fa-pencil-alt"></i>
            <span class="edit">Edit</span>
          </button>
        </div>

        <div class="subdivision-id">Subdivision ID: <span>{{subdivision.id}}</span></div>
        <!--<div>{{subdivision.additionalInformation}}</div>-->
      </div>
      <div class="data">
        <div class="data-column">
          <div class="column-one">
            <div>
              <span class="data-label">Start Date</span>
              {{subdivision.startDate | moment:'MM/DD/YYYY':false}}
            </div>
          </div>
          <div class="column-two">
            <div>
              <span class="data-label">End Date</span>
              {{subdivision.endDate | moment:'MM/DD/YYYY':false}}
            </div>
          </div>
        </div>
        <div class="data-column">
          <div class="column-one">
            <div>
              <span class="data-label">Advanced APM</span>
              {{subdivision.advancedApmFlag | yesNoPartial}}
            </div>
          </div>
          <div class="column-two">
            <div>
              <span class="data-label">Mips APM</span>
              {{subdivision.mipsApmFlag | yesNoPartial}}
            </div>
          </div>
        </div>
      </div>
      <div class="data-options tooltip-box">
        <div class="tooltiptext">
          <div class="tooltiprow" (click)="deleteSubdivision(subdivision.id, subdivision.apmId)" aria-label="Delete subdivision">
            <span class="fas fa-trash-alt"></span>
            Delete
          </div>
        </div>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
  </div>
</div>

