<div class="warning-text">
	<p>
	  You are accessing a U.S. Government information system, which includes: (1) this computer, (2) this computer network,
	  (3) all computers connected to this network, and (4) all devices and storage media attached to this network or to a
	  computer on this network. This information system is provided for U.S. Government-authorized use only. - Unauthorized
	  or improper use of this system may result in disciplinary action, as well as civil and criminal penalties. -
	  By using this information system, you understand and consent to the following: * You have no reasonable expectation
	  of privacy regarding any communication or data transiting or stored on this information system. At any time, and
	  for any lawful Government purpose, the Government may monitor, intercept, and search and seize any communication
	  or data transiting or stored on this information system. * Any communication or data transiting or stored on this
	  information system may be disclosed or used for any lawful Government purpose.
	</p>
</div>