<ams-title-bar
title="Chart Library"
subtitle="Data visualization"
></ams-title-bar>

<div class="main-content">

  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <!-- Typographic overviews -->
        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Typographic Overviews</h5>

          </div>
          <div class="card-body d-flex flex-row align-items-center">
            <div class="col-12 col-md-4 p-0 d-flex flex-column border-right">

              <ams-typographic-overview
                header="Providers Joined Models"
                [icons]="providersJoinedModelsIcons"
                primaryText="1.14"
                primarySmallText="k"
                secondaryText="OUT OF 300K"
                percentageChange="2"
                percentageChangeDirection="positive">
              </ams-typographic-overview>

            </div>
            <div class="col-12 col-md-4 p-0 d-flex flex-column border-right">

              <ams-typographic-overview
                header="Providers Withdrawn from Models"
                [icons]="providersWithdrawnFromModelsIcons"
                primaryText="345"
                secondaryText="OUT OF 300K"
                percentageChange="4"
                percentageChangeDirection="negative">
              </ams-typographic-overview>

            </div>
            <div class="col-12 col-md-4 p-0 d-flex flex-column">

              <ams-typographic-overview
                header="Providers in Multiple Models"
                [icons]="providersInMultipleModels"
                primaryText="98"
                secondaryText="OUT OF 300K">
              </ams-typographic-overview>

            </div>
          </div>
        </div>
        <!-- End typographic overviews -->

        <!-- Donut charts -->
        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Donut Charts</h5>

          </div>
          <div class="card-body">
            <div class="mt-4 d-flex flex-row flex-wrap align-items-start">
              <div class="col-12 col-md-6 col-xl-3 p0 mb-3 mb-xl-0 d-flex flex-column border-right">

                <ams-donut-chart
                  [data]="providersCostSavingsData"
                  header="Providers with Cost Savings"
                  showLabels="false">
                </ams-donut-chart>

              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 mb-3 mb-xl-0 d-flex flex-column border-right-xl">

                <ams-donut-chart
                  [data]="providersQpData"
                  header="Providers QP"
                  showLabels="false"
                  centerTextType="percent">
                </ams-donut-chart>

              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 mb-3 mb-xl-0 d-flex flex-column border-right">

                <ams-donut-chart
                  [data]="mipsApmData"
                  header="MIPS APM">
                </ams-donut-chart>

              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 mb-3 mb-xl-0 d-flex flex-column">

                <ams-donut-chart
                  [data]="testData"
                  header="Test Chart"
                  centerTextType="percent">
                </ams-donut-chart>

              </div>
            </div>
          </div>
        </div>
        <!-- End donut charts -->

        <!-- Triple snail charts -->
        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Triple Snail Charts</h5>

          </div>
          <div class="card-body">
            <div class="mt-4 d-flex flex-row flex-wrap align-items-start">
              <div class="col-12 col-md-6 col-xl-3 p0 mb-3 mb-xl-0 d-flex flex-column border-right">

                <ams-triple-snail-chart
                  [data]="acoInvestmentParticipantData"
                  header="ACO Investment">
                </ams-triple-snail-chart>

              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 mb-3 mb-xl-0 d-flex flex-column border-right-xl">

                <ams-triple-snail-chart
                  [data]="comprehensiveEsrdCareParticipantData"
                  header="Comprehensive ESRD Care">
                </ams-triple-snail-chart>

              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 mb-3 mb-xl-0 d-flex flex-column border-right">

                <ams-triple-snail-chart
                  [data]="medicareHealthCareQualityDemonstrationParticipantData"
                  header="Medicare Health Care Quality Demonstration">
                </ams-triple-snail-chart>

              </div>
              <div class="col-12 col-md-6 col-xl-3 p-0 mb-3 mb-xl-0 d-flex flex-column">

                <ams-triple-snail-chart
                  [data]="nextGenerationAcoModelParticipantData"
                  header="Next Generation ACO Model">
                </ams-triple-snail-chart>

              </div>
            </div>
          </div>
        </div>
        <!-- End triple snail charts -->

        <!-- Horizontal charts -->
        <div class="card mt-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Horizontal Charts</h5>

          </div>
          <div class="card-body">

            <div class="mt-4 d-flex flex-row flex-wrap align-items-start">
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column border-right-xl">

                <ams-bar-chart
                  [data]="horzBarChart1Data"
                  header="Horizontal Bar Chart with Mini Tooltip"
                  isHorizontal="true"
                  [chartTooltip]="horzBarChart1Tooltip">
                </ams-bar-chart>

              </div>
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column">

                <ams-bar-chart
                  [data]="horzBarChart2Data"
                  header="Horizontal Bar Chart with End-of-Line Labels"
                  isHorizontal="true"
                  showEndOfBarLabels="true"
                  endOfBarLabelNumberFormat=",.2r">
                </ams-bar-chart>

              </div>
            </div>

            <hr class="mt-4 mb-4" />

            <div class="mt-4 d-flex flex-row flex-wrap align-items-start">
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column border-right-xl">

                <ams-bar-chart
                  [data]="horzBarChart3Data"
                  header="Horizontal Bar Chart with Positive and Negative Values"
                  isHorizontal="true"
                  [chartTooltip]="horzBarChart3Tooltip">
                </ams-bar-chart>

              </div>
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column">

                <ams-bar-chart
                  [data]="horzBarChart4Data"
                  header="Stacked Horizontal Bar Chart"
                  isHorizontal="true"
                  isStacked="true"
                  yAxisLabelWidth="75"
                  [chartTooltip]="horzBarChart4Tooltip">
                </ams-bar-chart>

              </div>
            </div>

            <hr class="mt-4 mb-4" />

            <div class="mt-4 d-flex flex-row flex-wrap align-items-start">
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column border-right-xl">

                <ams-bar-chart
                  [data]="horzBarChart5Data"
                  header="Grouped Horizontal Bar Chart"
                  isHorizontal="true"
                  isGrouped="true"
                  yAxisLabelWidth="75"
                  betweenBarsPadding="0.2"
                  [chartTooltip]="horzBarChart5Tooltip">
                </ams-bar-chart>

              </div>
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column"></div>
            </div>

          </div>
        </div>
        <!-- End horizontal charts -->

        <!-- Vertical charts -->
        <div class="card mt-4 mb-4">
          <div class="card-header d-flex flex-row align-items-baseline">

            <h5 class="m-0">Vertical Charts</h5>

          </div>
          <div class="card-body">

            <div class="mt-4 d-flex flex-row flex-wrap align-items-start">
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column border-right-xl">

                <ams-bar-chart
                  [data]="vertBarChart1Data"
                  header="Distribution of Providers for Payment Threshold"
                  yAxisTitle="Number of Providers"
                  xAxisTitle="Payment Threshold (in tens of thousands)"
                  [chartTooltip]="vertBarChart1Tooltip">
                </ams-bar-chart>

              </div>
              <div class="col-md-12 col-xl-6 p-0 mb-3 mb-xl-0 d-flex flex-column">

                <ams-bar-chart
                  [data]="vertBarChart2Data"
                  header="Model Subdivision Breakouts"
                  yAxisTitle="Number of Model Subdivisions"
                  xAxisTitle="in advanced APM, MIPS APM [x QRC Code]"
                  isStacked="true"
                  [chartTooltip]="vertBarChart2Tooltip">
                </ams-bar-chart>

              </div>
            </div>

          </div>
        </div>
        <!-- End vertical charts -->

      </div>
    </div>
  </div>

</div>
