@import '../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-right: 25px; // Remove if using .tab-wrapper
  padding-left: 25px; // Remove if using .tab-wrapper
}

.tab-wrapper {
  padding: 20px 15px 25px;
}

tabset ::ng-deep .nav-tabs {
  margin: 0 30px;
}

tabset ::ng-deep .nav-tabs > li {
  margin-right: 25px;
}

tabset ::ng-deep .nav-tabs > li > a {
  padding: 0 2px 5px;
  border: none;
  border-bottom: 4px solid transparent;
  color: #4e7899;
  font-weight: 700;
}

tabset ::ng-deep .nav-tabs > li > a:hover,
tabset ::ng-deep .nav-tabs > li > a:focus {
  border: none;
  border-bottom: 4px solid rgba(2, 161, 224, 0.25);
  background: transparent;
}

tabset ::ng-deep .nav-tabs > li.active > a,
tabset ::ng-deep .nav-tabs > li.active > a:hover,
tabset ::ng-deep .nav-tabs > li.active > a:focus {
  border-bottom: 4px solid #02a0e0;
  background: transparent;
  color: #02a0e0;
}

.card-header {
  background-color: #ffffff;
}
