<div class="main" *ngIf="(fileImportGroupStatus$ | async) !== 'published'">
  <div class="publish-modal-body">
    <ams-spinner type="threeBounce"></ams-spinner>
    <h3>Publishing</h3>
  </div>
</div>
<div class="main" *ngIf="(fileImportGroupStatus$ | async) === 'published'">
  <div class="publish-modal-body">
    <i class="mdi mdi-check-circle-outline mdi-48px text-success"></i>
    <h3 class="mt-2">Thank you!</h3>
    <span class="success-message">{{generatePublishSuccessMessage(fileImportGroup)}}</span>
  </div>
  <div class="publish-modal-drawer d-flex justify-content-center">
    <button aria-label="Close completed publish dialog button" (click)="completePublish()" class="btn btn-default">Done</button>
  </div>
</div>
