@import '../../../assets/sass/variables';

.main {
  position: relative;
  border-radius: 8px;
  background: #ffffff;
  text-align: center;

  h3 {
    color: #1e415d;
    font-weight: 500;
    font-size: 22px;
  }
}

.publish-modal-body {
  padding-top: 40px;
  padding-bottom: 40px;

  ::ng-deep .sk-three-bounce {
    .sk-child {
      background-color: #00a0df;
    }
  }
}

.publish-modal-drawer {
  padding: 10px;
  border-top: 1px solid rgba(128, 128, 128, 0.25);
  text-align: right;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 15px 0 0;
  padding: 0;
  color: #757575;
  font-size: 35px;
  opacity: 0.5;
  cursor: pointer;
}

// TODO: move these to a global class and consolidate across app
.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.modal-cancel-button {
  background-color: transparent;
  color: #1e415d;
}
