<i class="mdi error-icon" [ngClass]="icon"></i>

<h4 class="error-title">No Data Retrieved</h4>

<ul class="list-unstyled error-list mb-4">
  <li *ngFor="let error of errors">
    <span *ngIf="error.request" class="mr-1">{{error.request}} |</span>
    <span *ngIf="error.status" class="mr-1">{{error.status}} |</span>
    <span *ngIf="error.statusText" class="mr-1">{{error.statusText}} |</span>
    <span *ngIf="error.message">{{error.message}}</span>
  </li>
</ul>

<!-- TODO: Implement the reload functionality.
  <div>
    <button class="btn btn-secondary error-btn mb-3" *ngIf="showReloadButton">RELOAD</button>
  </div>
-->
