.error-title {
  margin-bottom: 22px;
  color: #949494;
}
.error-icon {
  color: #949494;
  font-size: 64px;
}
.error-list {
  color: #949494;
}
.error-btn {
  border-color: #00a0e0;
  border-radius: 22px;
  background-color: #00a0e0;
}
