<div class="subd">
<span *ngIf="!quarterClosed" class="report-title">
    Reporting for Quarter {{quarter}} - {{reportYear}} is open from {{reportStartDate}} - {{reportEndDate}}
</span>
<span *ngIf="quarterClosed" class="report-title">
    Quarter {{quarter}} - {{reportYear}} is the next available quarter. Data
    can be entered from {{reportStartDate}} - {{reportEndDate}}
</span>
  <button class="subd-button" [disabled]="quarterClosed" (click)="openReportDialog()">
    + Enter Quarterly Model Data
  </button>
</div>

