.subd {
  margin-left: 25px;
  font-size: 16px;
  margin-top: 35px;
  height: 65px;
}
.subd-button {
  float: right;
  margin-top: -5px;
  margin-right: 50px;
  padding: 0 30px;
  height: 40px;
  border: 1px solid #0072af;
  border-radius: 20px;
  background: #007db8;
  color: #ffffff;
  font-size: 18px;
}
.subd-button:disabled {
  background: lightgrey;
  border: none;
}
.report-title {
  color: #1c4160;
  font-size: 16px;
  margin-left: 15px;
}
