<ams-title-bar title="Participant Management"></ams-title-bar>

<div class="wrapper">

  <!--<ams-user-information [data]="userInformation"></ams-user-information>-->

  <ams-npi-search (search)="searchForNpis($event)"></ams-npi-search>

  <!--<ams-npi-search-filter></ams-npi-search-filter>-->

  <!--<ams-npi-result-manipulator></ams-npi-result-manipulator>-->

  <h1 *ngIf="qppSearching | async">SEARCHING...</h1>

  <div class="no-results" *ngIf="(results | async)?.length === 0">
    No NPI records found for NPI:
    <ul>
      <li *ngFor="let value of searchValues">{{value}}</li>
    </ul>
  </div>

  <ams-npi-result *ngFor="let result of results | async" [data]="result"></ams-npi-result>
</div>
