@import '../../../assets/sass/variables';


:host {
  display: flex;
}

div:nth-of-type(2) {
  display: flex;
}

div:nth-of-type(2) > span {
  position: relative;
}

div:nth-of-type(2) > span > a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-cell {
  width: 100%;
}
.more-dropdown {
  .more-dropdown-btn {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #ddd;
    background: white;
    transition: $defaultTransition;

    &:hover {
      background: #f2fbff;
    }
  }

  .open {
    .more-dropdown-btn {
      background: #f2fbff;
    }
  }
}

.mdi-dots-horizontal {
  position: relative;
  color: #1a90d4;
  cursor: pointer;
}


.status-label {
  > div {
    line-height: 1;

    &:nth-child(2) {
      margin-top: 8px;
    }
  }
}
