<div class="status-cell d-flex align-items-center">
  <div class="status-label flex-grow-1">
    <div class="d-flex align-items-center text-warning-dark" *ngIf="file?.validations?.warningRecordCount">
      <i class="text-warning mdi mdi-alert-circle mdi-24px mr-1"></i>{{(file?.validations?.warningRecordCount | number) || 0 }} Warnings
    </div>
    <div class="d-flex align-items-center text-error-dark" *ngIf="file?.validations?.errorRecordCount">
      <i class="text-danger mdi mdi-alert mdi-24px mr-1"></i>{{(file?.validations?.errorRecordCount | number) || 0 }} Errors
    </div>
    <div class="d-flex align-items-center text-success-dark" *ngIf="!file?.validations?.warningRecordCount && !file?.validations?.errorRecordCount">
      <i class="text-success mdi mdi-checkbox-marked-circle mdi-24px mr-1 "></i>All Records Valid
    </div>
  </div>
  <div class="more-dropdown" *ngIf="file?.validations?.warningRecordCount || file?.validations?.errorRecordCount">
    <span dropdown>
      <a class="more-dropdown-btn" href id="basic-link" dropdownToggle (click)="false"
          aria-controls="basic-link-dropdown" aria-label="Actions"
         placement="top"
         tooltip="Actions"
         aria-hidden="true">
        <i class="mdi mdi-dots-horizontal mdi-24px"></i>
      </a>
      <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right"
          role="menu" aria-labelledby="basic-link">
        <li>
          <a class="dropdown-item" (click)="details.emit(file)">View Details</a>
        </li>
        <li>
          <a class="dropdown-item" (click)="save.emit(file)">Download Details (.CSV)</a>
        </li>
      </ul>
      </span>
  </div>
</div>
