<div class="btn-group ams-btn-group" dropdown>
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle snapshot-dropdown">
    <span class="dropdown-display">{{optionValue || 'Select One'}}</span> <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li *ngFor="let option of items"
        role="menuitem">
      <a class="dropdown-item" (click)="optionSelected(option)">{{option}}</a>
    </li>
  </ul>
</div>
