@import '../../../assets/sass/variables';

.snapshot-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 25rem;
  height: 3rem;

  .dropdown-display {
    font-weight: $light-font-weight;
  }
}
