<div class="cancel-dialog">
  <h4 class="header">Cancel Model? <span class="close-modal" (click)="close.emit()">X</span></h4>
  <div class="body">
    <div class="model">
      <div class="model-name">Model Name:  {{model.name}}</div>
      <div class="model-id">Model ID:    {{model.id}}</div>
    </div>
    <div class="cancel-question">
      Would you like to Cancel the selected Model? If so, please enter the reason.
      <br>
      <strong>These changes cannot be undone.</strong>
    </div>
    <div class="reason">
      <label>Reason</label>
      <textarea maxlength="250" [(ngModel)]="cancelReason" rows="5"></textarea>
    </div>

  </div>

  <div class="footer">
    <button class="cancel-btn" (click)="close.emit()">No</button>
    <button class="confirm-btn" (click)="onCancel()">Yes</button>
  </div>

</div>
