
.cancel-dialog {
  overflow: hidden;
  max-width: 100vw;
  border-radius: 5px;
  background-color: #ffffff;
  color: #4d677c;

  .header {
    padding: 10px 20px;
    font-weight: bold;

    div {
      font-weight: bold;
      font-size: 1.3rem;
    }

    .header-title {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }
  }

  .model {
    margin-bottom: 10px;
    background: #1c3a53;
    color: #ffffff;
  }

  .model-name {
    padding: 8px 20px;
  }

  .model-id {
    padding-bottom: 8px;
    padding-left: 20px;
  }

  .body {
    input {
      padding: 5px;
      width: 83vh;
      border: 1px solid #cccccc;
      border-radius: 10px;
    }
  }

  .footer {
    display: flex;
    float: right;
    padding: 15px 20px;

    button {
      margin: 3px 5px;
      padding: 0 15px;
      height: 35px;
      border: none;
      border-radius: 15px;
      background-color: unset;
      color: #1c4160;
      font-weight: 700;
    }

    .confirm-btn {
      background-color: #d43f3a;
      color: #ffffff;
    }

    .cancel-btn {
      border: none;
      background-color: #0096dc;
      color: #ffffff;
      text-align: center;
    }
  }
}

.cancel-question {
  padding: 5px 20px;
}

.spacer {
  padding-right: 25px;
  color: #677987;
}

.reason {
  margin-top: 10px;
  padding: 5px 20px;
}

textarea {
  width: 100%;
}

.close-modal {
  float: right;
  color: #d3d3d3;
  font-size: 20px;
  cursor: pointer;
}
