<div class="ams-app">
  <div class="sidebar">
    <ams-sidebar></ams-sidebar>
  </div>

  <div id="main" class="content">
    <ams-navbar [showLinkToModelPage]="showLinkToModels"></ams-navbar>
    <main role="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
