:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.ams-app {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow-x: hidden;

  .sidebar {
    min-width: 75px;
    max-height: 100vh;
    height: 100vh;

    ams-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 100vh;
    }
  }

  .content {
    overflow-y: auto;
    min-height: 100vh;
    max-height: 100vh;
    width: calc(100vw - #{75px});
    height: 100vh;
    background-color: #f4f4f4;
  }
}
