<nav aria-label="Pagination">
  <ul
    class="pagination m-0"
    [ngClass]="{ 'pagination-sm': 'sm' === size, 'pagination-lg': 'lg' === size }">

    <li class="page-item" *ngIf="boundaryLinks">
      <a
        class="page-link"
        [ngClass]="{ 'disabled': !hasPrevious() }"
        href=""
        (click)="!!selectPage(1)"
        [attr.tabindex]="hasPrevious() ? null : '-1'"
        aria-label="First">
        <i class="mdi mdi-page-first"></i>
        <span class="sr-only">First</span>
      </a>
    </li>

    <li class="page-item" *ngIf="directionLinks">
      <a
        class="page-link"
        [ngClass]="{ 'disabled': !hasPrevious() }"
        href=""
        (click)="!!selectPage(page - 1)"
        [attr.tabindex]="hasPrevious() ? null : -1"
        aria-label="Previous">
        <i class="mdi mdi-chevron-left"></i>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li [hidden]="'slim' === type" *ngFor="let pageNumber of pages">
      <a
        [ngClass]="{ 'active': pageNumber === page, 'disabled': isEllipses(pageNumber) }"
        *ngIf="isEllipses(pageNumber)">
        ...
      </a>
      <a
        class="page-link"
        [ngClass]="{ 'active': pageNumber === page, 'disabled': isEllipses(pageNumber) }"
        href=""
        (click)="!!selectPage(pageNumber)"
        *ngIf="!isEllipses(pageNumber)">
        {{pageNumber}}
      </a>
    </li>

    <li class="page-item" *ngIf="directionLinks">
      <a
        class="page-link"
        [ngClass]="{ 'disabled': !hasNext() }"
        href
        (click)="!!selectPage(page + 1)"
        [attr.tabindex]="hasNext() ? null : '-1'"
        aria-label="Next">
        <i class="mdi mdi-chevron-right"></i>
        <span class="sr-only">Next</span>
      </a>
    </li>

    <li class="page-item" *ngIf="boundaryLinks">
      <a
        class="page-link"
        [ngClass]="{ 'disabled': !hasNext() }"
        href
        (click)="!!selectPage(pageCount)"
        [attr.tabindex]="hasNext() ? null : '-1'"
        aria-label="Last">
        <i class="mdi mdi-page-last"></i>
        <span class="sr-only">Last</span>
      </a>
    </li>

  </ul>
</nav>
