.page-link {
  padding: 0 6px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: #929292;
  line-height: 1.15;
  &.disabled, &[disabled] {
    color: #aaaaaa;
    cursor: not-allowed;
  }
  &:hover:not(.disabled):not([disabled]) {
    background-color: transparent;
    color: #6e6e6e;
  }

  i {
    font-size: 32px;
  }
}
