<div class="d-xs-none">Items per page</div>

<div class="d-xs-none ml-4">

  <div class="form-group m-0">
    <select
      class="form-control limit-options"
      [(ngModel)]="limit"
      (ngModelChange)="pageChange.emit({ page: null, size: limit })"
      attr.aria-label="Items per page">
      <option *ngFor="let option of limitOptions" [value]="option">
        {{option}}
      </option>
    </select>
  </div>

</div>

<div class="ml-4" *ngIf="totalItems > limit">
  {{getRangeString()}}
</div>

<ams-pagination-controls
  class="ml-3"
  [type]="type"
  size="sm"
  [totalItems]="totalItems"
  [limit]="limit"
  boundaryLinks="false"
  [(page)]="page"
  (pageChange)="pageChange.emit({ page: page, size: limit })"
  *ngIf="totalItems > limit">
</ams-pagination-controls>

