<h3>Add Search Filters</h3>
<fieldset>
  <div *ngFor="let filter of filters" class="checkbox">
    <label>
      <input type="checkbox" [value]="filter.value">
      {{filter.name}}
    </label>
  </div>
</fieldset>
<button class="btn btn-primary">Search</button>
