<div class="d-flex">
  <div class="d-flex align-items-center text-warning-dark mr-3" *ngIf="file?.validations?.warningRecordCount">
    <i class="mdi mdi-alert-circle mdi-24px text-warning mr-1"></i> {{(file?.validations?.warningRecordCount | number) || 0}} Warnings
  </div>
  <div class="d-flex align-items-center text-error-dark" *ngIf="file?.validations?.errorRecordCount">
    <i class="mdi mdi-alert mdi-24px text-danger mr-1"></i> {{(file.validations?.errorRecordCount | number) || 0}} Errors
  </div>
  <div class="d-flex align-items-center text-success-dark" *ngIf="!file?.validations?.warningRecordCount && !file?.validations?.errorRecordCount">
    <i class="text-success mdi mdi-checkbox-marked-circle mdi-24px mr-1 "></i>All Records Valid
  </div>
</div>
<div class="view-download-links d-flex align-items-center" *ngIf="file?.validations?.warningRecordCount || file?.validations?.errorRecordCount">
  <a (click)="details.emit(file)">View Details</a><span class="pipe"></span><a (click)="save.emit(file)">Download Details (.CSV)</a>
</div>
