.view-download-links {
  a {
    color: #00a0e0;
    padding: 5px;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      background: #d8f1ff;
      left: -5px;
      top: 0px;
      bottom: 0px;
      right: -5px;
      border-radius: 100px;
      position: absolute;
      opacity: 0;
      transition: all .2s linear;
      z-index: -1;
    }

    &:hover {
      color: #007fb1;

      &:before {
        opacity:1;
      }
    }

  }
  .pipe {
    width: 1px;
    background: #ccc;
    height:20px;
    margin: 0 5px;
    display: inline-block;
  }
}
