<span class="toggle-trigger" (click)="expandToggleEvent.emit()" tabindex="0" (keyup.enter)="expandToggleEvent.emit()" [attr.aria-label]="ariaText">
  <ng-container *ngIf="isExpanded">
    <i class="mdi mdi-chevron-up mdi-32px"></i>
  </ng-container>

  <i *ngIf="!isExpanded" class="mdi mdi-chevron-down mdi-32px"></i>
</span>
