@import '../../../assets/sass/variables';

.toggle-trigger {
  width: 38px;
  height: 38px;
  display: inline-block;
  line-height: 38px;
  border-radius: 100%;
  transition: $defaultTransition;
  background: white;

  .mdi {
    color: #1a90d4;
    cursor: pointer;
    display: inline-block;
    width: 38px;

    &.mdi-chevron-up {
      background: #e5eaef;
      border-radius: 100%;
    }
  }

  &:hover {
    background: #e5eaef;
  }
}
