<div class="wrapper">
  <div class="main">

    <div class="header">
      <div class="header-title">
        <h3>Legal Framework</h3>
        <div>
          <span class="required"></span>
          <span data-testid="field_required" aria-label="required" class="require">Required</span>
          <span
            data-testid="close_modal"
            class="mdi mdi-close"
            (click)="close.emit()"
            aria-label="Close model create/edit dialog">
          </span>
        </div>
      </div>
      <div class="model-entry-row">
        <div data-testid="model_name" class="main-label">
          Model Name: <span>{{model.name}}</span>
        </div>
        <div data-testid="model_id" class="main-label">Model ID: <span>{{model.id}}</span></div>
      </div>
    </div>

    <form name="formLegalFramework" (keydown.enter)="$event.preventDefault()">

      <div class="model-form">

        <div class="model-entry-row">
          <label class="required main-label">{{statutoryAuthorityOptions.display}}</label>
          <select
            class="form-control"
            [(ngModel)]="selectedSA"
            (ngModelChange)="selectSA($event)"
            name="sa"
            aria-required="true"
            required>
            <option class="defaultoption" value="null" selected disabled>Select one</option>
            <option
              *ngFor="let option of statutoryAuthorityOptions.options"
              [value]="option.display">
              {{option.display}}
            </option>
          </select>
          <div *ngIf="saValid" class="validation">{{saValid}}</div>
        </div>

        <div *ngIf="selectedSA == 'ACA'" class="model-entry-row">
          <label class="required main-label">{{typeACAOptions.display}}</label>
          <select
            class="form-control"
            [(ngModel)]="selectedSAT"
            (ngModelChange)="selectSAT($event)"
            name="aca"
            aria-required="true"
            required>
            <option class="defaultoption" value="null" selected disabled>Select one</option>
            <option
              *ngFor="let option of typeACAOptions.options"
              [value]="option.display">
              {{option.display}}
            </option>
          </select>
          <div *ngIf="satValid" class="validation">{{satValid}}</div>
        </div>

        <div *ngIf="selectedSA == 'MMA'" class="model-entry-row">
          <label class="required main-label">{{typeMMAOptions.display}}</label>
          <select
            class="form-control"
            [(ngModel)]="selectedSAT"
            (ngModelChange)="selectSAT($event)"
            name="mma">
            <option class="defaultoption" value="null" selected disabled>Select one</option>
            <option
              *ngFor="let option of typeMMAOptions.options"
              [value]="option.display">
              {{option.display}}
            </option>
          </select>
          <div *ngIf="satValid" class="validation">{{satValid}}</div>
        </div>

        <div class="waivers">
          <label class="required field">{{waiversOptions.display}}</label>
          <div class="waiver" (click)="openSelectWaivers($event)">
            {{objectKeys(selectedWaivers).length > 0 ? objectKeys(selectedWaivers).length : 'Select all that apply'}}
            {{objectKeys(selectedWaivers).length > 0 ? 'Selected' : ''}}
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="checkbox" *ngIf="openDropdown == WAIVERS">
            <div *ngFor="let option of waiversOptions.options">
              <label>
                <input
                  type="checkbox"
                  [value]="option.display"
                  name="waivercheck"
                  [disabled]="areWaiversDisabled(option)"
                  (click)="openSelectWaivers($event)"
                  [checked]="!!selectedWaivers[option.display] && !!selectedWaivers[option.display].checked"
                  (change)="selectWaiversOnChange(option,$event)"
                  aria-required="true"
                  required /> {{option.display}}
                <input
                  *ngIf="option.freeTextInput != false"
                  maxlength="250"
                  class="reason"
                  type="text"
                  [name]="option.display"
                  placeholder="Enter details here (required)"
                  (click)="openSelectWaivers($event)"
                  [ngModel]="selectedWaivers[option.display]?.text"
                  (ngModelChange)="selectWaiversTextOnChange(option,$event)" />
              </label>
            </div>
          </div>
          <div class="list">
            <div class="list">
              <span
                class="selected"
                *ngFor="let select of objectKeys(selectedWaivers);  let i = index"
                [tooltip]="selectedWaivers[select].text"
                placement="bottom"
                container="body">
                {{select}}
                <i
                  *ngIf="selectedWaivers[select].text"
                  maxlength="250"
                  class="fas fa-info-circle">
                </i>
                <span class="iconspacing" (click)="removeWaivers(select)">x</span>
              </span>
            </div>
          </div>
          <div *ngIf="waiverValid.length > 0">
            <div *ngFor="let validationError of waiverValid" class="validation">
              {{validationError}}
            </div>
          </div>
        </div>

        <div class="groupcenter">
          <label class="required field">{{groupCenterOptions.display}}</label>
          <div class="waiver" (click)="openSelectGC($event)">
            {{objectKeys(selectedGroup).length > 0 ? objectKeys(selectedGroup).length : 'Select all that apply'}}
            {{objectKeys(selectedGroup).length > 0 ? 'Selected' : ''}}
            <span class="mdi mdi-chevron-down"></span>
          </div>
          <div class="checkbox" *ngIf="openDropdown == GROUP_CENTER">
            <div *ngFor="let option of groupCenterOptions.options">
              <label>
                <input
                  type="checkbox"
                  [value]="option.display"
                  name="groupcheck"
                  [disabled]="isGroupDisabled(option)"
                  (click)="openSelectGC($event)"
                  [checked]="!!selectedGroup[option.display] && !!selectedGroup[option.display].checked"
                  (change)="selectGroupOnChange(option,$event)"
                  aria-required="true"
                  required /> {{option.display}}
              </label>
            </div>
          </div>
          <div class="list">
            <div class="list">
              <span
                class="selected"
                *ngFor="let select of objectKeys(selectedGroup)"
                [tooltip]="selectedGroup[select].text"
                placement="bottom"
                container="body">
                {{select}}
                <span *ngIf="selectedGroup[select].text" class="fas fa-info-circle "></span>
                <span class="iconspacing" (click)="removeGroup(select)">x</span>
              </span>
            </div>
          </div>
          <div *ngIf="groupValid" class="validation">{{groupValid}}</div>
        </div>

        <div
          *ngIf="selectedGroup['Center for Medicare and Medicaid Innovation (CMMI)']"
          class="model-entry-row">
          <label class="required main-label">{{groupCMMIOptions.display}}</label>
          <select
            class="form-control"
            [(ngModel)]="selectedCMMI"
            (ngModelChange)="selectCMMI($event)"
            name="cmmi">
            <option class="defaultoption" value="null" selected disabled>Select one</option>
            <option *ngFor="let option of groupCMMIOptions.options" [value]="option.display">
              {{option.display}}
            </option>
          </select>
          <div *ngIf="cmmiValid" class="validation">{{cmmiValid}}</div>
        </div>

      </div>

      <div class="footer">
        <div class="loader-wrapper" *ngIf="loading">
          <span class="processing" tooltip="Saving Model." container="body" placement="center">
            <i class="mdi mdi-cached" aria-label="Saving Model"></i>
            <label>Saving</label>
          </span>
        </div>
        <div class="button-row">
          <button (click)="close.emit()">Cancel</button>
          <button class="save-button" (click)="submitLegalFrameworkForm()" type="submit">
            Save
          </button>
        </div>
      </div>

    </form>
  </div>
</div>


