@import '../../../assets/sass/variables';
.search {
  display: inline-block;
  float: left;
  margin-left: 40px;
  width: 40%;
  height: 50px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #d3d3d3;
}
.fa-search {
  background-color: transparent;
}
.model-container-headers {
  .fas, .far {
    left: 5px;
    margin-left: 8px;
    padding-top: 3px;
    width: 16px;
    height: 16px;
    border: 1px solid #ced6dc;
    border-radius: 100%;
    background: #ffffff;
    color: #999999;
    font-size: 9px;
    &.active {
      border: 1px solid #1aa1dc;
      background: #1aa1dc;
      color: #ffffff;
    }
    &.fa-caret-up {
      padding-top: 2px;
    }
  }
}
.search-btn {
  display: inline;
  float: right;
  margin-right: 20px;
  width: 10%;
  text-align: left;
}
.search-container {
  display: flex;
  align-items: center;
  padding: 15px 35px 20px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #dddddd;
}
.reporting-container {
  display: flex;
  align-items: center;
  padding: 15px 35px 20px 40px;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ddd;
  padding: 15px 35px 20px 35px;
  width: 100%;
}
.reporting-container {
  display: flex;
  align-items: center;
  height: 90px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px 35px 20px 40px;
  width: 100%;
}
.search-container-headers-group {
  flex-grow: 1;
}
.search-container-header {
  color: #1c4160;
  font-weight: bold;
  font-size: 20px;
}
.search-container-subheader {
  color: #677987;
  font-size: 15px;
}
.grey-model-button {
  display: inline-block;
  float: left;
  margin: 30px 15px;
  padding-left: 15px;
  width: 15%;
  height: 50px;
  border-radius: 25px;
  background-color: #9b9b9b;
  color: #ffffff;
  text-align: center;
}
.button {
  padding-top: 0;
  padding-bottom: 0;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: $action-button-background;
  color: $action-button-color;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  transition: opacity linear 0.3s;
}
.subd-button:disabled {
  background: lightgrey;
  border: none;
}

.search-box {
  display: flex;
  padding: 6px 25px 6px 13px;
  height: 40px;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 100px;
  background: white;
  
  i {
    color: #aaa;
  }
}
.search-box input {
  border: none;
  background-color: transparent;
}
.search-box input:focus {
  outline: none;
}
.search-box .fa-search {
  color: #757575;
}
.manage-models-table {
  display: flex;
}
.model-container {
  display: flex;
  align-items: center;
  .icon-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
.model-container-headers {
  @extend .model-container;
}
.row-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: auto;
  padding: 15px 8px;
  min-width: 170px;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  .icon-container {
    position: absolute;
    right: 10px;
  }
}
.data-table-header {
  color: #757575;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.detail-data-table-header {
  flex-grow: 1;
}
.detail-data-table-header-name {
  color: #1c4160;
  font-weight: bold;
  font-size: 20px;
}
.detail-data-table-header-id {
  color: #677987;
  font-size: 15px;
}
.model-button-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 15px;
}
.blue-name {
  color: #69a2e9;
}
.model-data-row {
  border: 1px transparent;
  border-style: solid none;
  background-color: white;
  a:hover, a:focus {
    text-decoration: none;
  }
  a {
    color: #000000;
  }
  &.icon-container {
    position: absolute;
    right: 5px;
  }
}
.model-data-row:nth-of-type(even) {
  border: 1px rgb(247, 247, 247);
  border-style: solid none;
  background-color: rgb(247, 247, 247);
}
.model-data-row .edit-row-icons, .model-data-row.selected:hover .edit-row-icons {
  visibility: hidden;
}
.model-data-row:hover {
  border: 1px #abdff6;
  border-style: solid none;
  background-color: #e5f6fd;
  cursor: pointer;
}
.model-data-row:hover .edit-row-icons {
  visibility: visible;
  padding-left: 7px;
  color: #829eb2;
  font-size: 16px;
}
.model-data-row:hover .icon-container:hover {
  .edit-row-icons {
    color: #757575;
  }
}
.model-data-list, .model-data-details {
  flex-grow: 1;
  overflow-x: auto;
}
.model-data-list.detail-view {
  flex-basis: 40%;
  overflow-x: auto;
}
.model-data-details.detail-view {
  flex-basis: 60%;
}
.model-data-details {
  padding: 25px 40px;
  border: 1px solid #dddddd;
  border-top: none;
}
.model-data-details .data-table-header {
  color: #677987;
  font-weight: bold;
  font-size: 12px;
}
.model-data-details .model-container-headers, .model-data-details .model-container {
  padding-left: 0;
  border: none;
}
.model-data-details .fa-times {
  top: 7px;
  color: #677987;
  font-size: 25px;
  cursor: pointer;
}
.detail-header-section {
  display: flex;
}
.hide {
  display: none !important;
}
.model-data-row.selected {
  border: 1px #abdff6;
  border-style: solid none;
  border-right: 5px solid #6ac9f1;
  background-color: #e5f6fd;
}
.no-models {
  padding: 81px;
  width: 100%;
  color: #757575;
  text-align: center;
  font-size: 4.5rem;
}
.edit-icons-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  .button-blue {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    border-color: #007db8;
    background-color: #007db8;
    color: #ffffff;
    .fas, .far {
      margin-left: 5px;
    }
  }
  .close-button {
    top: 2px;
    margin-left: 10px;
  }
}
.content-container {
  width: 30%;
}
.content-container .card-list-container {
  width: 100%;
  background-color: #f4f7fa;
}
.model-list-selected {
  display: flex;
  flex-direction: row;
  height: calc(100vh - #{
        50px
    }
  );
  border-top: 1px solid #dddddd;
  &.hidden {
    display: none;
  }
  .model-cards {
    flex: 3;
    overflow-x: hidden;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background: #eeeeee;
  }
  .model-content {
    flex: 7;
  }
  .model-cards, .model-content {
    overflow-y: auto;
    height: 100%;
  }
}
.mat-calendar {
  height: 390px !important;
}
.model-check {
  zoom: 1.95;
}
.select-all {
  margin-top:20px;
}
.select-all-label {
  float:left;
}
.select-all-span {
  float:left;
  margin-left:5px;
  color:#333;
}
.filter-reports {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.filter-model-label {
  min-width: 80px;
  padding: 0px 2px 0px 20px;
  font-weight: 500;
}
.filter-qtr-label {
  min-width: 80px;
  padding: 0px 15px 0px 20px;
  font-weight: 500;
}
.filter-yr-label {
  min-width: 70px;
  text-align: center;
  font-weight: 500;
}
.filter-model {
  min-width: 250px;
}
.filter-quarter {
  min-width: 150px;
}
.filter-year {
  min-width: 150px;
}
.sub-title {
  padding-top: 5px;
  color: #7ac5d5;
  font-size: 14px;
}
.subd {
  margin-top: 35px;
  margin-left: 25px;
  height: 65px;
  font-size: 16px;
}
.subdivision-data-row {
  background: #ffffff;
}
.subd-button {
  float: right;
  margin-top: -5px;
  margin-right: 50px;
  padding: 0 30px;
  height: 40px;
  border: 1px solid #0072af;
  border-radius: 20px;
  background: #007db8;
  color: #ffffff;
  font-size: 18px;
}
.filter-apply {
  @extend .subd-button;
  margin-right: 10px;
  margin-left: 20px;
}
.report-title {
  margin-left: 15px;
  color: #1c4160;
  font-size: 16px;
}
.subd {
  margin-left: 25px;
  font-size: 16px;
  margin-top: 35px;
  height: 65px;
}
.subdivision-data-row {
  background: white;
}
.subd-button {
  float: right;
  margin-right: 50px;
  border: 1px solid #0072af;
  background: #007db8;
  border-radius: 20px;
  color: white;
  height: 40px;
  font-size: 18px;
  padding: 0 30px;
  margin-top: -5px;
}
.filter-apply {
  @extend .subd-button;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 20px;
}
.report-title {
  color: #1c4160;
  font-size: 16px;
  margin-left: 15px;
}
input[type="checkbox"] {
  visibility: hidden;
}
input[type="checkbox"] + label:before {
  border: 2px solid gray;
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 20px;
  margin: 0 .25em 0 0;
  padding: 0;
  width: 20px;
}
input[type="checkbox"]:checked + label:before {
  text-align: center;
  background: #3f51b5;
}
input[type="checkbox"]:checked + label:after {
  font-weight: bold;
  content: "";
  display: inline-block;
  height: 6px;
  width: 12px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  color: white;
  position: absolute;
  top: 27px;
  left: 20px;
}
.data-table {
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}
.data-table thead th {
  background-color: white;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}
.data-table tbody td {
  color: #333;
  padding: 10px;
  white-space: pre-wrap;
  height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}
.data-wrapper {
  position: relative;
}
.data-scroll {
  margin-left: 180px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
}
.data-table .data-sticky-col {
  border-right: solid 1px lightgray;
  left: 0;
  position: absolute;
  top: auto;
  width: 180px;
}
.data-highlight:hover {
  background-color: #e5f6fd;
  cursor: pointer;
}
.data-stripes {
  background-color:white;
}
.data-stripes-even:hover {
  @extend .data-highlight:hover;
}
.data-stripes:hover {
  @extend .data-highlight:hover;
}
