<div class="manage-models-container">
  <div class="manage-models-display-list" [hidden]="selectedModelId | async">

    <ams-title-bar
    title="Model Management"
    buttonText="Add New Model"
    (buttonClick)="openModal()"
    ></ams-title-bar>

    <ams-tabs>
      <ams-tab [title]="'Models'">
        <div class="search-container">
          <div class="search-container-headers-group">
            <div class="search-container-header">Models</div>
            <div class="search-container-subheader">{{(sortedAndFilteredModels | async)?.length}} Models</div>
          </div>
          <div class="search-box" role="search">
            <i class="mdi mdi-magnify mdi-24px mr-2"></i>
            <input type="text" [ngModel]="searchString" (ngModelChange)="searchTextUpdated($event)"
                   placeholder="Search Models" aria-label="Search model input">
          </div>
        </div>
        <div class="model-data-list">
          <div class="model-container-headers">
            <div (click)="onSort('id')" class="row-item data-table-header">
              <span>ID</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'id',
              'fa-caret-up': sortOrders['id'] > 0,
              'fa-caret-down': sortOrders['id'] < 0}">
              </i>
            </div>
            <div (click)="onSort('shortName')" class="row-item data-table-header">
              <span>Nickname</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'shortName',
              'fa-caret-up': sortOrders['shortName'] > 0,
              'fa-caret-down': sortOrders['shortName'] < 0}">
              </i>
            </div>
            <div (click)="onSort('name')" class="row-item data-table-header">
              <span>Name</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'name',
              'fa-caret-up': sortOrders['name'] > 0,
              'fa-caret-down': sortOrders['name'] < 0}">
              </i>
            </div>
            <div (click)="onSort('apmForQPP')" class="row-item data-table-header">
              <span>APM for QPP</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'apmForQPP',
              'fa-caret-up': sortOrders['apmForQPP'] > 0,
              'fa-caret-down': sortOrders['apmForQPP'] < 0}">
              </i>
            </div>
            <div (click)="onSort('teamLeadName')" class="row-item data-table-header">
              <span>Team Lead</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'teamLeadName',
              'fa-caret-up': sortOrders['teamLeadName'] > 0,
              'fa-caret-down': sortOrders['teamLeadName'] < 0 }">
              </i>
            </div>
            <div (click)="onSort('startDate')" class="row-item data-table-header">
              <span>Start Date</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'startDate',
              'fa-caret-up': sortOrders['startDate'] > 0,
              'fa-caret-down': sortOrders['startDate'] < 0 }">
              </i>
            </div>
            <div (click)="onSort('endDate')" class="row-item data-table-header">
              <span>End Date</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'endDate',
              'fa-caret-up': sortOrders['endDate'] > 0,
              'fa-caret-down': sortOrders['endDate'] < 0 }">
              </i>
            </div>
            <div (click)="onSort('updatedBy')" class="row-item data-table-header">
              <span>Updated By</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'updatedBy',
              'fa-caret-up': sortOrders['updatedBy'] > 0,
              'fa-caret-down': sortOrders['updatedBy'] < 0}">
              </i>
            </div>
            <div (click)="onSort('updatedDate')" class="row-item data-table-header">
              <span>Updated Date</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'updatedDate',
              'fa-caret-up': sortOrders['updatedDate'] > 0,
              'fa-caret-down': sortOrders['updatedDate'] < 0}">
              </i>
            </div>
            <div (click)="onSort('status')" class="row-item data-table-header">
              <span>Status</span>
              <i class="fas" [ngClass]="{ 'active': currentSort === 'status',
              'fa-caret-up': sortOrders['status'] > 0,
              'fa-caret-down': sortOrders['status'] < 0}">
              </i>
            </div>
            <div class="row-item data-table-header icon-container"></div>
          </div>
          <div class="model-data-row" *ngFor="let model of (sortedAndFilteredModels | async); let i = index">
            <a class="model-container" [routerLink]="['/manage-models', model.id]">
              <div class="row-item">{{model.id}}</div>
              <div class="row-item">{{model.shortName}}</div>
              <div class="row-item">{{model.name}}</div>
              <div class="row-item">{{model.apmForQPP}}</div>
              <div class="row-item">{{model.teamLeadName}}</div>
              <div class="row-item">{{model.startDate | moment:"MM/DD/YYYY":false}}</div>
              <div class="row-item">{{model.endDate | moment:"MM/DD/YYYY":false}}</div>
              <div class="row-item">{{model.updatedBy}}</div>
              <div class="row-item">{{model.updatedDate | moment:"MM/DD/YYYY":false}}</div>
              <div class="row-item">{{model.status}}</div>
              <div class="row-item data-table-header icon-container"></div>
            </a>
          </div>
          <div class="no-models" *ngIf="(sortedAndFilteredModels | async)?.length === 0">
            No Models Found
          </div>
        </div>
      </ams-tab>
      <ams-tab [title]="'Quarterly Model Data'">
        <ams-model-quarterly-report-dates
          [modelReportDates]="modelReportDates | async"
          (openModal)="openModelReportModal(null)">
        </ams-model-quarterly-report-dates>
        <div class="subdivision-data-row">
          <form class="reporting-container">
            <div class="search-container-headers-group">
              <div class="search-container-header"></div>
            </div>
            <div class="filter-reports">
              <label class="filter-model-label">Model</label>
              <mat-list-item role="listitem">
                <mat-form-field appearance="outline" class="select-form">
                  <mat-select placeholder="Select All" name="models" [(ngModel)]="selectedModelNames"
                              class="filter-select" multiple
                              #modelSelect="ngModel">
                    <mat-option disabled="disabled" class="filter-option">
                      <div class="select-all">
                        <input type="checkbox" class="model-check" id="c1"
                               (click)="selectAllModelNames(checkModels.checked, modelSelect, modelNames)"
                               #checkModels [checked]="allModelNamesSelected">
                        <label class="select-all-label" for="c1"></label>
                        <span class="select-all-span">Select All</span>
                      </div>
                    </mat-option>
                    <hr>
                    <mat-option *ngFor="let option of modelNames" [value]="option" (click)="modelNameSelected()">
                      {{option}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>
              <label class="filter-qtr-label">Quarters</label>
              <mat-list-item role="listitem">
                <mat-form-field appearance="outline" class="select-form">
                  <mat-select placeholder="Select All" name="quarters" [(ngModel)]="selectedQuarters"
                              class="filter-select" multiple
                              #quarterSelect="ngModel">
                    <mat-option disabled="disabled" class="filter-option">
                      <div class="select-all">
                        <input type="checkbox" class="model-check" id="c2"
                               (click)="selectAllQuarters(checkQuarters.checked,
                               quarterSelect, modelReportQuarterOptions)" [checked]="allQuartersSelected"
                               #checkQuarters>
                        <label class="select-all-label" for="c2"></label>
                        <span class="select-all-span">Select All</span>
                      </div>
                    </mat-option>
                    <hr>
                    <mat-option *ngFor="let quarter of modelReportQuarterOptions" [value]="quarter"
                                (click)="quarterSelected()">
                      Quarter {{quarter}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-list-item>
              <label class="filter-yr-label">/ Year</label>
              <mat-form-field appearance="outline">
                <mat-select name="year" [(ngModel)]="selectedYear">
                  <mat-option *ngFor="let year of modelReportYearOptions" [value]="year">{{year}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <button class="filter-apply" (click)="onSelectReport(selectedModelNames,
            selectedQuarters, selectedYear)">
              Apply
            </button>
          </form>
          <div class="model-data-list">
          </div>
          <div class="data">
          </div>
        </div>
        <div class="data-wrapper">
          <div class="data-scroll">
            <table class="data-table">
              <thead>
              <tr>
                <th class="data-sticky-col">
                  <div class="model-container-headers">
                    <div (click)="onSortReport('modelName')"
                         class="row-item data-table-header">
                      <span>Model Name</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'modelName',
                        'fa-caret-up': sortReportOrders['modelName'] > 0,
                        'fa-caret-down': sortReportOrders['modelName'] < 0 }">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('modelNickname')" class="row-item data-table-header">
                      <span>Model Nickname</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'modelNickname',
                'fa-caret-up': sortReportOrders['modelNickname'] > 0,
                'fa-caret-down': sortReportOrders['modelNickname'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('id')" class="row-item data-table-header">
                      <span>Model ID</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'id',
                'fa-caret-up': sortReportOrders['id'] > 0,
                'fa-caret-down': sortReportOrders['id'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('teamLeadName')" class="row-item data-table-header">
                      <span>Model Team Lead</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'teamLeadName',
                'fa-caret-up': sortReportOrders['teamLeadName'] > 0,
                'fa-caret-down': sortReportOrders['teamLeadName'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('performanceStartDate')" class="row-item data-table-header">
                      <span>Performance Start Date</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'performanceStartDate',
                'fa-caret-up': sortReportOrders['performanceStartDate'] > 0,
                'fa-caret-down': sortReportOrders['performanceStartDate'] < 0 }">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('performanceEndDate')" class="row-item data-table-header">
                      <span>Performance End Date</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'performanceEndDate',
                'fa-caret-up': sortReportOrders['performanceEndDate'] > 0,
                'fa-caret-down': sortReportOrders['performanceEndDate'] < 0 }">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('totalBeneficiaries')" class="row-item data-table-header">
                      <span>Total Beneficiaries</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'totalBeneficiaries',
                'fa-caret-up': sortReportOrders['totalBeneficiaries'] > 0,
                'fa-caret-down': sortReportOrders['totalBeneficiaries'] < 0 }">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('totalProviders')" class="row-item data-table-header">
                      <span>Total Healthcare Providers</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'totalProviders',
                'fa-caret-up': sortReportOrders['totalProviders'] > 0,
                'fa-caret-down': sortReportOrders['totalProviders'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('modelQuarter')" class="row-item data-table-header">
                      <span>Quarter</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'modelQuarter',
                'fa-caret-up': sortReportOrders['modelQuarter'] > 0,
                'fa-caret-down': sortReportOrders['modelQuarter'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('modelYear')" class="row-item data-table-header">
                      <span>Year</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'modelYear',
                'fa-caret-up': sortReportOrders['modelYear'] > 0,
                'fa-caret-down': sortReportOrders['modelYear'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
                <th>
                  <div class="model-container-headers">
                    <div (click)="onSortReport('updatedDate')" class="row-item data-table-header">
                      <span>Submitted Date</span>
                      <i class="fas" [ngClass]="{ 'active': currentSortReport === 'updatedDate',
                'fa-caret-up': sortReportOrders['updatedDate'] > 0,
                'fa-caret-down': sortReportOrders['updatedDate'] < 0}">
                      </i>
                    </div>
                  </div>
                </th>
              </tr>
              </thead>
              <tbody *ngFor="let report of (sortedAndFilteredModelReports | async); let odd = odd">
              <tr class="data-highlight"
                  [ngClass]="{'data-stripes': odd , 'data-stripes-even': !odd}"
                  (click)="openModelReportModal(report)">
                <td [ngClass]="{'data-stripes': odd , 'data-stripes-even': !odd}"
                    class="data-sticky-col">{{report.modelName}}
                </td>
                <td>{{report.modelNickname}}</td>
                <td>{{report.modelID}}</td>
                <td>{{report.teamLeadName}}</td>
                <td>{{report.performanceStartDate | date: "MM/dd/yyyy"}}</td>
                <td>{{report.performanceEndDate | date: "MM/dd/yyyy"}}</td>
                <td>{{report.totalBeneficiaries}}</td>
                <td>{{report.totalProviders}}</td>
                <td>Quarter {{report.modelQuarter}}</td>
                <td>{{report.modelYear}}</td>
                <td>{{report.createdAt | date: "MM/dd/yyyy"}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="no-models" *ngIf="(sortedAndFilteredModelReports | async)?.length === 0">
          No Model Reports Found
        </div>
        <div class="data">
        </div>
      </ams-tab>
    </ams-tabs>
  </div>
  <div class="model-list-selected" [ngClass]="{ hidden: !(selectedModelId | async) }">
    <div class="model-cards" *ngIf="selectedModelId | async">
      <ams-manage-models-card [models]="sortedAndFilteredModels | async"
                              [selectedModelId]="selectedModelId | async"></ams-manage-models-card>
    </div>
    <div class="model-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<ams-simple-modal *ngIf="editDialogOpen | async">
  <ams-model-entry [models]="models | async"
                   [modelForEdit]="model | async"
                   [loading]="loading | async"
                   [dialogErrors]="activeDialogErrors | async"
                   (save)="saveNewModel($event)"
                   (openSubdivision)="openSubdivisionModal($event)"
                   (saveAndOpenSubdivision)="saveAndOpenSubdivisionModal($event)"
                   (editAndOpenSubdivisionModal)="editAndOpenSubdivisionModal($event)"
                   (edit)="editModel($event)"
                   (close)="closeModal()"
                   (apmIdChanged)="onApmIdChanged($event)">

  </ams-model-entry>
</ams-simple-modal>

<ams-simple-modal *ngIf="subdivisionEditDialogOpen | async">
  <ams-subdivision-entry [subdivisionForEdit]="subdivision | async"
                         [loading]="loading | async"
                         [model]="model | async"
                         [modelSavedSuccessfully]="modelSavedSuccessfully | async"
                         [dialogErrors]="subdivisionDialogErrors | async"
                         (save)="saveNewSubdivision($event)"
                         (open)="openSubdivisionModal($event)"
                         (close)="closeSubdivisionModal($event)"
                         (edit)="editSubdivision($event)"
                         (editAndOpen)="editSubdivisionAndOpenSubdivision($event)"
                         (saveAndOpen)="saveSubdivisionAndOpenSubdivision($event)"
                         (onSubdivisionIdChanged)="onSubdivisionIdChanged($event)">
  </ams-subdivision-entry>
</ams-simple-modal>

<ams-simple-modal *ngIf="legalframeworkEditDialogOpen | async">
  <ams-legal-framework-entry [model]="model | async"
                             [loading]="loading | async"
                             (edit)="editLegalModel($event)"
                             (open)="openLegalFrameworkModal($event)"
                             (close)="closeLegalFrameworkModal()">

  </ams-legal-framework-entry>
</ams-simple-modal>

<ams-simple-modal *ngIf="participantEditDialogOpen | async">
  <ams-participant-qualifications-entry [model]="model | async"
                                        [loading]="loading | async"
                                        (edit)="editPQModel($event)"
                                        (open)="openParticipantQualificationsModal($event)"
                                        (close)="closeParticipantQualificationsModal($event)">

  </ams-participant-qualifications-entry>
</ams-simple-modal>

<ams-simple-modal *ngIf="modelReportEditDialogOpen | async">

  <ams-model-quarterly-reports-entry [models]="models | async"
                                     [reports]="modelReports | async"
                                     [reportDialogErrors]="reportActiveDialogErrors | async"
                                     [model]="model | async"
                                     [modelReportEdit]="modelReport"
                                     [modelReportDates]="modelReportDates | async"
                                     (open)="openModelReportModal($event)"
                                     (addModel)="openModal()"
                                     (goToModelTab)="selectModelTab()"
                                     (save)="saveModelReport($event)"
                                     (close)="closeModelReportModal($event)">
  </ams-model-quarterly-reports-entry>
</ams-simple-modal>


