<!-- Loading -->
<div class="d-flex flex-row flex-grow-1" *ngIf="loading">
  <div
    *ngFor="let item of expectedDataLength; let i = index"
    class="col-12 col-md-4 p-0 d-flex flex-column align-items-center"
    [ngClass]="{ 'border-right': i !== expectedDataLength.length - 1 }">

    <content-loader class="loader" width="246" height="126">
      <svg:rect x="0" y="10" rx="3" ry="3" width="246" height="20" />
      <svg:circle r="26" cx="79" cy="76" />
      <svg:circle r="36" cx="151" cy="76" />
    </content-loader>

  </div>
</div>
<!-- End loading -->

<!-- Data -->
<div
  class="d-flex flex-row flex-wrap flex-grow-1 charts-container ams-fade-in"
  *ngIf="!loading && data?.length">
  <div
    *ngFor="let overview of data; let i = index"
    class="col-12 col-md-4 p-0 d-flex flex-column"
    [ngClass]="{ 'border-right': i !== data?.length - 1 }">

    <p class="text-center m-0"><strong>{{dataHeaders[i]}}</strong></p>
    <p class="view-providers text-center mb-1" *ngIf="showViewProvidersLink">
      <a [ngClass]="'view-providers-link-' + i" (click)="viewProviders.emit(overview.header)">
        View Providers <i class="mdi mdi-chevron-right"></i>
      </a>
    </p>
    <ams-typographic-overview
      [icons]="overview.icons"
      [primaryText]="overview.primaryText"
      [primarySmallText]="overview.primarySmallText"
      [secondaryText]="overview.secondaryText"
      [percentageChange]="overview.percentageChange"
      [percentageChangeDirection]="overview.percentageChangeDirection">
    </ams-typographic-overview>

  </div>
</div>
<!-- End data -->

<!-- No data -->
<div class="d-flex flex-column flex-grow-1" *ngIf="!loading && !data?.length">
  <p class="m-0 text-secondary text-center">Adjust your filtering to acquire data.</p>
</div>
<!-- End no data -->
