<div class="tab">
  <input id="tab-three" type="checkbox" name="tabs">
  <label for="tab-three">
    <p class="subd">
      <span class="fas fa-chevron-down"></span>
      Legal Frameworks
      <button class="subd-button" *ngIf="!model?.statutoryAuthorityType && model?.status == 'Active'"
              (click)="editLegalFramework(model)">
        <div class="fas fa fa-plus"></div>
        Add New
      </button>
      <button class="subd-button" *ngIf="model?.statutoryAuthorityType && model?.status == 'Active'"
              (click)="editLegalFramework(model)">
        <div class="fas fa fa-pencil-alt"></div>
        Edit
      </button>
    </p>
  </label>

  <div class="tab-content">

    <div class="subdivision-data-row">

      <div class="data">
        <div class="data-column">
          <div class="column-one">
            <div>
              <div class="data-label">STATUTORY AUTHORITY</div>
              <div class="data-placeholder" *ngIf="!model?.statutoryAuthorityType">Not yet defined</div>
              <div class="data-content">{{model?.statutoryAuthorityType}}</div>
            </div>
          </div>

          <div class="data-label">WAIVERS</div>
          <div class="data-placeholder" *ngIf="model?.waivers.length === 0">Not yet defined</div>
          <div class="data-content" *ngFor="let waiver of model?.waivers">
            {{waiver?.value}} {{waiver?.text}}
          </div>

          <div class="data-label">GROUP, CENTER, OR OFFICE</div>
          <div class="data-placeholder" *ngIf="model?.groupCenter.length === 0">Not yet defined</div>
          <div class="data-content" *ngFor="let group of model?.groupCenter">
            {{group !== 'Center for Medicare and Medicaid Innovation (CMMI)' ? group : ''}}
          </div>
          <div class="data-content" *ngFor="let group of model?.groupCenter">
            {{group == 'Center for Medicare and Medicaid Innovation (CMMI)' ? group : ''}}
          </div>
          <div class="data-content">{{model?.groupCMMI}}</div>


        </div>
      </div>
    </div>
  </div>
</div>



