<h3>Order of NPI Results</h3>

<div class="wrapper">
  <p>Select the order in which you want you information to appear</p>

  <div class="options">
    <label *ngFor="let order of orders" class="radio-inline">
      <input type="radio" name="order" [value]="order.value" [checked]="order.selected"> {{order.name}}
    </label>
  </div>

</div>

<button class="btn btn-primary">Search</button>


