@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$processing: #f7931e;

.wrapper {
  display: flex;
  overflow: hidden;
  max-width: 100vw;
  width: 600px;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 14px;
}

.header {
  h3 {
    margin-top: 15px;
    color: #1c4160;
    font-weight: bold;
    font-size: 20px;
  }
  div {
    color: #000000;
    font-size: 14px;
  }

  .header-title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    height: 90px;
    border-bottom: 1px solid #cccccc;
  }
  .entry-row {
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 1px solid #cccccc;
    background: #1c3a53;

    .main-label {
      color: #ffffff; //#677987;
    }
  }

  .model-details {
    display: flex;
    flex-direction: row;

    .model-name {
      display: flex;
      align-items: left;
      flex: 1;
      flex-direction: column;
    }

    .saved-successfully {
      display: flex;
      align-items: center;
      flex-direction: row;
      color: #139148;
      font-style: italic;
      animation: fadein 0.8s;

      span {
        margin-right: 5px;
        color: #40b34f;
        font-size: 24px;
      }
    }
  }

  .mdi-close {
    top: 7px;
    padding-left: 50px;
    color: #677987;
    font-size: 25px;
    cursor: pointer;
  }
}

.header-title, .subdivision-form {
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: calc(100vh - 30px);
  color: #c4c4c4;

  .subdivision-form {
    flex: 1;
    overflow-y: auto;
  }

  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.sidebar {
  background-color: #f7f7f7;
  box-shadow: 3px 0 10px #eaeaea inset;
}

.footer {
  .entry-row {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-top: 1.3px solid #cccccc;
  }

  .add-subdivision {
    width: 100%;
    border-width: 1px 0 0;
    border-radius: 0;
    background-color: #ffffff;
    color: #007db8;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    span {
      margin-right: 15px;
    }

    .fa-plus {
      padding: 2px 2px 2px 3px;
      border: 2px solid #007db8;
      border-radius: 20px;
      color: #007db8;
    }
  }

  .add-subdivision:hover,
  .add-subdivision:disabled {
    color: #cccccc;
    .fa-plus {
      border: 2px solid #cccccc;
      color: #cccccc;
    }
  }

  .button-row {
    justify-content: flex-end;

    button {
      margin: 0 10px;
      width: 30%;
      height: 45px;
      border: none;
      border-radius: 25px;
      background-color: unset;
      color: #1c4160;
      text-transform: uppercase;
      font-weight: 700;
    }

    button:hover {
      background-color: #dddddd;
      color: #979797;
    }

    .save-button {
      background-color: #007db8;
      color: #ffffff;
    }

    .save-add-another-button {
      width: 100%;
      border: 1px solid #007db8;
      background-color: #ffffff;
      color: #007db8;

      .fa-chevron-right {
        left: 35px;
        color: #007db8;
      }
    }
  }
}

.tips {
  margin: 50px 25px;
  padding: 20px 0 10px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  color: #bdbdbd;
}

input[type=text] {
  padding: 25px 15px;
  color: #999999;
}

.entry-row {
  align-items: center;
  justify-content: flex-start;
  padding: 15px 0;

  .input-buttons, input, textarea {
    flex-basis: 70%;
  }
  input {
    height: 45px;
    font-size: 14px;
  }

  input[type=radio] {
    display: none;
  }
  input[type=radio] + label:before {
    display: inline-block;
    margin: -0.5em 0.5em;
    border: 1px solid #cccccc;
    border-radius: 50%;
    content: '';
  }
  input[type=radio]:checked + label:before {
    background-color: #007db8;
  }
  .input-button input + label:before {
    width: 1.75em;
    height: 1.75em;
  }

  label, .main-label {
    flex-basis: 30%;
    text-align: left;
  }

  .main-label {
    color: #000000;
  }

  .input-buttons {
    display: flex;

    .input-button {
      flex-basis: 25%;
    }

    label {
      color: #000000;
      font-weight: normal;
    }
  }
}

.required:after {
  color: #ff0000;
  content: ' *';
}

.validation {
  margin-top: 10px;
  padding: 5px 8px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.15);
  color: #000000;
}

.calendar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 70%;
}

.calendar-input {
  flex-basis: 40%;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 4px;

  input {
    margin: -4px 0;
    width: 80%;
    border: transparent;
    border-right: 1px solid #cccccc;
    color: #555555;
  }

  .calendar-icon {
    color: #007db8;
  }
}
.calendar-row-text {
  color: #000000;
  font-weight: normal;
}

button:disabled {
  background-color: #eeeeee !important;
  color: #aaaaaa !important;
  cursor: auto;
}

.loader-wrapper {
  width: 100%;
  text-align: center;

  .processing {
    display: inline-flex;
    margin: 0 auto;
    width: 15%;
    color: $processing;
    text-align: center;

    @-moz-keyframes spin {
      from {
        -moz-transform: rotate(360deg);
      }
      to {
        -moz-transform: rotate(0deg);
      }
    }
    @-webkit-keyframes spin {
      from {
        -webkit-transform: rotate(360deg);
      }
      to {
        -webkit-transform: rotate(0deg);
      }
    }
    @keyframes spin {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0deg);
      }
    }

    .mdi-cached:before {
      animation: spin 1s infinite linear;
    }
  }
}
