<div class="wrapper">
  <div class="main">
    <div class="header">
      <div class="header-title">
        <h3>{{subdivisionForEdit? 'Edit Subdivision' : 'Add New Subdivision(s)'}}</h3>
        <div>
          <span class="required"></span>Required
          <i class="mdi mdi-close close-button" (click)="close.emit()" aria-label="Cancel subdivision create/edit dialog"></i>
        </div>

      </div>
      <div class="entry-row model-details">
        <div class="model-name">
          <div class="main-label">Model Name: <span>{{model.name}}</span></div>
          <br>
          <div class="main-label">Model ID:  <span>{{model.id}}</span></div>
        </div>
        <div class="saved-successfully" *ngIf="modelSavedSuccessfully">
          <i class="fas fa-check-circle"></i>Saved Successfully
        </div>
      </div>
    </div>
    <form #subdivisionForm="ngForm">
      <div class="subdivision-form">
        <div class="entry-row">
          <label for="subdivisionName" class="required main-label">Subdivision Name</label>
          <input class="form-control" placeholder="E.g. Beneficiary Engagement & Incentive Models" [formControl]="subName" [(ngModel)]="subdivision.name" id="subdivisionName" name="subdivisionName" required>
          <div role="alert" class="validation" *ngIf="subName.touched && subName.invalid">Field is required</div>
        </div>
        <div class="entry-row" *ngIf="subdivisionForEdit">
          <label for="subdivisionId" class="required main-label">Subdivision ID</label>
          <div>{{subdivision.id}}</div>
        </div>
        <div class="entry-row" *ngIf="!subdivisionForEdit">
          <label for="subdivisionId" class="required main-label">Subdivision ID</label>
          <input class="form-control" placeholder="E.g. 33" [formControl]="subID" [(ngModel)]="subdivision.id" (blur)="onIdBlur(subdivision?.id, model.id)" id="subdivisionId" name="subdivisionId" required>
          <div role="alert" class="validation" *ngIf="subID.touched && subID.invalid">Field is required</div>
        </div>
        <div role="alert" class="form-error" *ngIf="dialogErrors && dialogErrors['existingId']">
          {{dialogErrors['existingId']}}
        </div>
        <div class="entry-row">
          <label for="subdivisionShortName"class="main-label">Subdivision Nickname</label>
          <input id="subdivisionShortName" class="form-control" placeholder="E.g. BEI" [(ngModel)]="subdivision.shortName" name="subdivisionShortName">
        </div>
        <div class="entry-row">
          <label class="main-label">Start &amp; End Dates</label>
          <div class="calendar-row">
            <div class="calendar-input">
              <input [matDatepicker]="pickerFromDate" name="fromDate" [matDatepickerFilter]="startDateFilter.bind(this)"
                     [(ngModel)]="startDate" placeholder="MM/DD/YYYY"
                     aria-label="Open calendar for start date"
                     [required]="!!subdivision.endDate">
              <mat-datepicker-toggle class="calendar-icon" matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerFromDate disabled="false"></mat-datepicker>
            </div>
            <span class="calendar-row-text">To</span>
            <div class="calendar-input">
              <input [matDatepicker]="pickerToDate" name="toDate" [matDatepickerFilter]="endDateFilter.bind(this)"
                     [(ngModel)]="endDate" placeholder="MM/DD/YYYY"
                     aria-label="Open calendar for end date"
                    [required]="!!subdivision.startDate">
              <mat-datepicker-toggle class="calendar-icon" matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerToDate disabled="false"></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <label class="main-label">Advanced APM</label>
          <div class="input-buttons">
            <div class="input-button">
              <input [(ngModel)]="subdivision.advancedApmFlag" type="radio" name="advancedApmYesNo" id="advancedApmYes" value="Y">
              <label for="advancedApmYes">Yes</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="subdivision.advancedApmFlag" type="radio" name="advancedApmYesNo" id="advancedApmNo" value="N">
              <label for="advancedApmNo">No</label>
            </div>
            <!--<div class="input-button">-->
              <!--<input [(ngModel)]="subdivision.advancedApmFlag" type="radio" name="advancedApmYesNo" id="advancedApmPartial" value="P">-->
              <!--<label for="advancedApmPartial">Partial</label>-->
            <!--</div>-->
            <div class="input-button">
              <input [(ngModel)]="subdivision.advancedApmFlag" type="radio" name="advancedApmYesNo" id="advancedApmTBD" [value]="null">
              <label for="advancedApmTBD">TBD</label>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <label class="main-label">MIPS APM</label>
          <div class="input-buttons">
            <div class="input-button">
              <input [(ngModel)]="subdivision.mipsApmFlag" type="radio" name="mipsApmYesNo" id="mipsApmYes" value="Y">
              <label for="mipsApmYes">Yes</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="subdivision.mipsApmFlag" type="radio" name="mipsApmYesNo" id="mipsApmNo" value="N">
              <label for="mipsApmNo">No</label>
            </div>
            <!--<div class="input-button">-->
              <!--<input [(ngModel)]="subdivision.mipsApmFlag" type="radio" name="mipsApmYesNo" id="mipsApmPartial" value="P">-->
              <!--<label for="mipsApmPartial">Partial</label>-->
            <!--</div>-->
            <div class="input-button">
              <input [(ngModel)]="subdivision.mipsApmFlag" type="radio" name="mipsApmYesNo" id="mipsApmTBD" [value]="null">
              <label for="mipsApmTBD">TBD</label>
            </div>
          </div>
        </div>
        <div class="entry-row">
          <label for="additionalComments" class="main-label">Notes</label>
          <textarea maxlength="250" id="additionalComments" name="additionalComments" [(ngModel)]="subdivision.additionalInformation" class="form-control" placeholder="Optional"></textarea>
        </div>
      </div>
      <div class="footer">
        <div class="loader-wrapper" *ngIf="loading">
          <span class="processing" tooltip="Saving Model." container="body" placement="center">
            <i class="mdi mdi-cached" aria-label="Saving Model"></i>
            <label>Saving</label>
          </span>
        </div>

        <div class="entry-row button-row">
          <button
            [disabled]="!subdivisionForm.valid || !isFormValid() || !subdivision.name || !subdivision.id"
            class="save-add-another-button"
            *ngIf="!subdivisionForEdit"
            (click)="saveSubdivisionAndAddAnother()">
            <!--<i class="fas fa-plus"></i>-->
            Save & Add Subdivisions
          </button>
          <button
            *ngIf="!!subdivisionForEdit"
            class="save-add-another-button"
            (click)="saveSubdivisionAndAddAnother()"
            [disabled]="!subdivisionForm.valid || !isFormValid()" type="submit">
            Save & Add Subdivisions
            <i class="fas fa-chevron-right"></i>
          </button>
          <button (click)="close.emit()">Cancel</button>
          <button [disabled]="!subdivisionForm.valid || !isFormValid() || !subdivision.name || !subdivision.id" class="save-button" (click)="submitForm()" type="submit">Save</button>
        </div>

      </div>
    </form>

  </div>

</div>
