@import '../../../assets/sass/variables';

.login-page-container {
  width: 100%;
  text-align: center;
}

.ams-name-container {
  margin-left: 38px;
  width: 100%;
}

.ams {
  padding-top: 15px;
  width: 100%;
  color: #174472;
  text-align: left;
  font-weight: $light-font-weight;
  font-size: 25px;
  font-family: $default-font;
}

.slogan {
  width: 100%;
  color: #4a90e2;
  text-align: left;
  font-weight: $light-font-weight;
  font-size: 14px;
  font-family: $default-font;
}

span:nth-child(1) {
  font-size: 30px;
}

span:nth-child(3) {
  font-size: 20px;
}

span:nth-child(5) {
  font-size: 25px;
}

span:nth-child(7) {
  font-size: 25px;
}

ams-warning-text {
  text-align: left;
  font-size: 1.6rem;

  /deep/ p {
    padding: 30px 30px 15px;
  }
}

.login-page-title {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.login-page-title span {
  color: #174472;
  font-weight: $light-font-weight;
  font-family: $default-font;
}

.login-form input {
  display: block;
  margin: auto auto 25px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  min-width: 91.5px;
  width: 40%;
  border: 1px solid #a9a9a9;
  border-radius: 7px;
  color: #111111;
  font-size: 16px;
  opacity: 0.7;
}

.login-form button {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 40%;
  border: none;
  border-radius: 25px;
  background-color: #d3d3d3;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  display: inline-block;
}

.body-text {
  margin: auto;
  width: 55%;
}

.incorrect-login-message {
  margin: auto;
  padding: 10px 10px 10px 30px;
  width: 400px;
  height: 60px;
  border: 1px solid #ff0000;
  border-radius: 7px;
  background-color: transparent;
  color: #ff0000;
  text-align: left;
  font-family: $default-font;
}

.spacer {
  margin-bottom: 25px;
}

.hide {
  display: none;
}

.login-form button.bluebtn {
  background-color: #0288d1;
}
