<div class="login-page-container">
  <div class="body-text">
    <h1 class="login-page-title">
      <span>Welcome</span>
      <br>
      <span>to the</span>
      <br>
      <span>Alternative Payment Model</span>
      <br>
      <span>Management System</span>
    </h1>


    <div *ngIf="message$ | async">
      <div class="incorrect-login-message" role="alert">
        {{ message$ | async }}
        <br>
        Please try again.
      </div>

      <div class="spacer"></div>
    </div>

    <form class="login-form" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input type="text" name="username" title="username" placeholder="Username" ngModel required/>
      <input type="password" name="password" title="password" placeholder="Password" ngModel required/>

      <div>
        <button class="btn btn-primary" type="submit" [ngClass]="{bluebtn: loginForm.form.valid}"
                [disabled]="!loginForm.form.valid">Sign In
        </button>
      </div>
    </form>

    <footer role="contentinfo" aria-label="footer">
      <ams-warning-text></ams-warning-text>
    </footer>
  </div>
</div>

