@import '../../../assets/sass/variables';

.request-reports-container {
  width: 100%;
}

ams-tab ::ng-deep > div {
  padding: 0 30px;
}

label.btn.report-type:first-child:not(:last-child),
label.btn.report-type:last-child {
  border-radius: 0;
}

label.btn.report-type.active {
  background-color: #1aa1dd;
  color: #f5f5f5;
}

.download-report-btn {
  background-color: #1aa1dd;
}

.last-login {
  float: right;
  margin-top: 15px;
  margin-right: 25px;
  width: 30%;
  color: #f5f5f5;
  text-align: right;
  font-weight: $light-font-weight;
  font-family: $default-font;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.request-reports-title {
  float: left;
  width: 50%;
  color: #f5f5f5;
  text-align: left;
  font-size: 30px;
}

.request-reports-subtitle {
  float: left;
  width: 50%;
  color: #f5f5f5;
  text-align: left;
  font-size: 16px;
  opacity: 0.5;
}

.section-heading {
  margin: 15px 0 10px;
  font-weight: $medium-font-weight;
  font-size: 1.5rem;
}

.search {
  display: inline-block;
  float: left;
  margin-left: 40px;
  width: 40%;
  height: 50px;
  background-color: #ffffff;
}

.fa-caret-square-down {
  display: inline;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  width: 10%;
  height: 0;
  border: none;
  border-radius: 15px;
  background-color: transparent;
  color: #2e74bb;
}

.search-btn {
  display: inline;
  float: right;
  margin-right: 20px;
  width: 10%;
  text-align: left;
}

.form-control {
  display: inline;
  margin-top: 8px;
  margin-left: 2px;
  width: 75%;
  border: none;
  box-shadow: none;
}

.search-container, .add-new-model-container {
  width: 50%;
}

.add-new-model-container {
  display: inline;
  margin-left: 40px;
}

.add-new-model {
  display: inline-block;
  float: left;
  margin-left: 40px;
  padding-top: 12px;
  width: 40%;
  height: 50px;
  border: 1px solid #2e74bb;
  border-radius: 25px;
  background-color: $action-button-background;
  color: $action-button-color;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.add-new-model button {
  border: none;
  background: none;
}

.dropdown-menu > li > a, .dropdown-toggle {
  font-weight: bold;
  font-size: 16px;
}

.dropdown-toggle {
  padding: 12px;
}

.file-selection[_ngcontent-c2] button[_ngcontent-c2] {
  margin-bottom: 15px;
  margin-left: 20px;
  width: 45%;
  text-align: left;
}

.upload-title {
  float: left;
  margin-top: 80px;
  margin-bottom: 15px;
  margin-left: 40px;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
}

.reports-container {
  padding: 30px 25px 0;
  width: 100%;
  background: $background-color-grey;
}

.results-title {
  padding-top: 20px;
  padding-bottom: 37px;
  border: 1px solid #d3d3d3;
  background: #ffffff;
}

.results-title-entry {
  float: left;
  padding-left: 5%;
  color: #757575;
  font-weight: $bold-font-weight;
  font-family: $default-font;
}

.results-title div:nth-child(1) {
  padding-left: 50px;
  width: 23%;
}

.results-title div:nth-child(2) {
  width: 17%;
}

.results-title div:nth-child(3) {
  width: 20%;
}

.results-title div:nth-child(4) {
  width: 30%;
}

.fa-caret-square-down {
  color: #2e74bb;
  font-size: 16px;
}

.result-row {
  padding-top: 30px;
  width: 100%;
  height: 100px;
  font-size: 16px;
}

.result-row:nth-child(2n) {
  background-color: #f7f7f7;
}

.result-row:nth-child(2n-1) {
  background-color: #ffffff;
}

.results-entry {
  float: left;
  padding-left: 5%;
  color: #757575;
  font-family: $default-font;
}

.result-row div:nth-child(1) {
  padding-left: 50px;
  width: 23%;
  color: #000000;
  font-weight: $bold-font-weight;
  font-family: $default-font;
}

.result-row div:nth-child(2) {
  width: 17%;
}

.result-row div:nth-child(3) {
  width: 20%;
}

.result-row div:nth-child(4) {
  width: 30%;
  color: #2e74bb;
}

.result-row div:nth-child(5) {
  width: 10%;
  color: #2e74bb;
}

.upload-results-title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 1px solid #d3d3d3;
  background: #ffffff;
}

.upload-results-title-entry {
  display: inline;
  padding-left: 18%;
  width: 30%;
  color: #757575;
  text-align: center;
  font-weight: $bold-font-weight;
  font-family: $default-font;
}

.upload-results-title div:nth-child(1) {
  padding-left: 0;
}

.upload-results-title div:nth-child(3) {
  padding-left: 35%;
}

.upload-right-title {
  display: inline-block;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 100%;
  height: 20px;
  background-color: transparent;
  color: #000000;
  font-size: 20px;
}

.upload-results-entry {
  display: inline;
  padding-left: 10%;
  width: 30%;
  color: #757575;
  text-align: center;
  word-wrap: break-word;
  font-family: $default-font;
}

.upload-result-row {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 100%;
  height: 50px;
}

.upload-result-row:nth-child(2n) {
  background-color: #f7f7f7;
}

.upload-result-row:nth-child(2n-1) {
  background-color: #ffffff;
}

.results-title-entry {
  .fas, .far {
    top: 2px;
    margin-left: 3px;
  }
}

.new-model-container {
  padding: 20px;
  width: 80%;
  height: 600px;
  background-color: transparent;
}

.new-model-left {
  display: inline-block;
  float: left;
  width: 60%;
  height: 600px;
  border-radius: 10px 0 0 10px;
  background-color: #ffffff;
}

.new-model-right {
  display: inline-block;
  float: left;
  width: 40%;
  height: 600px;
  border-radius: 0 10px 10px 0;
  background-color: #eeeeee;
  color: #c4c4c4;
  text-align: center;
}

.new-model-title {
  display: inline-block;
  float: left;
  margin-left: 15px;
  width: 70%;
  color: #c4c4c4;
  font-size: 30px;
}

.required {
  display: inline-block;
  float: right;
  padding-top: 10px;
  width: 20%;
  color: #c4c4c4;
  font-size: 16px;
}

.new-model-name .form-control {
  width: 90%;
  height: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 0;
  font-weight: bold;
  font-size: 16px;
}

.new-model-calendar-container {
  margin-top: 7px;
  margin-left: 10px;
  width: 90%;
  height: 50px;
  border-radius: 0;
  font-weight: bold;
  font-size: 16px;
}

.start-date, .end-date, .deadline-date {
  display: inline-block;
  width: 70%;
  height: 50px;
  border: 1px solid #d3d3d3;
  border-radius: 0;
  word-wrap: break-word;
}

.start-date .form-control {
  margin-top: 8px;
  border: none;
  box-shadow: none;
  font-weight: $light-font-weight;
  font-size: 9px;
  font-family: $default-font;
}

.end-date .form-control {
  margin-top: 8px;
  border: none;
  font-weight: $light-font-weight;
  font-size: 9px;
  font-family: $default-font;
}

.deadline-date .form-control {
  margin-top: 8px;
  border: none;
  font-weight: $light-font-weight;
  font-size: 9px;
  font-family: $default-font;
}

.fa-chevron-down {
  display: inline;
  color: #2e74bb;
}

.hr {
  display: block;
  padding-bottom: 20px;
  width: 100%;
  color: #c4c4c4;
  font-weight: $light-font-weight;
}

.tips {
  display: inline;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

.fa-calendar-alt {
  position: absolute;
  top: 7px;
  left: 75%;
  font-size: 200%;
}

.date-container {
  position: relative;
  display: inline;
  float: left;
  width: 50%;
}

.save-btn button {
  margin-top: 10px;
  margin-left: 10px;
  width: 90%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #c4c4c4;
  text-align: center;
  font-weight: bold;
}

.cancel-btn {
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 40%;
  width: 90%;
  height: 45px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  color: #2e74bb;
  font-weight: bold;
}

.additional-filters {
  float: left;
  margin-top: 35px;
  margin-bottom: 15px;
  margin-left: 15px;
  width: 90%;
  height: 25px;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  color: #2e74bb;
  font-size: 18px;
  font-family: $default-font;
}

.reports-container {
  height: 100vh;
}

.flex-container {
  display: flex;

  .left, .right {
    display: flex;
    align-content: center;
    flex: 1;
  }

  .left {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .right {
    align-items: center;

    .btn.btn-primary {
      margin-top: 25px;
      padding-right: 20px;
      padding-left: 20px;
      height: 40px;
      border-radius: 24px;
    }
  }

  .selection-heading {
    font-weight: $medium-font-weight;
  }

  .selection-radio-buttons {
    margin: 20px 0 0;

    span {
      margin-right: 20px;
    }
  }

  .snapshot-selection-container,
  .qpp-year-selection-container {
    flex: 1;
  }
}

.bottom {
  display: flex;
  justify-content: center;
  border-top: 1px solid $background-color-grey;
}

.processing {
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    content: '';
  }

  .processing-spinner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow: visible;
    margin: auto;
    width: 2em;
    height: 2em;

    .processing-text {
      margin-left: -15px;
      padding-top: 30px;
      width: 150px;
      color: #00008b;
      text-align: center;
    }

    .spinner {
      width: 120px;
      height: 120px;
      border: 16px solid #00008b;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      animation: spin 2s linear infinite;
    }
  }
}

.styled-table {
  ::ng-deep {
    .strong {
      font-weight: $medium-font-weight;
    }
    thead {
      th {
        background-color: #ffffff;
        text-transform: none;
        font-size: 16px;
      }
    }
  }

  tbody {
    tr::ng-deep {

      td {
        font-weight: $regular-font-weight;
        font-size: 18px;
        &.strong {
          font-weight: $medium-font-weight;
        }
        .download-btn:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
