<div class="request-reports-container">

  <ams-title-bar
  title="Reporting"
  subtitle="Select an Existing Report to view."
  message="Last Login: 18 minutes ago | View Details">
  </ams-title-bar>


  <div class="processing" *ngIf="loading$ | async">
    <div class="processing-spinner">
      <div class="spinner"></div>
    </div>
  </div>
  <ams-tabs>
    <ams-tab title="Existing Reports">
      <div class="section-heading">Select Report Type</div>
      <form [formGroup]="requestReportForm">
        <div class="card" [class.loading]="(loading$ | async)">
          <div class="card-body">
            <div role="tablist" class="btn-group" btnRadioGroup role="group" formControlName="reportType" aria-label="Report Type Selectors">
              <label role="tab" class="btn report-type" btnRadio="qpMetrics">QP Metrics Report</label>
              <label role="tab" class="btn report-type" btnRadio="eligibleClinicianCount">Eligible Clinician Count Report</label>
              <label role="tab" class="btn report-type" btnRadio="existingModel">Existing Model Report</label>
            </div>
          </div>
        </div>
        <div class="section-heading">Request {{reportName}} Report
          <div class="scrollable" *ngIf="showList; else singleSelect">
            <table class="styled-table">
              <thead>
              <tr>
                <ams-sortable-column class="request-reports-table-header" [targetId]="'performance_year'" (onClick)="sort($event)" [active]="getActive('performance_year')" [direction]="sortDirection">Performance Year</ams-sortable-column>
                <ams-sortable-column [targetId]="'run_snapshot'" (onClick)="sort($event)" [active]="getActive('run_snapshot')"  [direction]="sortDirection">Snapshot</ams-sortable-column>
                <ams-sortable-column [targetId]="'date'" (onClick)="sort($event)" [active]="getActive('date')" [direction]="sortDirection" [ngStyle]="{'width': '400px'}">Published Date</ams-sortable-column>
                <ams-sortable-column [targetId]="'file_name'" (onClick)="sort($event)" [active]="getActive('file_name')" [direction]="sortDirection">File Name</ams-sortable-column>
                <th class="download-btn">Download</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let report of reportsList; trackByFn">
                <td class="strong">{{report.performance_year}}</td>
                <td>{{report.run_snapshot}}</td>
                <td><span class="strong">{{report.date | date: 'shortDate'}}</span> {{report.date | date: 'mediumTime'}}</td>
                <td class="strong">{{report.file_name}}</td>
                <td class="action-column" (click)="downloadReport(report)"><i class="fas fa-download download-btn" aria-hidden="true"></i></td>
              </tr>
              </tbody>
            </table>
          </div>
          <ng-template #singleSelect>
          <div class="card" [class.loading]="(loading$ | async)">
            <div class="flex-container">
              <div class="card-body left">
                <div class="qpp-year-selection-container">
                  <div class="selection-heading">Year</div>
                  <div class="selection-radio-buttons">
                  <span *ngFor="let year of performanceYears$ | async">
                    <input
                      formControlName="qppYear"
                      [value]="year"
                      type="radio"
                      [title]="year">
                    {{year}}
                  </span>
                  </div>
                </div>
                <div class="snapshot-selection-container">
                  <div class="selection-heading">{{selectedReport === 'existingModel' ? 'Quarter' : 'Snapshot'}}</div>
                  <ams-form-dropdown
                    [items]="snapshotRuns$ | async"
                    formControlName="snapshotType">
                  </ams-form-dropdown>
                </div>
              </div>
              <div class="card-body right">
                <button class="btn btn-primary download-report-btn" (click)="downloadReport()"  [disabled]="requestReportForm.invalid">
                  Download Report (CSV)
                </button>
              </div>
            </div>
            <div class="card-body bottom">
            </div>
          </div>
          </ng-template>
        </div>
      </form>
    </ams-tab>
  </ams-tabs>
</div>


