.scrollable {
  overflow-x: auto;
  width: 100%;
}


.upload-history-table {
  margin: 0 30px 30px 30px;
}


.name-column {
  overflow: hidden;
  max-width: 400px;
  width: 400px;
  text-overflow: ellipsis;
  word-wrap: normal;
}

.table-header .header {
  background-color: #fdfdfd;
}

