<div class="table-rounded-corners upload-history-table">
  <table class="styled-table">
    <thead>
    <tr>
      <ams-sortable-column [targetId]="'createdAt'" (onClick)="sort($event)" [active]="getActive('createdAt')" [direction]="sortDirection">Uploaded</ams-sortable-column>
      <ams-sortable-column [targetId]="'publishedAt'" (onClick)="sort($event)" [active]="getActive('publishedAt')" [direction]="sortDirection">Published</ams-sortable-column>
      <ams-sortable-column [targetId]="'uploadedBy'" (onClick)="sort($event)" [active]="getActive('uploadedBy')"  [direction]="sortDirection">Submitter</ams-sortable-column>
      <ams-sortable-column [targetId]="'file_name'" (onClick)="sort($event)" [active]="getActive('file_name')" [direction]="sortDirection">File Name</ams-sortable-column>
      <ams-sortable-column [targetId]="'import_file_type'" (onClick)="sort($event)" [active]="getActive('import_file_type')" [direction]="sortDirection">File Type</ams-sortable-column>
      <ams-sortable-column [targetId]="'performance_year'" (onClick)="sort($event)" [active]="getActive('performance_year')" [direction]="sortDirection">
        <span aria-label="Performance Year">PY</span>
        <i
          placement="top"
          tooltip="Performance Year"
          class="mdi mdi-information text-muted mdi-20px"
          aria-hidden="true">
        </i>
      </ams-sortable-column>
      <th>Record Status</th>
      <ams-sortable-column [targetId]="'totalRecords'" (onClick)="sort($event)" [active]="getActive('totalRecords')" [direction]="sortDirection">Total Records</ams-sortable-column>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let file of files; trackByFn">
      <td>
        <div class="date">
            {{file.createdAt | date:'dd-MMM-yyyy'}}
        </div>
        <div class="timestamp text-muted mt-1">
          <small>{{file.createdAt | moment:'hh:mm:ss A z'}}</small>
        </div>
      </td>
      <td>
        <div class="text-muted" *ngIf="!file.publishedAt">
          <small>Not yet published</small>
        </div>
        <div class="date" *ngIf="file.publishedAt">
            {{file.publishedAt | date:'dd-MMM-yyyy'}}
        </div>
        <div class="timestamp text-muted mt-1" *ngIf="file.publishedAt">
          <small>{{file.publishedAt | moment:'hh:mm:ss A z'}}</small>
        </div>
      </td>
      <td>{{file.uploadedBy}}</td>
      <td>
        <span placement="top" [tooltip]="file.file_name">
          {{file.file_name | middleEllipsis:5:8}}
        </span>
      </td>
      <td>{{file.import_file_type}}</td>
      <td>
        <div *ngIf="file.performance_year">
            {{file.performance_year}}
        </div>
        <div *ngIf="!file.performance_year">
            N/A
        </div>
      </td>
      <td class="record-status">
        <ams-record-status-dropdown [file]="file" (details)="details.emit($event)" (save)="save.emit($event)"></ams-record-status-dropdown>
      </td>
      <td>{{(file.validations?.totalRecords | number) || 0}}</td>
    </tr>
    </tbody>
  </table>
</div>
