<div class="wrapper">
  <div class="main">
    <div class="header">
      <div class="header-title">
        <h3>{{modelForEdit? 'Edit Model' : 'Add Model'}}</h3>
        <div>
          <span class="required"></span>Required
          <i class="mdi mdi-close close-button" (click)="close.emit()" aria-label="Cancel model create/edit dialog">
          </i>
        </div>
      </div>
      <div class="model-entry-row" *ngIf="modelForEdit">
        <div class="main-label">Model Name: <span>{{model.name}}</span></div>
        <div class="main-label">Model ID: <span>{{model.id}}</span></div>

      </div>
    </div>
    <form #modelForm="ngForm">
      <div class="model-form">
        <div class="model-entry-row">
          <label for="apmName" class="required main-label">Model
            Name
          </label>
          <input id="apmName" class="form-control" placeholder="E.g. Beneficiary Engagement & Incentive Models"
                 [(ngModel)]="model.name" name="apmName" #apmName="ngModel"
                 required>
          <div role="alert" class="validation" *ngIf="apmName.touched && apmName.invalid">Field
            is required</div>
        </div>
        <div class="model-entry-row" *ngIf="!modelForEdit">
          <label for="apmId" class="required main-label">Model
            ID
          </label>
          <div class="autoassigncontent">
            <input [readonly]="!autoAssignId" [required]="autoAssignId" id="apmId"
                   class="form-control" placeholder="E.g. 78" type="text"
                   [(ngModel)]="model.id" #modelID="ngModel"
                   name="apmId" #id (blur)="onIdBlur(id.value)">
            <label for="autoassign">Manually&nbsp;Assign&nbsp;Model&nbsp;ID</label>
            <input id="autoassign" name="autoassign" type="checkbox" [(ngModel)]="autoAssignId"
                   (ngModelChange)="autoAssignChanged($event)"
            />
          </div>
          <div role="alert" class="validation" *ngIf="modelID.touched && modelID.invalid">Field
            is required</div>
        </div>
        <div role="alert" class="form-error" *ngIf="dialogErrors['existingId']">
          {{dialogErrors['existingId']}}
        </div>

        <div class="model-entry-row">
          <label for="modelShortName" class="main-label">Model
            Nickname
          </label>
          <input id="modelShortName" class="form-control" placeholder="E.g. BEI"
                 [(ngModel)]="model.shortName" name="modelShortName">
        </div>
        <div class="model-entry-row">
          <label for="teamLeadName" class="required main-label">Model
            Team Lead Name</label>
          <input id="teamLeadName" class="form-control" placeholder="E.g. John Doe"
                 #teamLeadName="ngModel" [(ngModel)]="model.teamLeadName"
                 name="teamLeadName" required>
          <div role="alert" class="validation" *ngIf="teamLeadName.touched && teamLeadName.invalid">Field
            is required</div>
        </div>
        <div class="model-entry-row">
          <label class="main-label">Quality Reporting Category
            Code
          </label>
          <select class="form-control" [(ngModel)]="model.qualityReportingCategoryCode"
                  name="catCode">
            <option *ngFor="let code of selectedCode" [value]="code.name">{{code.name}}</option>
          </select>
        </div>
        <div class="model-entry-row">
          <label class="calendar-label">
            <div class="required">Start Date</div>
            <div class="required">End Date</div>
          </label>
          <div class="calendar-row">
            <div class="calendar-input">
              <input [matDatepicker]="pickerFromDate" [matDatepickerFilter]="startDateFilter.bind(this)"
                     name="fromDate" [(ngModel)]="startDate"
                     #startDateControl
                     placeholder="MM/DD/YYYY" aria-label="Open calendar for start date"
                     required>
              <mat-datepicker-toggle class="calendar-icon" matSuffix [for]="pickerFromDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerFromDate disabled="false"></mat-datepicker>
              <div role="alert" class="validation" *ngIf="startDateControl.touched && startDateControl.invalid">Field
                is required</div>
            </div>
            <span class="calendar-row-text">To</span>
            <div class="calendar-input">
              <input [matDatepicker]="pickerToDate" [matDatepickerFilter]="endDateFilter.bind(this)"
                     name="toDate" [(ngModel)]="endDate" placeholder="MM/DD/YYYY"
                     aria-label="Open calendar for end date"
                     #endDateControl
                     required>
              <mat-datepicker-toggle class="calendar-icon" matSuffix [for]="pickerToDate"></mat-datepicker-toggle>
              <mat-datepicker #pickerToDate disabled="false"></mat-datepicker>
              <div role="alert" class="validation" *ngIf="endDateControl.touched && endDateControl.invalid">Field
                is required</div>
            </div>
          </div>
        </div>
        <div class="model-entry-row">
          <label class="main-label">Is Model an APM for QPP?</label>
          <div class="input-buttons">
            <div class="input-button">
              <input [(ngModel)]="model.apmForQPP" type="radio" name="apmQPPYesNo" id="appQPPYes"
                     value="Yes">
              <label for="appQPPYes">Yes</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.apmForQPP" type="radio" name="apmQPPYesNo" id="apmQPPNo"
                     value="No" checked>
              <label for="apmQPPNo">No</label>
            </div>
          </div>
        </div>
        <div *ngIf="model.apmForQPP === 'Yes'" class="model-entry-row">
          <label class="main-label">Advanced APM</label>
          <div class="input-buttons">
            <div class="input-button">
              <input [(ngModel)]="model.advancedApmFlag" type="radio" name="advancedApmYesNo"
                     id="advancedApmYes" value="Y">
              <label for="advancedApmYes">Yes</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.advancedApmFlag" type="radio" name="advancedApmYesNo"
                     id="advancedApmNo" value="N" checked>
              <label for="advancedApmNo">No</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.advancedApmFlag" type="radio" name="advancedApmYesNo"
                     id="advancedApmPartial" value="P">
              <label for="advancedApmPartial">Partial</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.advancedApmFlag" type="radio" name="advancedApmYesNo"
                     id="advancedApmTBD" [value]="null">
              <label for="advancedApmTBD">TBD</label>
            </div>
          </div>
        </div>
        <div *ngIf="model.apmForQPP === 'Yes'" class="model-entry-row">
          <label class="main-label">MIPS APM</label>
          <div class="input-buttons">
            <div class="input-button">
              <input [(ngModel)]="model.mipsApmFlag" type="radio" name="mipsApmYesNo"
                     id="mipsApmYes" value="Y">
              <label for="mipsApmYes">Yes</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.mipsApmFlag" type="radio" name="mipsApmYesNo"
                     id="mipsApmNo" value="N" checked>
              <label for="mipsApmNo">No</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.mipsApmFlag" type="radio" name="mipsApmYesNo"
                     id="mipsApmPartial" value="P">
              <label for="mipsApmPartial">Partial</label>
            </div>
            <div class="input-button">
              <input [(ngModel)]="model.mipsApmFlag" type="radio" name="mipsApmYesNo"
                     id="mipsApmTBD" [value]="null">
              <label for="mipsApmTBD">TBD</label>
            </div>
          </div>
        </div>
        <div class="model-entry-row">
          <label for="additionalComments" class="main-label">Notes</label>
          <textarea id="additionalComments" name="additionalComments" [(ngModel)]="model.additionalInformation"
                    class="form-control"></textarea>
        </div>
      </div>
      <div class="footer">
        <div class="loader-wrapper" *ngIf="loading">
                    <span class="processing" tooltip="Saving Model." container="body" placement="center">
                        <i class="mdi mdi-cached" aria-label="Saving Model"></i>
                        <label>Saving</label>
                    </span>
        </div>
        <div class="button-row">
          <button *ngIf="model.apmForQPP === 'Yes'" [disabled]="!modelForm.valid || !isFormValid()"
                  class="save-add-another-button" (click)="saveModelAndAddSubdivision()"
                  type="submit">
            Save & Add Subdivision(s)
            <i class="fas fa-chevron-right"></i>
          </button>

          <button (click)="close.emit()">Cancel</button>

          <button [disabled]="!modelForm.valid || dialogErrors['existingId']" class="save-button"
                  (click)="submitForm()" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
