@import '../../../assets/sass/variables';


.tab-main {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding: 0 30px;
  background: white;

  .tab-item {
    cursor: pointer;
    padding: 20px;
    color: #00a0df;
    font-weight: 500;
    transition: $defaultTransition;

    &:hover {
      color: #333;
    }

    &.active {
      position: relative;
      color: #333;

      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20px;
        right: 20px;
        height: 5px;
        background: #18a1dc;
      }
    }
  }
}

.tab-blank {
  padding:10px 20px;
}

.tab-item {
  @extend .tab-blank;

}

.tab-title {
  margin: 0 auto;
  text-align: center;
}
