<ul role="tablist" class="nav tab-main">
  <li role="tab" class="tab-item" *ngFor="let tab of tabs" (click)="selectTab(tab)" [class.active]="tab.active">
    {{tab.title}}
  </li>
</ul>
<ng-content></ng-content>

