<ams-title-bar
title="Data Submission">
</ams-title-bar>

<div class="main-content">
  <ams-tabs>
    <ams-tab title="New Upload">
      <div class="new-upload-top">
        <div class="section-heading">
          Select Files
        </div>
        <ams-generic-file-selector
          [disabled]="fileImportGroup?.status === 'publishing'"
          [multiple]="true"
          (filesSelected)="uploadFiles($event)">
        </ams-generic-file-selector>
      </div>
      <div class="new-upload-bottom">
        <div class="section-heading">
          Validate and Review Files
        </div>
        <div class="alert alert-danger error-message alert-with-icon" *ngIf="hasFileTypeMismatch(nonRemovedFiles$ | async)">
          <i class="mdi mdi-alert mdi-32px text-danger"></i><p>Files must be the <b>same file type</b> to be uploaded together. Remove file types that do not match.</p>
          <small>Note: All PAC files can be uploaded together. APM Entity files, APM provider files, and any other non PAC files CANNOT be uploaded together.</small>
        </div>
        <div class="file-list">
          <ams-file-upload-list
            [files]="nonRemovedFiles$ | async"
            [uploadedFiles]="filterFilesToImportGroup(uploadedFiles$ | async)"
            [showValidations]="filesValidated"
            (removeFile)="removeSingleFile($event)"
            (showDetails)="showDetails($event)"
            (downloadFile)="downloadFile($event)"
            (removeAllFiles)="removeAllFiles()"
            (downloadAllFiles)="downloadAllFiles($event)">
          </ams-file-upload-list>
        </div>
      </div>
      <div class="bottom-button-drawer" *ngIf="!filesValidated">
        <button class="btn btn-icon btn-success btn-icon-left" [disabled]="disableValidate(nonRemovedFiles$ | async)" (click)="validateFiles()">
          <i class="mdi mdi-check-decagram mdi-24px"></i>Validate Files
        </button>
      </div>
      <div class="bottom-button-drawer" *ngIf="filesValidated">
        <button class="btn btn-icon btn-success btn-icon-left" [disabled]="!publishable || hasFileTypeMismatch(nonRemovedFiles$ | async)" (click)="openPublishModal()">
          <i class="mdi mdi-cloud-upload mdi-24px"></i>Publish Files
        </button>
      </div>
    </ams-tab>
    <ams-tab title='Upload History'>
      <ams-upload-history-list
        [files]="allFiles$ | async"
        (save)="downloadFile($event)"
        (details)="showDetails($event)">
      </ams-upload-history-list>
    </ams-tab>
  </ams-tabs>
</div>

