@import '../../../assets/sass/variables';

$green: #019d45;

.section-heading {
  position: relative;
  z-index: 2;
  margin: 10px 0;
  color: #1e415d;
  font-weight: bold;
  font-size: 18px;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
}


.file-import-group {
  padding: 0 35px;
}

.new-upload-top,
.new-upload-bottom {
  margin: 0 30px;
}

.new-upload-top,
.new-upload-bottom {
  margin-top: 20px;
}

tabset ::ng-deep .nav-tabs {
  margin: 0 30px;
}

tabset ::ng-deep .nav-tabs > li {
  margin-right: 25px;
  border-bottom: 1px solid #dddddd;
  background-color: #fafafa;
}

tabset ::ng-deep .nav-tabs > li > a {
  padding: 0 2px 5px;
  border: none;
  border-bottom: 4px solid transparent;
  color: #4e7899;
  font-weight: 700;
}

tabset ::ng-deep .nav-tabs > li > a:hover,
tabset ::ng-deep .nav-tabs > li > a:focus {
  border: none;
  border-bottom: 4px solid rgba(2, 161, 224, 0.250);
  background: transparent;
}

tabset ::ng-deep .nav-tabs > li.active > a,
tabset ::ng-deep .nav-tabs > li.active > a:hover,
tabset ::ng-deep .nav-tabs > li.active > a:focus {
  border-bottom: 4px solid #02a0e0;
  background: transparent;
  color: #0077a8;
}

.no-data {
  padding: 75px;
  text-align: center;
  font-size: 16px;
}

.bottom-button-drawer {
  padding: 25px;
  display: flex;
  justify-content: flex-end;

  button:disabled {
    background: #aaa;
    border-color: #aaa;
    cursor: not-allowed;
  }
}

.error-message {
  padding: 15px;

  &.alert-with-icon {
    padding-left:60px;
    position: relative;

    i {
      position: absolute;
      left: 15px;
      top: 5px;
    }
  }
}
