<p
  [id]="'donut-chart-label-' + id"
  class="chart-header chart-header-top mt-2 pr-5 pl-5 text-center"
  *ngIf="headerPlacement === 'top'">
  <strong>{{header}}</strong>
</p>

<div
  #chart
  [attr.aria-labelledby]="'donut-chart-label-' + id"
  [attr.aria-describedby]="'donut-chart-description-' + id">
</div>

<p
  [id]="'donut-chart-label-' + id"
  class="chart-header chart-header-bottom pr-5 pl-5 text-center"
  *ngIf="headerPlacement === 'bottom'">
  <strong>{{header}}</strong>
</p>

<div [id]="'donut-chart-description-' + id" class="chart-description d-none">{{description}}</div>
