th {
  font-size: 15px;
}

button {
  padding: 0;
  border: none;
  background: transparent;
}

.custom-tooltip-data {
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper .tooltip-container {
  position: absolute;
  right: 10px;
  bottom: 40px;
  z-index: 1;
  visibility: hidden;
  padding: 15px 15px 10px;
  min-width: 200px;
  border-radius: 6px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  color: #333333;
  text-align: center;
}

.triangle-down {
  width: 0;
  height: 0;
  border-top: #ffffff;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
}

.tooltip-header {
  width: 100%;
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}
.tooltip-body {
  padding-bottom: 5px;
  width: 100%;
  text-align: left;
  font-size: 14px;
}

.tooltip-wrapper:hover .tooltip-container {
  visibility: visible;
}
