<table class="styled-table">
  <thead>
  <tr>
    <th *ngFor="let header of headers" (click)="sort(header)">
      <button tooltip={{header.tooltip}}>{{header.display}}</button>
      <img src="{{header.url}}"/>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of transformedItemsArray">
    <td *ngFor="let value of item">
      <span *ngIf="!isObject(value)">{{value}}</span>



      <div *ngIf="isObject(value) && value.customtooltip && value.headers" >
        <div class="tooltip-wrapper">
          <div class="custom-tooltip-data">
            <span *ngFor="let header of value.headers" > {{value[header.mapTo]}} </span>
          </div>
          <div class="tooltip-container">
            <div class="tooltip-section" *ngFor="let section of value.headers">
              <div class="tooltip-header" [ngStyle]="{'color':section.color || '#000000'}">{{section.display}}</div>
              <div class="tooltip-body">{{value[section.mapTo]}}</div>
            </div>
            <div class="triangle-down"></div>
          </div>

        </div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
