<p [id]="'bar-chart-label-' + id" class="chart-header mt-2 pr-5 pl-5 text-center">
  <strong>{{header}}</strong>
</p>

<div
  #chart
  [attr.aria-labelledby]="'bar-chart-label-' + id"
  [attr.aria-describedby]="'bar-chart-description-' + id">
</div>

<div [id]="'bar-chart-description-' + id" class="chart-description d-none">{{description}}</div>
