@import '../../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

:host {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
}
