.bubble-select {
  position: relative;

  height: 36px;
  line-height: 32px;

  select {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    padding: 0 32px 0 18px;
    min-width: 200px;
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid #c0ced7;
    border-radius: 18px;
    background-color: #ffffff;
    color: #00395e;
    font-weight: bold;
    cursor: pointer;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
  }

  select::-ms-expand {
    display: none;
  }

  .bubble-select-icon {
    position: absolute;
    top: 0;
    right: 12px;
    display: flex;
    align-items: center;
    height: 100%;
    pointer-events: none;
  }
}

label {
  margin-bottom: 4px;
  color: #767676;
  text-transform: uppercase;
}
