<div class="sb-dropdown">
  <label>
    <ng-content></ng-content>
  </label>

  <div class="bubble-select">
    <select aria-label="dropdown list" [ngModel]="selectedValue" (ngModelChange)="onChange($event)">
      <option *ngFor="let item of items" [value]="item.value">{{ item.label }}</option>
    </select>
    <i class="bubble-select-icon fas fa-chevron-down"></i>
  </div>
</div>
