<div class="wrapper">
  <div aria-label="Drag and drop or click to browse and locate files" [ngClass]="{ 'dragged-over': draggedOver, disabled: disabled }"
       class="drag-area mb-4"
       [attr.disabled]="disabled ? 'disabled': null"
       (click)="clickWrapper($event, label)"
       (drop)="filesDropped($event)"
       (dragover)="dragIn($event)"
       (dragenter)="dragIn($event)"
       (dragleave)="dragOut($event)"
       (dragend)="dragOut($event)">
    <label #label (dragover)="draggedOver = true" [attr.disabled]="disabled ? 'disabled': null">
      <input type="file" [multiple]="multiple"
             [disabled]="disabled"
             (change)="filesChanged($event)"/>
      <div class="drag-drop">Drag &amp; Drop</div>
      files of the same type (PAC or Source) or <span class="btn-link">browse</span>
    </label>
  </div>
</div>
