@import '../../../assets/sass/variables';

$dragOverAccent: #009bdf;
$dragOverMain: #f2fbfe;
$defaultAccent: #e0e4e8;
$defaultMain: #ffffff;

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  .drag-area {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    width: 100%;
    border: 2px dashed #c3cbd2;
    border-radius: 8px;
    background-color: #ffffff;
    cursor: pointer;
    min-height: 120px;
    transition: $defaultTransition;

    &:hover {
      background-color: #eaf9ff;
      border-color: $dragOverAccent;
    }

    &.disabled:before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      background: rgba(242, 242, 242, 0.8);
      content: '';
    }

    &.disabled {
      cursor: default;
    }

    &.dragged-over {
      border-color: $dragOverAccent;
      background-color: $dragOverMain;
    }

    label {
      margin-bottom: 0;
      text-align: center;
      font-weight: normal;
      cursor: pointer;
      color: #61798d;
      font-size: 14px;

      * {
        pointer-events: none;
      }

      &.input-focused {
        outline: 1px dotted #000000;
        outline: -webkit-focus-ring-color auto 5px;
      }

      > input {
        position: absolute;
        z-index: -1;
        overflow: hidden;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
      }

      .drag-drop {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 8px;
        color: #1f425e;
      }

      .btn-link {
        font-weight: bold;
        color: #00a0e0;
      }
    }

    &:hover label .drag-text strong {
      color: #009be9;
    }

    &.disabled label .drag-text strong {
      color: #007bc3;
    }
  }
}

.btn-primary {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #00a0df;
  font-weight: 500;
}
