@import '../../../assets/sass/variables';

.snapshot-container {
  min-height: 120px;
}

.main-content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.snapshot-dialog {
  overflow: hidden;
  padding: 15px 15px 5px;
  max-width: 100vw;
  border-radius: 5px;
  background-color: #ffffff;

  .body {
    input {
      padding: 5px;
      width: 83vh;
      border: 1px solid #cccccc;
      border-radius: 10px;
    }
  }

  .footer {
    display: flex;
    float: right;
    padding: 15px 20px;

    button {
      margin: 3px 5px;
      padding: 0 15px;
      height: 35px;
      border: none;
      border-radius: 15px;
      background-color: unset;
      color: #1c4160;
      font-weight: 700;
    }

    .confirm-btn {
      background-color: #d43f3a;
      color: #ffffff;
    }

    .cancel-btn {
      border: none;
      background-color: transparent;
      color: #007db8;
      text-align: center;
    }
  }
}

.processing {
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    content: '';
  }

  .processing-spinner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    overflow: show;
    margin: auto;
    width: 2em;
    height: 2em;

    .processing-text {
      margin-left: -15px;
      padding-top: 30px;
      width: 150px;
      color: #00008b;
      text-align: center;
    }

    .spinner {
      width: 120px;
      height: 120px;
      border: 16px solid #00008b;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      animation: spin 2s linear infinite;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.identify {
  margin-right: 10px;
  color: #ffffff;
}

.card-top {
  color: #757575;
}

.cards {
  margin-bottom: 15px;
  font-weight: bold;
}

.card-button {
  margin-right: 3px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background: transparent;
}

.checked {
  margin-right: 20px;
  margin-left: 5px;
}

.rerun {
  margin-left: 5px;
}

.qpp {
  font-weight: bold;
}

.notes {
  font-weight: bold;
}

textarea {
  padding: 10px;
  border-color: #d3d3d3;
  border-radius: 5px;
}

.box1 {
  margin: 5px;
  font-weight: bold;
}

.box {
  margin: 5px 0;
  font-weight: bold;
}

.active-snapshot {
  margin: 5px;
}

.dialog {
  color: #808080;
  text-align: center;
  font-size: 30px;
}

.reject {
  color: #007db8;
  text-align: center;
}

.reject-confirm {
  text-align: center;
}

.title {
  font-size: 10.5px;
}

.button-approve {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #31b0d5;
  color: #ffffff;
}

.button-initiate {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background: #31b0d5;
  color: #ffffff;
}

.button-reject {
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background: #ffffff;
  color: #d43f3a;
}

.check {
  text-align: center;
}

.checking {
  margin-right: 10px;
}

.reviewed {
  color: #757575;
  text-align: center;
}

.download {
  margin: 15px;
  color: #007db8;
  text-align: center;
  cursor: pointer;
}

.diagnostics {
  color: #757575;
  text-align: center;
}

.start {
  text-align: center;
}
