<div class="snapshot-container" *ngIf="true">
  <div class="default-page-header blue-background">
    <div>
      Snapshot
    </div>
  </div>

  <accordion>
    <accordion-group #group class="header" [isOpen]="isFirstOpen">
      <div accordion-heading>
        <i
          class="identify fas"
          [ngClass]="group?.isOpen ? 'fa-chevron-down': 'fa-chevron-right'">
        </i>
        Identify Snapshot
      </div>
      <div class="row between-xs" class="card-top">
        <div class="col-xs-3">
          <div class="box">
            <div class="cards">
              <button class="card-button" tooltip="Quality Payment Program">QPP
              </button>
              Year
            </div>
            <p>2017</p>
            <br>
            <br>
            <div class="cards"> Snapshot Run</div>
            <input type="radio" name="run" value="firstrun" [(ngModel)]="snapshotRun" checked="checked">
            <span class="checked">First Run</span>
            <input type="radio" name="run" value="rerun" [(ngModel)]="snapshotRun"> <span class="rerun">Re-Run</span>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="box">
            <div class="qpp">
              <button class="card-button" tooltip="Qualified Provider">QP
              </button>
              Performance Period
            </div>
            <div class="btn-group ams-btn-group">
              <label class="btn btn-info" [(ngModel)]="qpPeriod" btnRadio="Predictive">Predictive</label>
              <label class="btn btn-info" [(ngModel)]="qpPeriod" btnRadio="Initial">Initial</label>
              <label class="btn btn-info" [(ngModel)]="qpPeriod" btnRadio="Second">Second</label>
              <label class="btn btn-info" [(ngModel)]="qpPeriod" btnRadio="Final">Final</label>
            </div>
          </div>
        </div>
        <div class="col-xs-3">
          <div class="box">
            <label class="notes">Notes</label>
            <span> - Optional</span>
            <br>
            <textarea rows="5" cols="50"
                      [(ngModel)]="initNotes" name="initNotes" placeholder="Enter notes here (500 character limit)">
          </textarea>
          </div>
        </div>
        <div class="col-xs-12">
          <hr>
        </div>
      </div>
      <div class="start col-xs-12">
        <button [disabled]="!qpPeriod"
                type="button" class="button-initiate btn btn-primary btn-sm" (click)="initiateSnapshot()">Initiate
          Snapshot
        </button>

      </div>

    </accordion-group>
    <accordion-group #group1 [isOpen]="isOpen">
      <div accordion-heading>
        <i
          class="identify fas"
          [ngClass]="group1?.isOpen ? 'fa-chevron-down': 'fa-chevron-right'">
        </i>
        Review & Approve Snapshot
      </div>
      <div class="diagnostics">Review the Snapshot details outside of AMS, certify you have
        reviewed Snapshot Diagnostics, and approve or reject.
      </div>
      <div class="download" (click)="downloadSnapshot()">Download Snapshot
        Diagnostics
      </div>
      <div class="reviewed"><input type="checkbox" [disabled]="!statusReview"
                                   [(ngModel)]="checked" class="checking"
                                   (change)='onChecked()'>I certify that I have reviewed the
        results of the Snapshot.
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="check">
        <button [disabled]="!checked"
                type="button" class="button-reject btn btn-danger btn-sm" (click)="rejectSnapshot()">Reject
        </button>
        <button [disabled]="!checked"
                type="button" class="button-approve btn btn-primary btn-sm" (click)="approveSnapshot()">Approve
        </button>

      </div>
    </accordion-group>
    <accordion-group #group2 [isOpen]="isOpen1">
      <div accordion-heading>
        <i
          class="identify fas"
          [ngClass]="group2?.isOpen ? 'fa-chevron-down': 'fa-chevron-right'">
        </i>
        History of Snapshots
      </div>
      <ams-sortable-table *ngIf="(results)?.length > 0" [headers]="tableHeaders" [items]="results"></ams-sortable-table>
    </accordion-group>
  </accordion>
</div>

<div class="processing" *ngIf="(processing | async)">
  <div class="processing-spinner">
    <div class="spinner"></div>
    <div class="processing-text">{{loadingMessage}}</div>
  </div>
</div>

<ams-simple-modal *ngIf="showNewSnapshotDialog">
  <div class="snapshot-dialog">
    <div class="body">
      <div class="dialog"><i class="fas fa-exclamation-triangle"></i></div>
      <h4 class="reject">Reject Snapshot</h4>
      <p class="reject-confirm">Are you sure you want to reject this snapshot?</p>
      <div class="title row between-xs">
        <div class="col-xs-3">
          <div class="box1">
            QPP Year
          </div>
          <p class="active-snapshot">{{activeSnapshot.qppYear}}</p>
        </div>
        <div class="col-xs-5">
          <div class="box">
            QP Performance Period
          </div>
          <p>{{activeSnapshot.qpPeriod}}</p>
        </div>
        <div class="col-xs-4">
          <div class="box">
            Initiated Date/Time
          </div>
          <p>{{activeSnapshot.createdAt}}</p>
        </div>
      </div>
      <textarea rows="5" cols="50"
                [(ngModel)]="rejectNotes" placeholder="Enter notes and reasons for rejection"></textarea>
    </div>
    <div class="footer">
      <button (click)="cancelSnapshot()" class="cancel-btn">Cancel</button>
      <button (click)="onReject()" class="confirm-btn">Reject</button>
    </div>
  </div>
</ams-simple-modal>
