<p [id]="'typographic-chart-' + id" class="chart-header text-center" *ngIf="header">
  <strong>{{header}}</strong>
</p>

<div
  class="typographic-overview d-flex flex-row align-items-center justify-content-center"
  [attr.aria-labelledby]="'typographic-chart-' + id">
  <div class="text-center mr-3 chart-icons">
    <i *ngFor="let icon of icons" class="d-block fas" [ngClass]="icon"></i>
  </div>
  <div class="chart-text text-center">
    <h1 class="m-0 text-primary primary-text">
      {{primaryText}}
      <small class="primary-small-text" *ngIf="primarySmallText">{{primarySmallText}}</small>
    </h1>
    <small class="secondary-text">{{secondaryText}}</small>
  </div>
  <div class="chart-percentage-change" *ngIf="percentageChange > 0">
    <i class="fas" [ngClass]="getPercentageChangeDirection()"></i>
    <small>{{percentageChange}}%</small>
  </div>
</div>

<div [id]="'typographic-chart-' + id" class="chart-description d-none" *ngIf="description">{{description}}</div>
