@import '../../../../assets/sass/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.chart-icons {
  .fas {
    color: #81ceeb;
    font-size: 40px;
  }
  .fas:last-child {
    line-height: 0.5;
  }
}

.primary-text {
  font-size: 52px;
}

.secondary-text {
  color: #8397a6;
  font-size: 14px;
}

.chart-percentage-change {
  margin-left: 8px;
  transform: translateY(-25px);
  .fas {
    transform: translateY(2px);
    &.positive {
      color: $green;
    }
    &.negative {
      color: $red;
    }
  }
  small {
    margin-left: 4px;
    color: #8397a6;
    font-size: 14px;
  }
}
