<h3>NPI: {{ data?.npi }}</h3>

<div class="metadata"></div>

<button *ngIf="!showingRaw" (click)="showingRaw = true">Show raw</button>
<button *ngIf="showingRaw" (click)="showingRaw = false">Hide raw</button>
<pre *ngIf="showingRaw">{{ data | json }}</pre>

<table class="styled-table">
  <tr>
    <th>APM ID</th>
    <th>APM Name</th>
    <th>Entity ID</th>
    <th>Entity Name</th>
    <th>Entity TIN</th>
    <th>Subdivision ID</th>
    <th>Subdivision Name</th>
    <th>QP Status</th>
    <th>Advanced APM Flag</th>
    <th>MIPS APM Flag</th>
    <th>Provider Relationship Code</th>
    <th>LVT Flag</th>
  </tr>

  <ng-container *ngFor="let tinData of data?.tins">
    <tr *ngFor="let entityData of tinData.entities">
      <td>{{entityData.apm_id}}</td>
      <td>{{entityData.apm_name}}</td>
      <td>{{entityData.entity_id}}</td>
      <td>{{entityData.entity_name}}</td>
      <td>{{entityData.entity_tin}}</td>
      <td>{{entityData.subdivision_id}}</td>
      <td>{{entityData.subdivision_name}}</td>
      <td>{{data.qp_status}}</td>
      <td>{{entityData.advanced_apm_flag}}</td>
      <td>{{entityData.mips_apm_flag}}</td>
      <td>{{entityData.provider_relationship_code}}</td>
      <td>{{entityData.lvt_flag}}</td>
    </tr>
  </ng-container>
</table>
