<div class="header">
  <h3>Welcome {{data.name}}!</h3>
  <p>Last login: {{data.lastLogin | date:'mediumDate'}}</p>
</div>

<ul>
  <li>Role: {{data.role}}</li>
  <li>Company/Division: {{data.companyOrDivision}}</li>
  <li>Models Associated/IDs: {{data.modelsAssociatedOrIds}}</li>
  <li>Other Details: {{data.otherDetails}}</li>
  <li>Current Status of Recent Submissions: {{data.currentStatusOfRecentSubmissions}}</li>
</ul>
