$blue_button: #1aa1dc;

form {
  padding: 20px 30px 0 20px;
}

label > * {
  font-weight: initial;
  margin-top: 5px;
}

label {
  display: inline-flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  margin: 0 10px;
  font-size: 14px;
}

.input-elements {

  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  padding-bottom: 25px;

  input {
    height: 44px;
  }
}

.lengthy-input {
  flex-grow: 1;
}

.stubby-input {
  flex-basis: 130px;
}

.basic-search, .advanced-search {
  :first-child { margin-left: 0px }
  :last-child { margin-right: 0px }
}

.advanced-search {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.advanced-search label {
  width: 17%;
}

.input-elements > .basic-search {
  display: flex;
  justify-content: space-around;
}

.show-more-search {
  display: inline-block;
  margin-right: auto;
}

.action-controls {
  align-items: center;
  display: flex;
  padding: 10px 0 15px;

  button {
    padding: 8px 28px;
    border: none;
    border-radius: 2em;
    background-color: $blue_button;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
  }

  .clear-button {
    font-weight: 500;
    background-color: transparent;
    color: $blue_button;
    font-size: 20px;
  }
}

.missing-required-field {
  padding: 10px;
  color: #e72731;
  text-align: center;
  font-style: oblique;
}
