<form role="search" [formGroup]="searchForm">
  <div class="input-elements">
    <div class="basic-search">
      <label class="lengthy-input">
        NPI
        <ams-comma-separated-input
          formControlName="npis"
          [placeholder]="'e.g. 1003006503, 1003006551'">
        </ams-comma-separated-input>
      </label>

      <label class="lengthy-input">
        TIN
        <ams-comma-separated-input
          formControlName="tins"
          [placeholder]="'e.g. 917764972, 49999300'">
        </ams-comma-separated-input>
      </label>

      <label>
        Entity ID
        <ams-comma-separated-input
          formControlName="entityIds"
          [placeholder]="'e.g. 917764972'">
        </ams-comma-separated-input>
      </label>

      <label class="lengthy-input">
        Model Name
        <ams-comma-separated-input
          formControlName="modelNames"
          [placeholder]="'e.g. Independence at Home Demonstration'">
        </ams-comma-separated-input>
      </label>

      <label class="stubby-input">
        Model ID
        <ams-comma-separated-input
          formControlName="modelIds"
          [placeholder]="'e.g. 14, 27'">
        </ams-comma-separated-input>
      </label>

      <label class="lengthy-input">
        Subdivision Name
        <ams-comma-separated-input
          formControlName="subdivisionNames"
          [placeholder]="'e.g. MSSP ACO - Track 1'">
        </ams-comma-separated-input>
      </label>

      <label class="stubby-input">
        Subdivision ID
        <ams-comma-separated-input
          formControlName="subdivisionIds"
          [placeholder]="'e.g. 14, 27'">
        </ams-comma-separated-input>
      </label>
    </div>

    <div *ngIf="advancedSearchOpen" class="advanced-search">
      <label>
        QP Status
        <ng-select
          formControlName="qpStatuses"
          [multiple]="true"
          placeholder="Select all that apply">
          <ng-option [value]="'Y'">Y - Met the QP Threshold</ng-option>
          <ng-option [value]="'P'">P - Met the Partial QP Threshold</ng-option>
          <ng-option [value]="'N'">N - Did not meet QP Threshold</ng-option>
        </ng-select>
      </label>

      <label>
        LVT Flag
        <ng-select
          formControlName="lvtFlags"
          placeholder="Select all that apply">
          <ng-option [value]="'Y'">Y - Group met or fell below LVT</ng-option>
          <ng-option [value]="'N'">N - Group exceeded LVT</ng-option>
        </ng-select>
      </label>

      <label>
        Small Status Flag
        <ng-select
          formControlName="smallStatusFlags"
          placeholder="Select all that apply">
          <ng-option [value]="'Y'">Y - APM Entity deemed Small</ng-option>
          <ng-option [value]="'N'">N - APM Entity not Small</ng-option>
        </ng-select>
      </label>

      <label>
        Performance Year
        <ng-select
          formControlName="performanceYears"
          [multiple]="true"
          placeholder="Select all that apply">
          <ng-option [value]="'2017'">2017</ng-option>
          <ng-option [value]="'2018'">2018</ng-option>
        </ng-select>
      </label>

      <label>
        Snapshot
        <ng-select
          formControlName="snapshots"
          [multiple]="true"
          placeholder="e.g. Lorem Ipsum">
          <ng-option [value]="'P'">P - Preliminary Snapshot</ng-option>
          <ng-option [value]="'1'">1 - First Snapshot</ng-option>
          <ng-option [value]="'2'">2 - Second Snapshot</ng-option>
          <ng-option [value]="'3'">3 - Third Snapshot</ng-option>
          <ng-option [value]="'4'">4 - Fourth Snapshot</ng-option>
        </ng-select>
      </label>
    </div>
  </div>

  <div class="action-controls">
    <button type="button" class="clear-button show-more-search " (click)="toggleAdvancedSearch($event)">
      {{advancedSearchOpen ? 'Hide' : 'Show' }} Advanced Search
    </button>
    <button type="button" class="clear-button" (click)="clear()">Clear</button>
    <button type="button" (click)="search()"><i class="fas fa-search" aria-hidden="true"></i> Search</button>
  </div>
</form>





