<div class="manage-models-table">
  <div class="model-data-list" *ngIf="models.length > 0">
    <div class="model-card-row"
         *ngFor="let model of models; let i = index"
         [ngClass]="{ selected: (selectedModelId === model.id) }"
         id="{{model.id}}">
      <a class="model-card-wrapper" [routerLink]="['/manage-models', model.id]">
        <div class="model-card" [ngClass]="{'no-hover':expander}">

          <div class="data-container">

            <div class="model-card-header">
              <div class="model-card-header-title"  >
                {{model.name}}
              </div>
              <div class="model-card-header-details model-card-detail">
                <span *ngIf="model.shortName && model.shortName !== ''"><strong>Nickname: </strong>{{model.shortName}} <span class="inline-spacer">&bull;</span> </span>
                <span *ngIf="model.id && model.id !== ''"><strong>Model ID: </strong>{{model.id}} <span class="inline-spacer">&bull;</span> </span>
                <strong>Status: </strong>{{model.status}}
              </div>
            </div>
            <div class="model-card-body" [class.expanded]="'expanded' === expandedList['expanded_' + i]">
              <div class="model-card-body-item">
              <span class="model-card-attribute model-card-attribute-name model-card-detail">
                <strong>ADVANCED APM</strong>
              </span>
                <span class="model-card-attribute model-card-attribute-value">
                {{model.advancedApmFlag | yesNoPartial}}
              </span>
              </div>
              <div class="model-card-body-item">
              <span class="model-card-attribute model-card-attribute-name model-card-detail">
                <strong>MIPS APM</strong>
              </span>
                <span class="model-card-attribute model-card-attribute-value">
                {{model.mipsApmFlag | yesNoPartial}}
              </span>
              </div>
              <div class="model-card-body-item">
              <span class="model-card-attribute model-card-attribute-name model-card-detail">
                <strong>START DATE</strong>
              </span>
                <span class="model-card-attribute model-card-attribute-value">
                {{model.startDate | moment:"MM/DD/YYYY":false}}
              </span>
              </div>
              <div class="model-card-body-item">
              <span class="model-card-attribute model-card-attribute-name model-card-detail">
                <strong>END DATE</strong>
              </span>
                <span class="model-card-attribute model-card-attribute-value">
                {{model.endDate | moment:"MM/DD/YYYY":false}}
              </span>
              </div>

            </div>
          </div>

          <div class="icon-container" [class.expanded]="'expanded' === expandedList['expanded_' + i]"
               (click)="toggleModelCard($event, i)" (mouseover)="onExpander($event)"
               (mouseout)="onExpander($event)">
            <span
              class="fas"
              [ngClass]="{ 'fa-chevron-up': (expandedList['expanded_' + i] && 'expanded' === expandedList['expanded_' + i]), 'fa-chevron-down': (!expandedList['expanded_' + i] || 'expanded' !== expandedList['expanded_' + i]) }">
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
