.manage-models-table {
  display: flex;
  flex-wrap: wrap;
}

.data-container {
  width: 90%;
}

.icon-container {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 3px 5.5px;
  width: 25px;
  height: 25px;
  border: 1px solid #cccccc;
  border-radius: 25px;
  background-color: #ffffff;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.icon-container.expanded {
  border: solid 1px #abdff6;
  background-color: #e5f6fd;
}

.icon-container:hover {
  border: 1px #abdff6;
  border-style: solid;
  background-color: #e5f6fd;
}

.icon-container:hover + .model-card {
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.model-card {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 9px 15px;
  padding: 10px 10px 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  background-color: #ffffff;

  .icon-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.model-card-headers {
  @extend .model-card;
  border-bottom: 1px solid #dddddd;
}

.model-card-row {
  border: 1px transparent;
  border-style: solid none;
}

.model-card:not(.no-hover):hover {
  border: 1px #abdff6;
  border-style: solid;
  background-color: #e5f6fd;
  cursor: pointer;
}

.model-card:hover .edit-row-icons {
  visibility: visible;
  padding-left: 7px;
  color: #829eb2;
  font-size: 16px;
}

.model-data-list, .model-data-details {
  flex-grow: 1;
}

.model-data-list.detail-view {
  flex-basis: 40%;
}

.hide {
  display: none !important;
}

.model-card-row {
  &.selected {
    > .model-card-wrapper {
      display: block;
      box-shadow: inset -5px 0 0 #6ac9f1;
    }

    .model-card {
      border: 1px #abdff6;
      border-style: solid;
      background-color: #e5f6fd;
    }
    .model-card-detail {
      color: #000000;
    }
  }

  a {
    text-decoration: none;
  }
}

.model-card-header {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .model-card-header-title {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    width: 100%;
    color: #000000;
    font-weight: bold;
    font-size: 16px;
  }
}

.model-card-detail {
  color: #677987;
  font-size: 12px;
}

.model-card-body {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: none;
  flex-wrap: wrap;
  margin-top: 10px;

  &.expanded {
    display: flex;
  }
}

.button {
  padding: 7px 21px;
  border: 1px solid #000000;
  border-radius: 20px;
  font-weight: bold;
}

.no-models {
  padding: 81px;
  width: 100%;
  color: #757575;
  text-align: center;
  font-size: 4.5rem;
}

.model-card-body-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;
  width: 50%;
}

.model-card-attribute {
  display: flex;
  padding: 2px 0;
  width: 100%;
}

.model-card-attribute-value {
  color: #000000;
  font-size: 13px;
}

.inline-spacer {
  display: inline-block;
  margin: 0 5px;
}
