/* You can add global styles to this file, and also import other style files */
@import 'assets/sass/fonts';
@import 'assets/sass/variables';
@import '~animatewithsass/animate.scss';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@mdi/font/css/materialdesignicons.css';
@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~saturn-datepicker/bundle.css';
@import '~spinkit/scss/spinkit.scss';
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import 'assets/sass/animate';
@import 'assets/sass/charts';
@import 'assets/sass/datepicker';
@import 'assets/sass/forms';
@import 'assets/sass/select-input';
@import 'assets/sass/table';

body {
  overflow-y: hidden;
  font-family: $default-font;
  font-size: 15px;
}

.cdk-overlay-container {
  z-index: 1005 !important;

  tbody {
    tr {
      height: auto;
      font-size: inherit;
    }
  }
  thead {
    th {
      height: auto;
    }
  }
}

.record-status-tooltip-container .tooltip-inner {
  max-width: initial;
  background: initial;
  color: #808080;
}

.record-status-tooltip-container.tooltip.in {
  opacity: 1;
}

.fas.fa-chevron-down,
.fas.fa-chevron-right,
.fas.fa-chevron-left,
.fas.fa-chevron-up {
  color: #2e74bb;
}

.blue-background {
  background: #00a1bf;
  background: linear-gradient(to right, $banner_gradient_start 35%, $banner_gradient_end 100%);
}

.default-page-header {
  display: flex;
  justify-content: space-between;
  padding: 15px 35px 20px;
  min-height: 120px;
  color: #f5f5f5;
  font-weight: 700;
  font-size: 30px;
}

.last-login {
  color: #bfd7e7;
  font-size: 14px;

  .fas, .far {
    color: #bfd7e7;
  }
}

.table-rounded-corners {
  border: 1px solid #ccc;
  border-radius: 6px;

  th {
    &:first-child {
      border-radius: 6px 0 0 0;
    }
    &:last-child {
      border-radius: 0 6px 0 0;
    }
  }

  ams-sortable-column {
    &:first-child {
        border-radius: 6px 0 0 0;
    }
    &:last-child {
        border-radius: 0 6px 0 0;
    }
  }

  tbody {
    tr {
      &:last-child {
        td {
          &:first-child {
            border-radius: 0 0 0 6px;
          }
          &:last-child {
            border-radius: 0 0 6px 0;
          }
        }
      }
    }
  }
}

.styled-table {
  width: 100%;
  line-height:1;

  th, td {
    padding: 8px 15px;
    text-align: left;
  }

  i {
    color: #748999;
    transition: $defaultTransition;
  }

  thead {
    border-bottom: 1px solid #d1d1d1;
    color: #748999;
    background: #fff;

    th {
      height: 50px;
      text-transform: uppercase;
      vertical-align: middle;
      font-size: .85rem;
      border-bottom: none;
      line-height: 1;

      .mdi-information {
        vertical-align: -2px;
        opacity: 0.65;
        margin-left: 5px;

        &:hover {
          opacity: 1;
        }
      }

      &:last-child {
        padding: 0 15px;
      }
    }
  }

  tbody {

    tr {
      height: 75px;

      &:nth-child(even) {
        background-color: #ffffff;
      }

      &:nth-child(odd) {
        background-color: #f7f7f7;
      }
    }
  }

  .mdi-delete {
    cursor: pointer;

    &:hover {
      color: #d71920;
    }
  }
}

.form-error {
  padding: 5px 8px;
  border: 1px solid #ff0000;
  border-radius: 5px;
  background: rgba(255, 0, 0, 0.15);
  color: #000000;
}

.card > .card-header {
  background-color: #577287;
  color: #f5f5f5;
}

.btn-group > .btn {
  border-color: #d3d3d3;
}

.btn-group.ams-btn-group > .btn {
  margin-top: 10px;
  padding: 7px 20px;
  border-color: #d3d3d3;
  background: #ffffff;
  color: #757575;
}

.btn-group.ams-btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.btn-group.ams-btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.btn-info.active {
  background-color: #31b0d5;
  color: #ffffff;
}

// Borders
@media (min-width: 1200px) {
  .border-right-xl {
    border-right: 1px solid #dee2e6;
  }
}

// Buttons
a, button {
  transition: $defaultTransition;

  &:not(.disabled), &:not([disabled]) {
    cursor: pointer;
  }
}

.btn {
  border-radius: 100px;
  padding: 12px 35px;
  font-weight: 500;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-decoration: none;

  &.btn-primary {
    background: #009ddb;
    border-color: #009ddb;

    &:hover {
      background: #007fb1;
      border-color: #007fb1;
    }
  }
  &.btn-warning {
    background: #ffea5b;
    color: #1f425e;
    border-color: #ffea5b;

    &:hover {
      background: #fff190;
      border-color: #fff190;
    }
  }

  &.btn-default {
    background: #eaeff3;
    border-color: #c7d0d7;
    color: #1f425e;

    &:hover {
      background: white;
    }
  }

  &.btn-link {
    color: #00a0df;
    background: transparent;
    border-color: transparent;

    &:hover {
      background: #eaeff3;
      border-color: #eaeff3;
      text-decoration: none;
    }
    &:active,
    &:focus {
      text-decoration: none;
    }
  }

  &.btn-icon-left {
    padding: 8px 35px 8px 25px;

    i {
      margin-right: 8px;
    }
  }

  &.btn-icon-right {
    padding: 8px 25px 8px 35px;

    i {
      margin-left: 8px;
    }
  }

  i {
    opacity: 0.65;
  }
}


// Cursors
.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: move;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

// Forms


::placeholder {
  color: #aaa;
}
.form-control:focus {
  box-shadow: none !important;
}

// Typography
.text-anchor-start {
  text-anchor: start;
}

.text-anchor-middle {
  text-anchor: middle;
}

.text-anchor-end {
  text-anchor: end;
}

.label-sm {
  color: #777;
  font-size: 13px;
}

// Multiselect dropdown
.filter-option > .mat-pseudo-checkbox {
  display: none !important;
}

.filter-sidenav .mat-list-item-content {
  padding: 0 10px !important;
  font-size: 0.875rem !important;
}

.filter-sidenav .mat-select-trigger {
  font-size: 1rem !important;
}

// Modal
.no-padding-dialog .mat-dialog-container {
  padding: 0;
}

.mat-dialog-container {
  border-radius: 6px !important;
}

// Miscellaneous
[hidden] {
  visibility: hidden;
}
.box-shadow-none {
  box-shadow: none !important;
}

.mdi-32px {
  font-size: 32px;
}

.mdi-20px {
  font-size: 20px;
}

.mdi-64px {
  font-size: 64px;
}

.text-muted {
  color: #748999 !important;
}

.tooltip {
  min-width: 86px;
  line-height: 1.1;
}

.dropdown-menu {
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  font-size: 15px;

  .dropdown-item {
    &:active,
    &:hover {
      background-color: #f2fbff;
    }
  }
}

.alert {
  border-radius: 6px;

  p {
    margin-bottom:0;
  }
}
.alert-danger {
  background: #ffedee;
}

.text-success-dark {
  color: #088e4b;
}
.text-warning-dark {
  color: #948011;
}
.text-error-dark {
  color: #8c0e0d;
}

.dropdown-item {
  padding: 0.5rem 1.5rem;
}
