.tick {
  line {
    fill: none;
    stroke: $gray-500;
    stroke-width: 1;
    shape-rendering: crispEdges;
  }
  text {
    font-size: 12px;
    fill: #212529;
    padding: 12px;
  }
}
.y-axis-label, .x-axis-label {
  font-size: 12px;
  fill: $gray-500;
}
.vertical-grid-line, .horizontal-grid-line {
  fill: none;
  stroke: $gray-200;
  stroke-width: 1;
  stroke-dasharray: 4, 4;
  shape-rendering: crispEdges;
}
.extended-y-line, .extended-x-line {
  fill: none;
  stroke: $gray-300;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.bar-chart {
  .bar {
    shape-rendering: crispEdges;
  }
  .y-axis {
    .tick {
      text {
        font-size: 14px;
      }
    }
  }
  .axis {
    path {
      display: none;
    }
  }
  .tick {
    line {
      display: none;
    }
  }
  .adjust-upwards {
    transform: translate(0, -10px);
  }
}
polyline {
  opacity: 0.3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}
.chart-center-text-sup {
  font-size: 11px;
  color: #8397a6;
  fill: #8397a6;
  font-weight: 500;
}
.chart-center-text-primary {
  font-size: 50px;
}
.chart-center-text-secondary {
  font-size: 22px;
  color: #8397a6;
  fill: #8397a6;
  font-weight: 500;
}
.chart-center-text-sub {
  font-size: 18px;
  color: #8397a6;
  fill: #8397a6;
  font-weight: 500;
}
.vertical-marker-container {
  .vertical-marker {
    stroke: $gray-300;
    stroke-width: 1;
    fill: none;
  }
  .data-point-highlighter {
    fill: $white;
    stroke-width: 2;
  }
}
.chart-tooltip-background {
  fill: rgba($white, 0.97);
  stroke: $gray-300;
  stroke-width: 1;
  border-radius: 4px;
}
