
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Light.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-Light.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-Light.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-Light.woff2') /* Super Modern Browsers */;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-LightItalic.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-LightItalic.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-LightItalic.woff2') /* Super Modern Browsers */;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Regular.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-Regular.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-Regular.woff2') /* Super Modern Browsers */;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Italic.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-Italic.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-Italic.woff2') /* Super Modern Browsers */;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Medium.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-Medium.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-Medium.woff2') /* Super Modern Browsers */;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-MediumItalic.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-MediumItalic.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-MediumItalic.woff2') /* Super Modern Browsers */;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Bold.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-Bold.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-Bold.woff2') /* Super Modern Browsers */;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-BoldItalic.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-BoldItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-BoldItalic.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-BoldItalic.woff2') /* Super Modern Browsers */;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Black.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-Black.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-Black.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-Black.woff2') /* Super Modern Browsers */;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-BlackItalic.eot') /* IE9 Compat Modes */;
  src: url('/assets/fonts/Rubik/Rubik-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/Rubik/Rubik-BlackItalic.woff'), /* Pretty Modern Browsers */
  url('/assets/fonts/Rubik/Rubik-BlackItalic.woff2') /* Super Modern Browsers */;
  font-weight: 900;
  font-style: italic;
}
