@import './variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

// Checkboxes
.ams-checkbox {
  padding-left: 2.25rem;
  .custom-control-label {
    &:before {
      top: 0.05rem;
      left: -2rem;
      width: 1.25rem;
      height: 1.25rem;
      @include border-radius(5px);
      border: solid 2px #8fa0ae;
      background-color: transparent;
    }
    &:after {
      top: 0.05rem;
      left: -2rem;
      width: 1.25rem;
      height: 1.25rem;
      @include border-radius(5px);
      border: solid 2px #8fa0ae;
    }
  }
  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      @include gradient-bg($custom-control-indicator-checked-bg);
    }
    &:after {
      background-image: $custom-checkbox-indicator-icon-checked;
    }
  }
  .custom-control-input:indeterminate ~ .custom-control-label {
    &:before {
      @include gradient-bg($custom-checkbox-indicator-indeterminate-bg);
      @include box-shadow($custom-checkbox-indicator-indeterminate-box-shadow);
    }
    &:after {
      background-image: $custom-checkbox-indicator-icon-indeterminate;
    }
  }
  .custom-control-input:disabled {
    &:checked ~ .custom-control-label:before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
    &:indeterminate ~ .custom-control-label:before {
      background-color: $custom-control-indicator-checked-disabled-bg;
    }
  }
}

// NgSelect
.ng-select.ng-select-multiple {
  font-size: 14px;
  .ng-value-container {
    padding-top: 3px !important;
  }
  .ng-placeholder {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }
  .ng-value {
    margin-bottom: 3px !important;
  }
}
.ng-select.ng-select-single {
  font-size: 14px;
  .ng-value {
    margin-top: 0 !important;
  }
  .ng-input {
    padding-top: 2px !important;
  }
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup {
  color: #333333;

  .highlighted {
    text-decoration: underline;
  }
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  color: #333333;
  &.ng-option-child {
    padding-left: 38px;
  }

  .highlighted {
    text-decoration: underline;
  }
}
