// NgSelect modification.
.ng-select {
  &.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    top: 6px;
  }
  &:not(.ng-select-multiple) .ng-select-container .ng-value-container .ng-placeholder {
    margin-top: 2px;
  }
  &.ng-select-single .ng-select-container .ng-value-container .ng-value {
    margin-top: 2px;
  }
  &.ng-select-single .ng-select-container {
    height: 38px;
  }
  .ng-select-container {
    min-height: 38px;
    border-color: #ced4da;
  }
  .ng-clear-wrapper {
    padding-top: 2px;
  }
}
