@import './variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/variables';

.ngx-datatable.bootstrap {
  font-size: 14px;
}

.first-column {
  padding-left: 1.5rem !important;
}
.last-column {
  padding-right: 1.5rem !important;
}

.sort-btn.mdi {
  margin-left: 7px;
  border: 1px solid #999999;
  border-radius: 50%;
  color: #999999;
  font-size: 18px;
}

.datatable-header {
  .datatable-row-left {
    background-color: #ffffff;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
    background-position: 100% 0;
    background-repeat: repeat-y;
  }
  .datatable-header-cell {
    padding: 0.3rem;
  }
}

.datatable-body {
  display: flex;
  flex: 1 1 auto;
  overflow-y: visible;
  width: auto !important;

  .datatable-body-row {
    &.datatable-row-even {
      .datatable-row-left {
        background-color: #f2f2f2;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
        background-position: 100% 0;
        background-repeat: repeat-y;
      }
    }
    .datatable-row-left {
      background-color: #ffffff;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAABCAYAAAD5PA/NAAAAFklEQVQIHWPSkNeSBmJhTQVtbiDNCgASagIIuJX8OgAAAABJRU5ErkJggg==);
      background-position: 100% 0;
      background-repeat: repeat-y;
    }

    .datatable-body-cell {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0.3rem;
    }
  }
}

.row-detail-header {
  padding-right: 175px;
  padding-left: 737px;
  min-height: 48px;
  border-top: 1px solid #d1d4d7;
}

.addt-info-btn {
  padding: 3px 10px 2px 15px;
  border-color: $gray-400;
  border-radius: 22px;
  background-color: transparent;
  &.active .mdi-chevron-down {
    transform: rotate(180deg);
  }

  .mdi-chevron-down {
    color: #7c98ae;
    transition: transform 0.5s ease-out;
  }
}
