$primary: #0747a6;

$action-button-background: #48ffff;
$action-button-color: #2e3192;

$sidebar_primary_color: #0747a6;
$sidebar_secondary_color: #00f9ff;
$active_primary_color: #03a0d3;
$active_secondary_color: #ffffff;

$banner_gradient_start: #00a1bf;
$banner_gradient_end: #0065b9;

$background-color-grey: #f4f4f4;

$default-font: 'Rubik', 'Helvetica', 'sans-serif';

$defaultTransition: all 0.2s linear;

$light-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;
$bold-font-weight: 700;
$black-font-weight: 900;
$black-font-weight: 900;
$black-font-weight: 900;

$spinkit-spinner-color: #949494;
